<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Thống kê học viên</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Admin</a>
            </li>
            <li class="breadcrumb-item active">Thống kê học viên</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Thống kê số lượng học viên</h4>
                <div class="crypto-buy-sell-nav">
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#buy" role="tab">
                                Biểu đồ cột
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sell" role="tab">
                                Biểu đồ đường
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content crypto-buy-sell-nav-content p-4">
                        <div class="tab-pane active" id="buy" role="tabpanel">
                          <div id="column_chart" class="apex-charts" dir="ltr"></div>  
                        </div>

                        <div class="tab-pane" id="sell" role="tabpanel">
                          <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end row -->
  <!-- <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">So sánh thông tin lượng học viên</h4>

        <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
      </div>
    </div>
  </div> -->
  <!-- end row -->
</div>
<!-- apexcharts -->
<script src="assets\libs\apexcharts\apexcharts.min.js"></script>
<script>
  var options = {
      chart: {
        height: 550,
        type: 'line',
        zoom: { enabled: !1 },
        toolbar: { show: !1 }
      },
      colors: ['#556ee6', '#34c38f', '#feb334'],
      dataLabels: { enabled: !0 },
      stroke: { width: [3, 3, 3], curve: 'straight' },
      series: [
        {
          name: 'Hồ sơ hoàn thành',
          data: [32, 28, 35, 34, 30, 34, 33, 29, 30, 36, 32, 12]
        },
        {
          name: 'Xử lý trước hạn',
          data: [23, 23, 20, 19, 18, 25, 26, 22, 21, 18, 24, 10]
        },
        {
          name: 'Đang chờ',
          data: [11, 17, 15, 15, 21, 14, 15, 18, 17, 12, 20, 6]
        }
      ],
      title: { text: 'Phân loại hồ sơ', align: 'left' },
      grid: {
        row: { colors: ['transparent', 'transparent'], opacity: 0.2 },
        borderColor: '#f1f1f1'
      },
      markers: { style: 'inverted', size: 6 },
      xaxis: {
        categories: [
          'Tháng 12',
          'Tháng 1',
          'Tháng 2',
          'Tháng 3',
          'Tháng 4',
          'Tháng 5',
          'Tháng 6',
          'Tháng 7',
          'Tháng 8',
          'Tháng 9',
          'Tháng 10',
          'Tháng 11'
        ],
        title: { text: 'Tháng' }
      },
      yaxis: { title: { text: 'Học viên (người)' }, min: 5, max: 40 },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: !0,
        offsetY: -25,
        offsetX: -5
      },
      responsive: [
        {
          breakpoint: 600,
          options: { chart: { toolbar: { show: !1 } }, legend: { show: !1 } }
        }
      ]
    },
    chart = new ApexCharts(
      document.querySelector('#line_chart_datalabel'),
      options
    );
  chart.render();

  options = {
  chart: { height: 550, type: 'bar', toolbar: { show: !1 } },
  plotOptions: {
    bar: { horizontal: !1, columnWidth: '45%', endingShape: 'rounded' }
  },
  dataLabels: { enabled: !1 },
  stroke: { show: !0, width: 2, colors: ['transparent'] },
  series: [
    {
          name: 'Hồ sơ hoàn thành',
          data: [32, 28, 35, 34, 30, 34, 33, 29, 30, 36, 32, 12]
        },
        {
          name: 'Xử lý trước hạn',
          data: [23, 23, 20, 19, 18, 25, 26, 22, 21, 18, 24, 10]
        },
        {
          name: 'Đang chờ',
          data: [11, 17, 15, 15, 21, 14, 15, 18, 17, 12, 20, 6]
        }
  ],
  colors: ['#34c38f', '#556ee6', '#f46a6a'],
  xaxis: {
    categories: [
          'Tháng 12',
          'Tháng 1',
          'Tháng 2',
          'Tháng 3',
          'Tháng 4',
          'Tháng 5',
          'Tháng 6',
          'Tháng 7',
          'Tháng 8',
          'Tháng 9',
          'Tháng 10',
          'Tháng 11'
        ],
  },
  yaxis: { title: { text: 'Học viên (Người))' } },
  grid: { borderColor: '#f1f1f1' },
  fill: { opacity: 1 },
  tooltip: {
    y: {
      formatter: function(e) {
        return  e + ' hồ sơ';
      }
    }
  }
};
(chart = new ApexCharts(
  document.querySelector('#column_chart'),
  options
)).render();
</script>
