<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
 
<!--Start section content-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
    
      <div class="content">    
  <h1 class="title page-title">Các khóa học lái xe ô tô hạng B2</h1>
    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
      <div class="content">
    <div class="row row-list-desc">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="top-desc">
<p>Dành cho những học viên muốn học lái xe ôtô B2. Phần lớn học viên chọn khóa học này khi muốn học lái xe ôtô từ vỡ lòng, với chương trình học có chất lượng đạt tiêu chuẩn, thời gian linh động phù hợp với hầu hết học viên. Học viên được đưa đón khắp thành phố, khoá học kéo dài 06 tháng, học phí trọn gói cam kết không phát sinh trong suốt khóa học lái xe ôtô.</p>
</div>

    </div>
  </div>
    <div class="row row-list-course-of-category">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1387">
              <div class="img-holder">
                  <img src="/img/b2chithi.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/hoc-lai-xe-oto-b2-thi-khong-hoc"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/hoc-lai-xe-oto-b2-thi-khong-hoc">
                    <div class="course-title">B2 Chỉ Thi, Không Học</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p>Học phí chia làm 01&nbsp;lần đóng</p>

<p>- Lần 1: 11.500.000 - khi nộp hồ sơ đăng kí và lấy suất thi với Sở GTVT Tp. Hải Phòng</p>

<p>- Lần 2: Chỉ&nbsp; nộp 1 lần.</p>

<p>- Đào tạo thực hành: Không đào tạo thực hành.</p>

<p>- Thời gian học linh động: học viên tự sắp xếp vào tất cả các ngày trong tuần - kể cả T7- Cn</p>
 </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1386">
              <div class="img-holder">
                  <img src="/img/b2dacbiet.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/hoc-lai-xe-oto-b2-dac-biet-vip"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/hoc-lai-xe-oto-b2-dac-biet-vip">
                    <div class="course-title">Khoá Học B2 Đặc Biệt</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p>Học phí chia làm 2 lần đóng</p>

<p>- Lần 1: 11.500.000 - khi nộp hồ sơ đăng kí và lấy suất thi với Sở GTVT Tp. Hải Phòng</p>

<p>- Lần 2: Số còn lại - sau 1,5 tháng kể từ lần 01.</p>

<p>- Đào tạo thực hành: 20h/1 học viên/ khóa.</p>

<p>- Thời gian học linh động: học viên tự sắp xếp vào tất cả các ngày trong tuần - kể cả T7- Cn</p>
 </div>  
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="single-blog-item single-blog-item-course-main single-blog-item-1386">
                <div class="img-holder">
                    <img src="/img/tudong.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />
  
  
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <a href="/hoc-lai-xe-oto-so-tu-dong"><i class="fa fa-link" aria-hidden="true"></i></a> 
                            </div>
                        </div>
                    </div>
                </div>
              <div class="text-holder text-course-blue">
                <a href="/hoc-lai-xe-oto-so-tu-dong">
                    <div class="course-title">Lái Xe Số Tự Động B11</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p>Học phí chia làm 2 lần đóng</p>

<p>- Lần 1: 13.000.000 - khi nộp hồ sơ đăng kí và lấy suất thi với Sở GTVT Tp. Hải Phòng</p>

<p>- Lần 2: Số còn lại - Khi học viên có nhu cầu tập lái.</p>

<p>- Đào tạo thực hành: 20h/1 học viên/ khóa.</p>

<p>- Thời gian học linh động: học viên tự sắp xếp vào tất cả các ngày trong tuần - kể cả T7- CN</p>
 </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-4">
              <div class="img-holder">
                  <img src="/img/tieuchuan.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/hoc-lai-xe-oto-b2-tieu-chuan"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/hoc-lai-xe-oto-b2-tieu-chuan">
                    <div class="course-title">Khoá Học B2 Tiêu Chuẩn</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p><strong>Học phí chia làm 2 lần đóng</strong><br />
- Lần 1: 11.500.000 - khi nộp hồ sơ đăng kí và lấy suất thi với Sở GTVT Tp. Hải Phòng</p>

<p>- Lần 2: Số còn lại - sau 1,5 tháng kể từ lần 01.</p>

<p>- Đào tạo thực hành: 12h/01 học viên/ khóa.</p>

<p>- Thời gian học linh động: học viên tự sắp xếp vào tất cả các ngày trong tuần - kể cả T7- Cn<br />
&nbsp;</p>
 </div>  
    </div>
          </div>
    <div class="course-cate-title">Các khóa học lái xe máy &amp; mô tô</div>
    <div class="row row-list-course-of-category">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1388">
              <div class="img-holder">
                  <img src="/img/course3_0_0.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/thi-bang-lai-xe-a3"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/thi-bang-lai-xe-a3">
                    <div class="course-title">Thi Bằng Lái Xe A3</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"> </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-3">
              <div class="img-holder">
                  <img src="/img/A2.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />
                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/thi-bang-lai-xe-mo-to-a2"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/thi-bang-lai-xe-mo-to-a2">
                    <div class="course-title">Thi Bằng Lái Xe Mô tô A2</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"> </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1">
              <div class="img-holder">
                  <img src="/img/A1.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/thi-bang-lai-xe-gan-may-a1"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/thi-bang-lai-xe-gan-may-a1">
                    <div class="course-title">Thi Bằng Lái Xe Máy A1</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"> </div>  
    </div>
          </div>
    <div class="course-cate-title">Các khóa học khác</div>
    <div class="row row-list-course-of-category">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1390">
              <div class="img-holder">
                  <img src="/img/taplai.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/cho-thue-xe-tu-lai"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/cho-thue-xe-tu-lai">
                    <div class="course-title">Cho Thuê Xe Tập Lái </div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p><strong>Lệ phí các loại xe cho thuê tập lái</strong><br />
- Xe số sàn (Xe Toyota Vios, Cruze, Gentra, Lacetti): 220.000đ/1 giờ</p>

<p>- Xe số tự động (Xe Avante, Ertiga): 280.000đ/1 giờ</p>

<p>Đã bao gồm:Phí thuê xe, giáo viên, xăng xe, xe đưa đón tại địa điểm gần nhà học viên</p>
 </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-1389">
              <div class="img-holder">
                  <img src="/img/xetaiC.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c">
                    <div class="course-title"> Học Lái Xe Tải Bằng C</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p><strong>Học phí chia làm 2 lần đóng</strong><br />
- Lần 1: 8.900.000 khi nộp hồ sơ đăng kí và lấy suất thi của Sở GTVT Tp. Hải Phòng.</p>

<p>- Lần 2: 3.000.000 sau lần đầu 01 tháng.</p>
 </div>  
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="single-blog-item single-blog-item-course-main single-blog-item-2">
              <div class="img-holder">
                  <img src="/img/nang.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


                  <div class="overlay">
                      <div class="box">
                          <div class="content">
                              <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx"><i class="fa fa-link" aria-hidden="true"></i></a> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-holder text-course-blue">
                <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx">
                    <div class="course-title">Nâng Hạng GPLX</div>
                </a>
              </div>    
          </div> 
          <div class="top-desc"><p><strong>Dạy Lái Xe An Toàn&nbsp;nhận hồ sơ nâng hạng GPLX các loại sau</strong><br />
- Từ B2 - C hoặc từ C - D, D - E: 7.000.000 - Đậu 99%</p>

<p>- Từ B2 - D hoặc từ C - E: 8.000.000 - Đậu 99%</p>

<p>Lưu ý: bắt đầu từ hạng D, E-&nbsp;yêu cầu trình độ văn hóa bắt buộc tối thiểu từ cấp 2 trở lên.</p>
 </div>  
    </div>
          </div>
  
    </div>
  </div>

  </div>

        </div>
              </div>
  </div>
</section>





