<div class="vertical-menu">
    <div data-simplebar="" class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Quản lý hoc viên</li>

                <li>
                    <a href="/lichhen" class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span>Lịch hẹn</span>
                    </a>
                </li>

                <li>
                    <a href="/lophoc" class="waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span>Lớp học </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span>Hồ sơ học viên</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/dondangkyonline">Hồ sơ đang chờ</a></li>
                        <li><a href="/student">Hồ sơ đang quản lý</a></li>
                        <li><a href="/#">Hồ sơ đang lưu trữ</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/diemdanh" class=" waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span>Theo dõi điểm danh</span>
                    </a>
                </li>

                <li class="menu-title">Quyền và tài khoản</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span>Cấu hình tài khoản</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login.html">Login</a></li>
                        <li><a href="auth-register.html">Register</a></li>
                        <li><a href="auth-recoverpw.html">Recover Password</a></li>
                        <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span>Phân quyền</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter.html">Starter Page</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                        <li><a href="pages-timeline.html">Timeline</a></li>
                        <li><a href="pages-faqs.html">FAQs</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
