<div class="vertical-menu">
    <div data-simplebar="" class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Quản lý hoc viên</li>

                <li>
                    <a href="/lichhen" class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span id="tblichhen" class="badge badge-pill badge-primary float-right">8 cuộc hẹn</span>
                        <span>Lịch hẹn</span>
                    </a>
                </li>

                <li>
                    <a href="/lophoc" class="waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span>Lớp học </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span>Hồ sơ học viên</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/dondangkyonline">Hồ sơ đang chờ</a></li>
                        <li><a href="/dahen">Đã hẹn</a></li>
                        <li><a href="/choxeplop">Chờ sếp lớp</a></li>
                        <li><a href="/student">Hồ sơ đang quản lý</a></li>
                        <li><a href="/#">Hồ sơ đang lưu trữ</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/loaibang" class="waves-effect">
                        <i class="bx bxs-badge-check"></i>
                        <span>Loại bằng</span>
                    </a>
                </li>

                <li>
                    <a href="/diemdanh" class=" waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span>Theo dõi điểm danh</span>
                    </a>
                </li>

                <li class="menu-title">Báo cáo thống kê</li>

                <li>
                    <a href="/thongkehocvien" class=" waves-effect">
                        <i class="bx bxs-report"></i>
                        <span>Thống kê học viên</span>
                    </a>
                </li>

                <li>
                    <a href="/thongkegiangvien" class=" waves-effect">
                        <i class="bx bxs-report"></i>
                        <span>Danh sách giảng viên</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class=" waves-effect">
                        <i class="bx bxs-report"></i>
                        <span class="badge badge-pill badge-success float-right">DEV</span>
                        <span>Tình hình giảng dạy</span>
                    </a>
                </li>



                <li class="menu-title">Quản lý website</li>
                <li>
                    <a href="/contact" class=" waves-effect">
                        <i class="bx bxs-contact"></i>
                        <span>Thông tin liên hệ</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-globe"></i>
                        <span class="badge badge-pill badge-success float-right">DEV</span>
                        <span>Cấu hình website</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="javascript: void(0);">Banner</a></li>
                        <li><a href="javascript: void(0);">Footer</a></li>
                        <li><a href="javascript: void(0);">Page</a></li>
                        <li><a href="javascript: void(0);">Menu</a></li>
                    </ul>
                </li>



                <li class="menu-title">Quyền và tài khoản</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-pin"></i>
                        <span>Cấu hình tài khoản</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/thongtintaikhoan">Thông tin tài khoản</a></li>
                        <li><a href="/taotaikhoan">Tạo tài khoản</a></li>
                        <li><a href="/api/v1/users/logout">Đăng xuất</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span class="badge badge-pill badge-success float-right">DEV</span>
                        <span>Phân quyền</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/stop">Phân quyền theo vai trò</a></li>
                        <li><a href="/stop">Set Authencation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/vechungtoi" class=" waves-effect">
                        <i class="bx bx-wind"></i>
                        <span>Về chúng tôi</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
