 <!--Start footer bottom area-->
 <section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="region region-footer-logo">
                    <div id="block-sitebranding"
                         class="clearfix site-branding block block-system block-system-branding-block">


                        <a href="/" title="Trang chủ" rel="home" class="site-branding__logo">
                            <img src="img/logo.png" alt="Trang chủ"/>
                        </a>
                    </div>

                </div>

                <div class="copyright-text">
                    <p>© 2018 Dạy Lái Xe An Toàn
                        <br>Thiết kế & Phát triển bởi <a href="http://prowebmaster.info"
                                                         target="_BLANK">Webmaster</a></p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-teacher-phone">
                        <div class="phone-icon"></div>
                        <div class="region region-footer-contact-phone">
                            <div id="block-footercontactphone"
                                 class="block block-block-content block-block-contentd96ef6b7-d8ce-4eb7-8b37-fba3002a0349">


                                <div class="content">

                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <p><a href="tel:0933427999" style="color:#ffffff">0999.999.999</a> - <a
                                                    href="tel:090239171" style="color:#ffffff">0999.999.999</a> –
                                            Thầy
                                            Hiếu Dạy Lái Xe An Toàn!</p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row row-center-address">
                    <div class="region region-footer-center-address">
                        <div id="block-footercenteraddress"
                             class="block block-block-content block-block-contentdaf656ce-c4d2-481f-9b7d-d1f3166e6616">


                            <div class="content">

                                <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                    <div class="col-md-4 text-align-right"><span
                                                class="footer-head">Phòng Ghi Danh</span><br/>
                                        Nhà A4, 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.<br/>
                                    </div>

                                    <div class="col-md-4"><span class="footer-head">Điểm Nhận Xe Tập Lái</span><br/>
                                        Nhà A4, 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng
                                    </div>

                                    <div class="col-md-4"><span class="footer-head">LỊCH LÀM VIỆC</span><br/>
                                        Thứ 2 - Thứ 7: 8h00 - 19h00<br/>
                                        Chủ Nhật:10h-16h. Ngày lễ đóng cửa
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>