
<head>
    <meta charset="utf-8"/>
    <meta name="title" content="Học Lái Xe Ôtô - Dạy Lái Xe Ôtô An Toàn"/>
    <meta name="geo.placename" content="Học Lái Xe Ôtô - Dạy Lái Xe Ôtô - Trung tâm Minh Phước"/>
    <meta name="description"
          content="Trường Dạy Lái Xe Ô Tô Ở Tphcm Giá Rẻ Nhất. Dạy Lái Xe Ô Tô Các Hạng. Tỉ Lệ Đậu 100% - Đào Tạo Lái Xe An Toàn - Nơi Học Lái Xe Ôtô Tốt Nhất Dành Cho Bạn"/>
    <meta name="keywords"
          content="học lái xe, học lái xe oto, hoc lai xe oto, học lái xe ô tô, học lái xe oto tại tphcm, học lái xe oto tphcm, học lái xe oto ở tphcm, học lái xe ô tô tại tphcm, học lái xe ô tô ở tphcm,học lái xe ô tô tphcm, hoc lai xe oto tai tphcm, hoc lai xe oto tphcm"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/png"/>

    <title>Học Lái Xe Ôtô - Dạy Lái Xe Ôtô An Toàn</title>
    <meta name="google-site-verification" content="81yiEyprTkD6ETwJUtWg8cm9El0fD3-xEEd2-zeczUI"/>
    <link rel="stylesheet" media="all"
          href="css/css_mt1bojd1nZyjWOaR61Y7JMS_q9dXm9xecMEr4pLWPOo.css"/>
    <link rel="stylesheet" media="all"
          href="css/css_zqHaf5gXAw6SZTvlx4P7htP0iix5ys6795h-L9jCV-A.css"/>
    <script src="js/modernizr.min.js"></script>

</head>