
    <header class="header-area stricky" style="background-color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="outer-box clearfix">
                        <!--Start logo-->
                        <div class="logo">
                            <div class="region region-logo">
                                <div id="block-mp-branding"
                                     class="clearfix site-branding block block-system block-system-branding-block">
                                    <a href="/" title="Trang chủ" rel="home" class="site-branding__logo">
                                        <img src="img/logo.png" alt="Trang chủ"/>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!--End logo-->
                        <!--Start mainmenu-->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <div class="region region-primary-menu">
                                    <nav role="navigation" aria-labelledby="block-mp-main-menu-menu"
                                         id="block-mp-main-menu" class="block block-menu navigation menu--main">

                                        <h2 class="visually-hidden" id="block-mp-main-menu-menu">Main navigation</h2>


                                        <div class="content">

                                            <ul class="clearfix navigation clearfix">
                                                <li class="menu-item">
                                                    <a href="/" data-drupal-link-system-path="&lt;front&gt;"
                                                       class="is-active">Trang chủ</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/gioithieu"
                                                       data-drupal-link-system-path="node/9">GIới thiệu</a>
                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/khoahoc"
                                                       data-drupal-link-system-path="courses">Các khoá học</a>
                                                    <ul class="menu">
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/khoahocB2"
                                                               data-drupal-link-system-path="courses/cate/1">Học Lái Xe
                                                                Ô Tô Hạng B2</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/B2tieuchuan"
                                                                       data-drupal-link-system-path="node/4">Khoá Học B2
                                                                        Tiêu Chuẩn</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/B2dacbiet"
                                                                       data-drupal-link-system-path="node/1386">Khoá Học
                                                                        B2 Đặc Biệt</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/B2chithi"
                                                                       data-drupal-link-system-path="node/1387">B2 Chỉ
                                                                        Thi, Không Học</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/xesotudongB11"
                                                                       data-drupal-link-system-path="node/5">Lái Xe Số
                                                                        Tự Động B11</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/xemaymoto"
                                                               data-drupal-link-system-path="courses/cate/2">Học Lái Xe
                                                                Máy - Mô tô</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/laixeA1"
                                                                       data-drupal-link-system-path="node/1">Thi Bằng
                                                                        Lái Xe Máy A1</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/motoA2"
                                                                       data-drupal-link-system-path="node/3">Thi Bằng
                                                                        Lái Xe Mô tô A2</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/laixeA3"
                                                                       data-drupal-link-system-path="node/1388">Thi Bằng
                                                                        Lái Xe A3</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/hockhac"
                                                               data-drupal-link-system-path="courses/cate/3">Các Khoá
                                                                Học Khác</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/xetaiC"
                                                                       data-drupal-link-system-path="node/1389">Học Lái
                                                                        Xe Tải Bằng C</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/thuexe"
                                                                       data-drupal-link-system-path="node/1390">Cho Thuê
                                                                        Xe Tập Lái</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/nanghang"
                                                                       data-drupal-link-system-path="node/2">Nâng Hạng
                                                                        GPLX</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/tailieu"
                                                       data-drupal-link-system-path="tai-lieu-hoc-lai-xe-oto">Tài
                                                        liệu</a>
                                                    <ul class="menu">
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/tailieulythuyet"
                                                               data-drupal-link-system-path="taxonomy/term/612">Tài Liệu
                                                                Học Lý Thuyết</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/luat-giao-thong-duong-bo-co-ban"
                                                                       data-drupal-link-system-path="node/1138">Luật
                                                                        Giao Thông Đường Bộ</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/450-cau-hoi-thi-sat-hach-ly-thuyet-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/622">600
                                                                        Câu Hỏi Lý Thuyết</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/node/195">Phần Mềm Ôn Thi Lý Thuyết</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/thi-thu-ly-thuyet-online"
                                                                       data-drupal-link-system-path="node/861">Thi Thử
                                                                        Lý Thuyết Online</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/meo-lam-bai-thi-sat-hach-ly-thuyet-lai-xe-2013"
                                                                       data-drupal-link-system-path="node/940">Mẹo Thi
                                                                        Lý Thuyết 600 Câu</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/tailieuthuchanh"
                                                               data-drupal-link-system-path="tai-lieu-hoc-thuc-hanh-lai-xe-oto">Tài
                                                                Liệu Học Thực Hành</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/ky-thuat-lai-xe-oto-co-ban"
                                                                       data-drupal-link-system-path="taxonomy/term/617">Hướng
                                                                        Dẫn Học Lái Xe Cơ Bản</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-lai-xe-so-san"
                                                                       data-drupal-link-system-path="taxonomy/term/618">Hướng
                                                                        Dẫn Học Lái Xe Số Sàn</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-lai-xe-so-tu-dong"
                                                                       data-drupal-link-system-path="taxonomy/term/619">Hướng
                                                                        Dẫn Học Lái Xe Số Tự Động</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-thi-thuc-hanh-sat-hach-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/621">Hướng
                                                                        Dẫn Thi Thực Hành</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/kinh-nghiem-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/620">Kinh
                                                                        Nghiệm Lái Xe</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/tintuc" data-drupal-link-system-path="tin-tuc">Tin
                                                        tức</a>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="/tintucoto"
                                                               data-drupal-link-system-path="taxonomy/term/609">Tin Tức
                                                                Ôtô</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/tintuctrungtam"
                                                               data-drupal-link-system-path="taxonomy/term/610">Tin Tức
                                                                Trung Tâm</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/thugian"
                                                               data-drupal-link-system-path="taxonomy/term/611">Thư
                                                                giãn</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/hocphi"
                                                       data-drupal-link-system-path="node/1940">Học phí</a>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="/menuhocphi"
                                                               data-drupal-link-system-path="node/1940">Học phí</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/cach-thuc-dang-ky-hoc-lai-xe-oto"
                                                               data-drupal-link-system-path="node/1941">Cách Thức Đăng
                                                                Ký</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/dangkyonline">Đăng
                                                                Ký Online</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item">
                                                    <a href="/lienhe" data-drupal-link-system-path="contact">Liên Hệ</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/tracuu" data-drupal-link-system-path="contact">Tra cứu</a>
                                                </li>
                                            </ul>


                                        </div>
                                    </nav>

                                </div>

                            </div>
                        </nav>
                        <!--End mainmenu-->
                    </div>
                </div>
            </div>
        </div>
    </header>