<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!--Start contact info right-->
                <div class="contact-info-right">
                    <div class="phnumber">
                        <span class="head-contact-phone"></span>
                        <div class="region region-header-phone">
                            <div id="block-headerphone"
                                 class="block block-block-content block-block-content7d76de46-cc5c-49cd-8440-e75f41e1e369">
                                <div class="content">
                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <p>0999 999 999 | 0999 999 999</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="address-wrap">
                        <div class="address-location"></div>
                        <div class="region region-header-address">
                            <div id="block-headeraddress"
                                 class="block block-block-content block-block-contente0b0ae7d-a872-4c56-9576-ccf004e35f95">
                                <div class="content">
                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <section><p>484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng</p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End contact info right-->
            </div>
        </div>
    </div>
</section>