<section class="section-search-input">
    <div class="container">
        <h2 style="tex">Tra cứu thông tin học viên tại trung tâm HND</h2>
        <div class="row">
            <div class="input-button-d">
                <input type="text" id="identity-input" placeholder="Nhập số CMND" value="<%= prefilledID %>" />
                <button id="btnTraCuu">Tra cứu</button>
            </div>
        </div>

        <div class="spinerContainer"></div>

        <div class="table-responsive stats-table-container">
            <table class="table table-hover stats-table">
            </table>
        </div>
    </div>
</section>