<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Thi Bằng Lái Xe A3 - Thi Bằng A3 Giá Rẻ Bao Đậu 100% Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="1388" role="article" about="/thi-bang-lai-xe-a3" class="node node--type-course node--promoted node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div style="font-size: 28px; background-color: #e1eef2; font-family: inherit; font-style: inherit; text-align: center; font-weight: bold;">
<h2><span style="font-size: 14pt;">Thông Báo Tuyển Sinh Khoá Thi Bằng Lái Xe A3</span></h2>

<p><span style="font-size: 14pt;">Lịch sát hạch: </span><span style="font-size: 14pt;"><span style="background-color: #ffff00; color: #ff0000;">7h ngày 19/11/2020 - Đậu 100%</span> </span></p>
</div>

<p style="text-align: left;"><span style="color: #333333;"><span style="font-size: 12pt;">Đăng kí và hỗ trợ tư vấn về <em><strong>thủ tục thi bằng a3</strong></em> liên hệ ngay b</span></span><span style="font-size: 12pt;">an tuyển sinh.</span></p>

<p><span style="font-size: 12pt;">Để có được GPLX cũng không phải là chuyện lớn lao nhưng nó làm bạn mất nhiều thời gian. Câu hỏi "thi bằng lái xe a3 TP. Hải Phòng ở đâu" chất lượng được khá nhiều người đặt ra và phân vân. Nhằm đáp ứng nhu cầu <strong>thi bằng lái xe a3 tại TP. Hải Phòng</strong>, Trung tâm dạy lái xe An Toàn gửi tới quý học viên <em>dịch vụ thi bằng lái xe A3</em> nhanh nhất, uy tín nhất với chi phí hợp lý nhất <strong>tại TP. Hải Phòng</strong></span></p>

<p> </p>

<ul><li style="text-align: justify;"><strong style="color: #800000;"><span style="font-size: 12pt;">Điều kiện thi bằng lái xe a3:</span></strong></li>
</ul><p><span style="font-size: 12pt;"> - Mọi công dân Việt Nam đủ 18 tuổi ( tính theo đủ ngày, tháng, năm sinh- các trường hợp chỉ có năm sinh thì mặc nhiên được lựa chọn là 01.01 tương ứng với năm sinh)</span><br /><span style="font-size: 12pt;"> - Đảm bảo đủ yêu cầu sức khỏe tối thiểu để điều khiển phương tiện giao thông: không thiếu chi, không có dị tật về mắt, thần kinh ổn định</span></p>

<h2><span style="color: #800000;"><span style="text-align: justify;"><span style="font-size: 12pt;">1. Lệ phí trọn gói</span></span> thi bằng lái xe a3 tại TP. Hải Phòng:</span></h2>

<p><span style="text-align: justify; font-size: 12pt;">- Học phí:   1.100.000 <span style="font-size: 16px; text-align: justify;">VNĐ</span></span></p>

<p><span style="text-align: justify; font-size: 12pt;"> </span><span style="text-align: justify; font-size: 12pt;">- Lệ phí thi tốt nghiệp: 350.000 <span style="font-size: 16px; text-align: justify;">VNĐ</span></span></p>

<p><span style="text-align: justify; font-size: 12pt;">- Lệ phí sát hạch: 450.000 VNĐ</span></p>

<p><span style="font-size: 16px; text-align: justify;"> </span><span style="text-align: justify; font-size: 12pt;">- Lệ phí cấp phát bằng – thẻ PET: 135.000</span></p>

<p><span style="text-align: justify; font-size: 12pt;">Trọn gói <strong><span style="color: #ff0000;">2.100.000/1 hồ sơ</span></strong>: bao gồm tất cả các chi phí từ khi nộp cho tới khi lấy <strong>bằng lái a3</strong>.</span><span style="font-size: 12pt; text-align: justify;"> </span></p>

<p><span style="font-size: 12pt; text-align: justify;"> </span>- <span style="font-size: 16px; text-align: justify;">Giấy khám sức khỏe - học viên tự đi khám tại bênh viện cấp quận/huyện hoặc khám chung với đoàn khám của trường vào ngày thi (phí 400.000)</span></p>

<div class="ja-typo-blockct clearfix"><span style="font-size: 12pt; text-align: justify;">* Nhà trường hỗ trợ chụp hình ngay tại văn phòng khi ghi danh</span></div>

<div class="ja-typo-blockct clearfix"><span style="text-align: justify; font-size: 12pt;">* Trường hợp học viên muốn <span style="color: #ff0000;">đảm bảo đậu tuyệt đối</span> liên lạc trực tiếp hotline: <span style="color: #ff0000;"><strong>0999 999 999 -  <span style="color: #333333;">anh Hiếu</span></strong></span> – cán bộ tuyển sinh để được hỗ trợ</span></div>

<div class="ja-typo-blockct clearfix"><span style="text-align: justify; font-size: 12pt;"><strong style="font-size: 16px; color: #800000; text-align: justify;"><span style="font-size: 16px; background-color: #ffffff;"><img alt="thi-bang-lai-xe-a3-xenon-2017" height="135" src="/img/daotaoA3.jpg" style="font-size: medium; text-align: center; display: block; margin-left: auto; margin-right: auto;" title="Khoá B2 Chỉ Thi Không Học" width="148" /></span></strong></span></div>

<div class="ja-typo-blockct clearfix"><strong style="color: #800000; font-size: 1.5em;"><span style="font-size: 12pt;">3. Lịch thi bằng lái xe a3:</span></strong>

<p><span style="font-size: 12pt;">Mỗi tháng sẽ có từ 1 -&gt; 2 đợt thi tổ chức theo lịch do Sở GTVT TP. Hải Phòng duyệt.</span></p>

<p><span style="font-size: 12pt;"> </span><strong style="color: #800000; text-align: justify;"><span style="font-size: 12pt;">4. Thời gian thi và nhận bằng lái xe a3:</span></strong></p>

<p><span style="font-size: 12pt;">Sau khi đăng kí từ 2-3 tuần học viên sẽ được báo lịch thi cụ thể.</span></p>

<p style="text-align: justify;"><span style="font-size: 12pt;">- Hoàn thành khóa thi từ 15 – 18 ngày học viên sẽ được cấp GPLX</span></p>

<div class="contacttainfo" id="tacontactinfo">
    <h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>
    
    <p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>
    
    <h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>
    
    <p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />
    
    </div>

<p style="text-align: justify;"><span style="font-size: 12pt;">• Từ 01/07/2013, mọi GPLX đều được gia công trên chất liệu PET nhằm chống làm giả và bền bỉ trước các tác động bên ngoài, đồng thời thuận lợi cho công tác tra cứu, lưu trữ điện tử, chi phí gia công 135.000 làm cho mức lệ phí bị tăng theo, các học viên cập nhật thông tin mới.</span><br /><span style="font-size: 12pt;">• GPLX bằng thẻ PET được <span style="background-color: #ffff00;"><em><a href="tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><span style="background-color: #ffff00;">tra cứu tại đây</span></a></em></span> trên trang Thông tin GPLX của Tổng cục đường bộ Việt Nam nên <span style="color: #ff0000;"><strong>không thể làm giả</strong></span>.</span><span style="font-size: medium;"> </span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Hồ sơ đăng ký:</strong></span><br /><span style="font-size: medium;">- 02 chứng minh nhân dân photo (không cần công chứng)</span><br /><span style="font-size: medium;">- 04 tấm hình 3 x 4 nền xanh.</span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><span style="font-size: 12pt;">- Đơn Đề nghị học, sát hạch ( nhà trường phát miễn phí)</span><br /><span style="font-size: 12pt;">- Giấy khám sức khoẻ: Đủ điều kiện điều khiển phương tiện giao thông - học viên có thể tự khám tại cơ sở y tế cấp quận hoặc đóng lệ phí 400.000 nhà trường sẽ hỗ trợ khám ngay tại chỗ, đỡ mất thời gian của học viên</span></span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Yêu cầu:</strong></span><br /><span style="font-size: medium;">- Học viên phải <strong><a href="do-tuoi-hoc-lai-xe-o-to" target="_blank">đủ 18 tuổi trở lên (Xem quy định tuổi thi bằng lái xe)</a></strong></span><br /><span style="font-size: medium;">- Đủ sức khoẻ lái xe hạng A3 theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…)</span></p>

<h2><span style="color: #000000; font-size: medium;">(*) Quy định về hình thẻ 3x4:</span></h2>

<p><span style="font-size: medium;"><span style="color: #000000;">Theo quy định mới ban hành của Sở GTVT TP. Hải Phòng, hình có hiệu lực phải là:</span><span style="color: #000000;"> </span></span></p>

<ul class="ja-typo-list list-check"><li><span style="font-size: medium;"><span class="icon"> </span>Hình được chụp trong vòng 3 tháng trở lại.</span></li>
	<li><span style="font-size: medium;"><span class="icon"> </span>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</span></li>
    <li><span style="font-size: medium;">Trong hình, học viên không được mặc trang phục của các lực lượng vũ trang, không đội nón.
        <p></p> <img alt="" data-entity-type="file" data-entity-uuid="4f01551d-a685-42e0-b1b4-b47ae3814904" height="74" src="/img/hinhmau.jpg" width="83" class="align-right" /></span></li>
</ul><p><span style="color: #000000; font-size: medium;"> </span></p>

<p><span style="color: #000000; font-size: medium;">Xin học viên lưu ý thực hiện đúng yêu cầu để tránh sự phiền hà, tốn công sức cũng như thời gian để làm lại thủ tục.</span></p>

<p><span style="font-size: medium;">------------------------------------------------------------------------------------------------------------------</span></p>

<p><span style="color: #800000;"><strong><span style="font-size: medium;"> DẠY LÁI XE AN TOÀN</span></strong></span><span style="color: #000000; font-size: medium;"> xin chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào.</span></p>

<p style="text-align: center;"><span style="font-size: 12pt; text-align: center;">Video tham khảo:</span></p>
</div>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/8QatBJLJZuw?version=3?version=3" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/8QatBJLJZuw?version=3?version=3" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p><span style="font-size: 12pt;"> </span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/NgF8LeBTVeg" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/NgF8LeBTVeg" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-a3" hreflang="vi">thi bang a3</a></li>
          <li><a href="/tag/thi-bang-lai-a3" hreflang="vi">thi bang lai a3</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a3" hreflang="vi">thi bang lai xe a3</a></li>
          <li><a href="/tag/thi-giay-phep-lai-xe-a3" hreflang="vi">thi giay phep lai xe a3</a></li>
          <li><a href="/tag/thi-bang-lai-xe-3-banh" hreflang="vi">thi bằng lái xe 3 bánh</a></li>
      </ul>
</div>

  </div>
</article>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//thi-bang-lai-xe-a3" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
    </div>
  </div>

  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>