<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Nâng Hạng GPLX - Nâng Hạng Bằng Lái Xe Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="2" role="article" about="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx" class="node node--type-course node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="event-infor clearfix">
<div class="event-time"> </div>

<div class="event-author"><span class="author-title"><center>><img alt="nang-hang-giay-phep-lai-xe" height="150" src="/img/nanghang.png" style="color: #333333;" title="Nâng hạng Giấy Phép Lái Xe ÔTô" width="150" /></span></div></center>

<div class="event-intro">
<p><span style="font-size: 14pt;">Dành cho học viên có nhu cầu nâng hạng từ B2 - C, C - D, D-E hoặc B2- D, C-E</span><br />
 </p>
</div>
</div>

<p><span style="font-size: 19px;"> Nhu cầu điều khiển các xe tải trọng lớn hoặc chở khách trên 9 chỗ ngồi ngày càng phổ biến, nhưng điều đặc biệt là bắt buộc học viên phải có một số năm kinh nghiệm rồi mới được <strong>nâng hạng GPLX</strong> chứ không đào tạo trực tiếp được.</span></p>

<p><span style="font-size: 19px;">Yêu cầu này xuất phát từ thực tế cần các tài xế phải có quá trình điều khiển xe an toàn trong 3 - 5 năm tùy thuộc hạng GPLX mà học viên mong muốn.</span></p>

<p><span style="font-size: 19px;">Trung tâm Dạy Lái Xe An Toàn nhận hồ sơ <strong>nâng hạng GPLX</strong> các loại sau:</span></p>

<p><span style="background-color: #ffff00;"><strong><span style="font-size: 19px;">Nâng hạng GPLX 1 dấu: <span style="font-size: 19.09090805053711px;">Từ B2 - C hoặc từ C - D, D - E</span></span></strong></span></p>

<p><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Yêu cầu: 3 năm kinh nghiệm và 50.000 km lái xe an toàn</span></span></p>

<ul><li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Học phí trọn gói: 5.650.000 VNĐ/ toàn khóa.</span></span></li>
	<li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Lệ phí thi: 600.000 VNĐ</span></span></li>
	<li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Lệ phí dợt xe cảm ứng: 500.000 VNĐ/h</span></span></li>
	<li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Lệ phí cấp phát bằng: 135.000VNĐ</span></span></li>
	<li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Tài liệu sách đĩa Lý Thuyết, chụp hình, khám sức khỏe: 115.000 VNĐ</span></span></li>
</ul><p><span style="color: #800000;"><strong><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Trọn gói: <span style="color: #333333;">7.000.000 - Hỗ trợ đậu 99% </span></span></span></strong><span style="color: #333333;"><span style="font-size: 12pt;">gọi ngay</span></span><span style="color: #333333;"> </span><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;"><span style="font-size: 19.0909px; color: #333333;"><span style="margin: 0px; padding: 0px; border: 0px; font-size: 12pt;"> <strong>0999.999.999 a.Hiếu</strong></span></span></span></span></span></p>

<p><span style="background-color: #ffff00;"><strong><span style="font-size: 19.09090805053711px;">Nâng <strong><span style="font-size: 19px;">hạng GPLX</span></strong> 2 dấu: B2 - D, C - E</span></strong></span></p>

<p><span style="font-size: 19.09090805053711px;"><span style="font-size: 19.09090805053711px;">Yêu cầu 5 năm kinh nghiệm và 100.000km lái xe an toàn</span></span></p>

<ul><li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;">Học phí trọn gói: 6.500.000 VNĐ</span></span></li>
	<li><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;"> </span></span><span style="font-size: 19px;">Lệ phí thi: 600.000 VNĐ</span></li>
	<li><span style="font-size: 19px;"> </span><span style="font-size: 19px;">Lệ phí dợt xe cảm ứng: 650.000 VNĐ/h</span></li>
	<li><span style="font-size: 19px;"> </span><span style="font-size: 19px;">Lệ phí cấp phát bằng: 135.000VNĐ</span></li>
	<li><span style="font-size: 19px;"> </span><span style="font-size: 19px;">Tài liệu sách đĩa Lý Thuyết, chụp hình, khám sức khỏe: 115.000 VNĐ</span></li>
</ul><p><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;"> <span style="color: #800000;"><strong>T</strong></span></span></span><span style="color: #800000;"><strong><span style="font-size: 19px;">rọn gói: <strong style="color: #800000;"><span style="font-size: 19px;"><span style="font-size: 19.0909px;"><span style="color: #ff0000;">8.000.000 - Hỗ trợ đậu 99% </span></span></span></strong></span></strong><span style="color: #333333;"><span style="font-size: 19px;"><span style="font-size: 19px;"><span style="font-size: 19.0909px;"><span style="font-size: 12pt;">gọi ngay</span></span></span></span><span style="font-size: 19px;"><span style="font-size: 19px;"><span style="font-size: 19.0909px;"><span style="font-size: 19px;"><span style="font-size: 19.0909px;"> <strong style="font-size: 16px;">0999.999.999 a. Hiếu<span style="margin: 0px; padding: 0px; border: 0px; font-size: 12pt;">.</span></strong></span></span></span></span></span></span></span></p>

<p><span style="font-size: 19px;"><span style="font-size: 19.09090805053711px;"> </span></span><span style="font-size: 19px;"><span style="color: #ff0000;"><strong>Lưu ý</strong></span>: bắt đầu từ hạng D, E yêu cầu trình độ văn hóa<strong><span style="color: #000000;"> tối thiểu từ cấp 2 trở lên.</span></strong></span></p>

<p><span style="font-size: 14pt;">Hoặc có thể tham khảo thêm </span><a href="https://www.daylaixeoto.edu.vn/cac-cau-hoi-thuong-gap"><strong style="font-size: 14pt;">các câu hỏi thường gặp</strong></a><span style="font-size: 14pt;"> và </span><a href="https://www.daylaixeoto.edu.vn/hoc-phi-cac-khoa-hoc-lai-xe-oto"><strong>bảng so sánh học phí các khóa học</strong></a><span style="font-size: 14pt;"> để tìm hiểu thêm về các khóa học khác.</span></p>

<p><span style="font-size: 14pt;"> </span></p>

<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><a href="https://www.daylaixeoto.edu.vn/nang-hang-len-fc"><span style="font-size: medium;"><strong>&gt;&gt;&gt;Xem thêm khoá nâng hạng FC</strong></span></a></p>

<p><span style="font-size: 14pt;"> <a href="https://docs.google.com/forms/d/e/1FAIpQLScc-YMvd-EQzjigkLZHx3wVDnyfGdL-NRa90oo-BT9DAQYatA/viewform"><img alt="dang-ki-hoc-lai-xe-thu-mien-phi" height="50" src="/img/dkyngay.gif" style="display: block; margin-left: auto; margin-right: auto;" width="225" /></a></span></p>

<div class="contacttainfo" id="tacontactinfo">
    <h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>
    
    <p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>
    
    <h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>
    
    <p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />
    
    </div>
<p> </p>

<p style="text-align: center;"><span style="font-size: 12pt; text-align: center;">Video tham khảo</span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/6M6fE7WvfkE" height="360" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/6M6fE7WvfkE" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/lop-hoc-lai-xe" hreflang="vi">lớp học lái xe</a></li>
          <li><a href="/tag/truong-day-lai-xe-oto" hreflang="vi">trường dạy lái xe ôtô</a></li>
          <li><a href="/tag/hoc-lai-xe-oto" hreflang="vi">học lái xe ôtô</a></li>
          <li><a href="/tag/nang-hang-gplx" hreflang="vi">nang hang gplx</a></li>
          <li><a href="/tag/nang-dau-gplx" hreflang="vi">nang dau gplx</a></li>
          <li><a href="/tag/nang-hang-c-len-fc" hreflang="vi">nang hang c len fc</a></li>
          <li><a href="/tag/nang-hang-fc" hreflang="vi">nâng hạng fc</a></li>
      </ul>
</div>

  </div>
</article>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
    </div>
  </div>
  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>