<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner5.jpg" ></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title">Tin Tức Trung Tâm</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      <div class="views-element-container"><div class="view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-4feca619eb9a7b29886655ac585c0ee521f59733e9969ca4514979f614690909">
  
    
      <div class="view-header">
      <div about="/tin-tuc/tin-tuc-trung-tam" id="taxonomy-term-610" class="taxonomy-term vocabulary-article-category">
  
    
  <div class="content">
    
  </div>
</div>

    </div>
      
      <div class="view-content">
          <div class="views-row">
<article data-history-node-id="1952" role="article" about="/tam-ngung-sat-hach-gplx-phong-dich-covid19" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tam-ngung-sat-hach-gplx-phong-dich-covid19" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Tạm Ngưng Sát Hạch GPLX Các Hạng - Phòng Dịch Covid 19</span>
</a>
      </h2>
          <span property="schema:name" content="Tạm Ngưng Sát Hạch GPLX Các Hạng - Phòng Dịch Covid 19" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/tam-ngung-sat-hach-gplx-phong-dich-covid19" hreflang="und"><img property="schema:image" src="/img/ngungsathanh.jpg" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Nhận được công văn hoả tốc của Sở GTVT TP.HCM về việc tạm ngưng tổ chức sát hạch gplx các hạng bắt đầu từ 23/03/2020 mà như sét đánh ngang tai - mà như lời 1 học viên chia sẻ "chung tay chiến đấu&nbsp;cùng đất nước".
</div>
      
  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1951" role="article" about="/600-cau-hoi-thi-gplx-nam-2020" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/600-cau-hoi-thi-gplx-nam-2020" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">600 Câu Hỏi Thi Bằng Lái Xe Năm 2020 - Áp dụng từ 01.08.2020</span>
</a>
      </h2>
          <span property="schema:name" content="600 Câu Hỏi Thi Bằng Lái Xe Năm 2020 - Áp dụng từ 01.08.2020" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/600-cau-hoi-thi-gplx-nam-2020" hreflang="und"><img property="schema:image" src="/img/600cauhoithi.png" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Tổng cục Đường bộ Việt Nam vừa ban hành bộ câu hỏi mới dùng cho sát hạch lý thuyết để cấp giấy phép lái xe.&nbsp;Theo đó, bộ câu hỏi mới này tăng từ 450 câu hỏi thi lý thuyết hiện nay lên 600 câu. Bộ câu hỏi mới sẽ chính thức được áp dụng để sát hạch lái xe từ ngày 1-8-2020.
</div>
      
  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1950" role="article" about="/thuc-hu-viec-hoc-lai-xe-nam-2020-het-30-trieu" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/thuc-hu-viec-hoc-lai-xe-nam-2020-het-30-trieu" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Thực hư việc học lái xe ô tô năm 2020 lên 30 triệu? - Chỉ là chiêu trò thổi giá.</span>
</a>
      </h2>
          <span property="schema:name" content="Thực hư việc học lái xe ô tô năm 2020 lên 30 triệu? - Chỉ là chiêu trò thổi giá." class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/thuc-hu-viec-hoc-lai-xe-nam-2020-het-30-trieu" hreflang="und"><img property="schema:image" src="/img/thuchu.png" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Những ngày qua, một số trang mạng đưa tin mức học phí đào tạo lái xe sẽ tăng gấp đôi từ 15 triệu đồng lên 30 triệu đồng do bổ sung thêm 100 giờ bao gồm các chương trình học mới về đạo đức lái xe và học sửa chữa xe cơ bản...&nbsp;
ông Lương Duyên Thống, Vụ trưởng Vụ Phương tiện và người lái (Tổng cục Đường bộ VN) khẳng định, không có chuyện giá đào tạo lái ô tô tăng lên mức vài chục triệu đồng.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/hoc-phi-hoc-bang-lai-xe-o-to" property="schema:about" hreflang="vi">hoc phi hoc bang lai xe o to</a></li>
          <li><a href="/tag/hoc-lai-xe-bang-b2" property="schema:about" hreflang="vi">học lái xe bằng b2</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1949" role="article" about="/60-cau-hoi-diem-liet" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/60-cau-hoi-diem-liet" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">60 Câu Hỏi Điểm Liệt Sát Hạch Lý Thuyết Lái Xe Năm 2020</span>
</a>
      </h2>
          <span property="schema:name" content="60 Câu Hỏi Điểm Liệt Sát Hạch Lý Thuyết Lái Xe Năm 2020" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/60-cau-hoi-diem-liet" hreflang="und"><img property="schema:image" src="/img/diemliet.jpg" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Tổng cục Đường bộ sắp ban hành 60 câu hỏi điểm liệt sát hạch lý thuyết lái xe. Ngoại trừ đúng toàn bộ, nếu thí sinh trả lời chỉ sai một&nbsp;câu trong bộ 60 câu điểm liệt thì thí sinh đó vẫn trượt và bị hủy kết quả thi lý thuyết.
Dưới đây là trọn vẹn 60&nbsp;câu trong bộ<a href="http://www.daylaixeoto.edu.vn/600-cau-hoi-thi-gplx-nam-2020"><strong> 600 câu hỏi sát hạch giấy phép lái xe năm 2020</strong></a>
</div>
      
  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1946" role="article" about="/co-bang-a2-co-can-bang-a1-khong" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/co-bang-a2-co-can-bang-a1-khong" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Có Bằng A2 Có Cần Bằng A1 Không - Thi Bằng Lái A2 Có Cần Phải Có Bằng A1</span>
</a>
      </h2>
          <span property="schema:name" content="Có Bằng A2 Có Cần Bằng A1 Không - Thi Bằng Lái A2 Có Cần Phải Có Bằng A1" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/co-bang-a2-co-can-bang-a1-khong" hreflang="und"><img property="schema:image" src="/img/banga1_a2.jpg" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item"><strong>Có bằng a2 có cần bằng a1 không?</strong>

Đây là một trong những thắc mắc thường gặp khi muốn thi bằng lái a2 mà chưa nắm rõ về nội dung của bằng lái.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/co-bang-b2-thi-a2" property="schema:about" hreflang="vi">có bằng b2 thi a2</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a2" property="schema:about" hreflang="vi">thi bằng lái xe a2</a></li>
          <li><a href="/tag/thi-bang-lai-xe-mo-to-a2" property="schema:about" hreflang="vi">Thi bằng lái xe mô tô a2</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1-tai-tphcm" property="schema:about" hreflang="vi">thi bang lai xe may a1 tai tphcm</a></li>
          <li><a href="/tag/co-bang-a2-co-can-bang-a1-khong" property="schema:about" hreflang="vi">có bằng a2 có cần bằng a1 không</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1875" role="article" about="/phu-nu-co-nen-hoc-lai-xe-o-to" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/phu-nu-co-nen-hoc-lai-xe-o-to" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Phụ Nữ Có Nên Học Lái Xe Ô Tô?</span>
</a>
      </h2>
          <span property="schema:name" content="Phụ Nữ Có Nên Học Lái Xe Ô Tô?" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">&nbsp;Phụ nữ có nên học lái xe ô tô?&nbsp;

Tôi thấy phụ nữ học lái xe ô tô đáng yêu quá. Phụ nữ bao giờ cũng thế, sự bào chữa của họ dù sai cũng thật dễ thương. Như thế này thì ai nỡ đánh phụ nữ dù chỉ là bằng một cành hoa. Tuy nhiên, phải công nhận một mặt bằng chung là chị em lái kém hơn anh em. Lý do thì như sau:
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/doi-giay-phep-lai-xe-quoc-te-0" property="schema:about" hreflang="vi">doi giay phep lai xe quoc te</a></li>
          <li><a href="/tag/doi-bang-lai-xe-quoc-te" property="schema:about" hreflang="vi">doi bang lai xe quoc te</a></li>
          <li><a href="/tag/bang-lai-xe-quoc-te-viet-nam" property="schema:about" hreflang="vi">bằng lái xe quốc tế việt nam</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1" property="schema:about" hreflang="vi">thi bằng lái xe máy a1</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-tphcm" property="schema:about" hreflang="vi">thi bằng lái xe máy tại tphcm</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" property="schema:about" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1-truoc-tet" property="schema:about" hreflang="vi">thi bang lai xe may a1 truoc tet</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1874" role="article" about="/bang-lai-xe-quoc-te-iaa-la-gi" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/bang-lai-xe-quoc-te-iaa-la-gi" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Bằng Lái Xe Quốc Tế IAA Là Gì? Có Giá Trị Sử Dụng Không?</span>
</a>
      </h2>
          <span property="schema:name" content="Bằng Lái Xe Quốc Tế IAA Là Gì? Có Giá Trị Sử Dụng Không?" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Bằng lái xe quốc tế IAA là gì? Có cần phải đổi bằng lái xe quốc tế hay không?

Với nền kinh tế đang trên đà phát triển, nhu cầu đi lại của người Việt là rất lớn. Trong những chuyến du lịch hay công tác dài ngày tại nước ngoài, nhiều người có xu hướng thuê xe tự lái để tiết kiệm chi phí đồng thời chủ động trong di chuyển, tham quan. Để đáp ứng nhu cầu đi lại của người dân Sở Giao thông đã tiến hành cấp giấy phép lái xe quốc tế rộng rãi từ vài năm trước.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-may-a1-truoc-tet" property="schema:about" hreflang="vi">thi bang lai xe may a1 truoc tet</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" property="schema:about" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-tphcm" property="schema:about" hreflang="vi">thi bằng lái xe máy tại tphcm</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1" property="schema:about" hreflang="vi">thi bằng lái xe máy a1</a></li>
          <li><a href="/tag/bang-lai-xe-quoc-te-viet-nam" property="schema:about" hreflang="vi">bằng lái xe quốc tế việt nam</a></li>
          <li><a href="/tag/doi-bang-lai-xe-quoc-te" property="schema:about" hreflang="vi">doi bang lai xe quoc te</a></li>
          <li><a href="/tag/doi-giay-phep-lai-xe-quoc-te-0" property="schema:about" hreflang="vi">doi giay phep lai xe quoc te</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1873" role="article" about="/tang-bo-cau-hoi-sat-hach-lai-xe-len-500-cau" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tang-bo-cau-hoi-sat-hach-lai-xe-len-500-cau" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Tăng Bộ Câu Hỏi Sát Hạch Lái Xe Lên 500 Câu - Dự Kiến Áp Dụng Từ 07/2018</span>
</a>
      </h2>
          <span property="schema:name" content="Tăng Bộ Câu Hỏi Sát Hạch Lái Xe Lên 500 Câu - Dự Kiến Áp Dụng Từ 07/2018" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Sắp tăng bộ câu hỏi sát hạch lái xe lên 500 câu - dự kiến áp dụng vào tháng 07/2018

Tổng cục Đường bộ Việt Nam đang xem xét, sửa đổi bộ câu hỏi thi lý thuyết sát hạch lái xe cơ giới đường bộ từ 450 lên 500 câu. Số câu hỏi tăng chủ yếu ở nội dung quy chuẩn báo hiệu đường bộ, kỹ năng xử lý trên cao tốc.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-may-a1" property="schema:about" hreflang="vi">thi bằng lái xe máy a1</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-tphcm" property="schema:about" hreflang="vi">thi bằng lái xe máy tại tphcm</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" property="schema:about" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1-truoc-tet" property="schema:about" hreflang="vi">thi bang lai xe may a1 truoc tet</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1872" role="article" about="/bang-lai-xe-quoc-te-co-duoc-chay-xe-o-viet-nam-khong" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/bang-lai-xe-quoc-te-co-duoc-chay-xe-o-viet-nam-khong" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Bằng Lái Xe Quốc Tế Có Được Chạy Xe Ở Việt Nam Không?</span>
</a>
      </h2>
          <span property="schema:name" content="Bằng Lái Xe Quốc Tế Có Được Chạy Xe Ở Việt Nam Không?" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Bằng lái xe quốc tế có được chạy xe ở Việt Nam không?
Mấy ngày nay dư luận đang xôn xao về việc 1 Việt kiều Đức có <strong>bằng lái xe quốc tế</strong> do Đức cấp nhưng không được CSGT Cát Lái chấp nhận, vậy <strong>bằng lái xe quốc tế có được chạy xe ở Việt Nam không</strong>?
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-may-a1-truoc-tet" property="schema:about" hreflang="vi">thi bang lai xe may a1 truoc tet</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" property="schema:about" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-tphcm" property="schema:about" hreflang="vi">thi bằng lái xe máy tại tphcm</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1" property="schema:about" hreflang="vi">thi bằng lái xe máy a1</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1871" role="article" about="/thi-bang-lai-xe-may-a1-truoc-tet" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/thi-bang-lai-xe-may-a1-truoc-tet" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Thi Bằng Lái Xe Máy A1 Trước Tết 2020 - Vi Vu Chơi Tết Với GPLX Trong Tay</span>
</a>
      </h2>
          <span property="schema:name" content="Thi Bằng Lái Xe Máy A1 Trước Tết 2020 - Vi Vu Chơi Tết Với GPLX Trong Tay" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">&nbsp;Thi bằng lái xe máy A1 trước tết 2020 - Thi bằng lái xe máy nhận bằng trước tết 2020

- Hoà chung cái lạnh teo bugi của trời và đất những ngày cuối năm 2019, đầu 2020, có 1 thứ kinh khủng đang đợi các bạn khi chạy xe máy về quê đi chơi <strong>tết 2020</strong> - đó là mấy anh XXX (là ai ai cũng biết mà chẳng ai muốn nói)...
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-may-a1" property="schema:about" hreflang="vi">thi bằng lái xe máy a1</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-tphcm" property="schema:about" hreflang="vi">thi bằng lái xe máy tại tphcm</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" property="schema:about" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a1-truoc-tet" property="schema:about" hreflang="vi">thi bang lai xe may a1 truoc tet</a></li>
      </ul>
</div>

  </div>
</article>
</div>

    </div>
              <div class="feed-icons">
      <a href="https://daylaixeoto.edu.vn/taxonomy/term/610/feed" class="feed-icon">
  Subscribe to Tin Tức Trung Tâm
</a>

    </div>
  </div>
</div>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//tin-tuc/tin-tuc-trung-tam" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
</div>
</div>
<div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


<div class="content">

      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
</div>

</div>
</div>
<div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">


<div class="content">

      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
</div>

</div>
</div>
<div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
    <div class="content">
      
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
            </div>
</div>

</div>

  </div>
        </div>
</div>          
</section>