<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="title" content="Học Lái Xe Ôtô - Dạy Lái Xe Ôtô An Toàn"/>
    <meta name="geo.placename" content="Học Lái Xe Ôtô - Dạy Lái Xe Ôtô - Trung tâm Minh Phước"/>
    <meta name="description"
          content="Trường Dạy Lái Xe Ô Tô Ở Tphcm Giá Rẻ Nhất. Dạy Lái Xe Ô Tô Các Hạng. Tỉ Lệ Đậu 100% - Đào Tạo Lái Xe An Toàn - Nơi Học Lái Xe Ôtô Tốt Nhất Dành Cho Bạn"/>
    <meta name="keywords"
          content="học lái xe, học lái xe oto, hoc lai xe oto, học lái xe ô tô, học lái xe oto tại tphcm, học lái xe oto tphcm, học lái xe oto ở tphcm, học lái xe ô tô tại tphcm, học lái xe ô tô ở tphcm,học lái xe ô tô tphcm, hoc lai xe oto tai tphcm, hoc lai xe oto tphcm"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/png"/>

    <title>Học Lái Xe Ôtô - Dạy Lái Xe Ôtô An Toàn</title>
    <meta name="google-site-verification" content="81yiEyprTkD6ETwJUtWg8cm9El0fD3-xEEd2-zeczUI"/>
    <link rel="stylesheet" media="all"
          href="css/css_mt1bojd1nZyjWOaR61Y7JMS_q9dXm9xecMEr4pLWPOo.css"/>
    <link rel="stylesheet" media="all"
          href="css/css_zqHaf5gXAw6SZTvlx4P7htP0iix5ys6795h-L9jCV-A.css"/>
    <script src="js/modernizr.min.js"></script>

</head>
<body class="layout-one-sidebar layout-sidebar-first">
<div id="fb-root"></div>
<a href="#main-content" class="visually-hidden focusable">
    Nhảy đến nội dung
</a>

<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <section class="top-bar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!--Start contact info right-->
                    <div class="contact-info-right">
                        <div class="phnumber">
                            <span class="head-contact-phone"></span>
                            <div class="region region-header-phone">
                                <div id="block-headerphone"
                                     class="block block-block-content block-block-content7d76de46-cc5c-49cd-8440-e75f41e1e369">
                                    <div class="content">
                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                            <p>0999 999 999 | 0999 999 999</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="address-wrap">
                            <div class="address-location"></div>
                            <div class="region region-header-address">
                                <div id="block-headeraddress"
                                     class="block block-block-content block-block-contente0b0ae7d-a872-4c56-9576-ccf004e35f95">
                                    <div class="content">
                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                            <section><p>484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng</p>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End contact info right-->
                </div>
            </div>
        </div>
    </section>
    <!--Start header area-->
    <header class="header-area stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="outer-box clearfix">
                        <!--Start logo-->
                        <div class="logo">
                            <div class="region region-logo">
                                <div id="block-mp-branding"
                                     class="clearfix site-branding block block-system block-system-branding-block">
                                    <a href="/" title="Trang chủ" rel="home" class="site-branding__logo">
                                        <img src="img/logo.png" alt="Trang chủ"/>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!--End logo-->
                        <!--Start mainmenu-->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <div class="region region-primary-menu">
                                    <nav role="navigation" aria-labelledby="block-mp-main-menu-menu"
                                         id="block-mp-main-menu" class="block block-menu navigation menu--main">

                                        <h2 class="visually-hidden" id="block-mp-main-menu-menu">Main navigation</h2>


                                        <div class="content">

                                            <ul class="clearfix navigation clearfix">
                                                <li class="menu-item">
                                                    <a href="/" data-drupal-link-system-path="&lt;front&gt;"
                                                       class="is-active">Trang chủ</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/trung-tam-dao-tao-lai-xe-oto-b2-tai-tphcm-truong-an"
                                                       data-drupal-link-system-path="node/9">GIới thiệu</a>
                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/cac-khoa-hoc-lai-xe-oto"
                                                       data-drupal-link-system-path="courses">Các khoá học</a>
                                                    <ul class="menu">
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/cac-khoa-hoc-lai-xe-oto/hoc-lai-xe-oto-bang-b2"
                                                               data-drupal-link-system-path="courses/cate/1">Học Lái Xe
                                                                Ô Tô Hạng B2</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/hoc-lai-xe-oto-b2-tieu-chuan"
                                                                       data-drupal-link-system-path="node/4">Khoá Học B2
                                                                        Tiêu Chuẩn</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/hoc-lai-xe-oto-b2-dac-biet-vip"
                                                                       data-drupal-link-system-path="node/1386">Khoá Học
                                                                        B2 Đặc Biệt</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/hoc-lai-xe-oto-b2-thi-khong-hoc"
                                                                       data-drupal-link-system-path="node/1387">B2 Chỉ
                                                                        Thi, Không Học</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/hoc-lai-xe-oto-so-tu-dong"
                                                                       data-drupal-link-system-path="node/5">Lái Xe Số
                                                                        Tự Động B11</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/hoc-lai-xe-may-mo-to"
                                                               data-drupal-link-system-path="courses/cate/2">Học Lái Xe
                                                                Máy - Mô tô</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/thi-bang-lai-xe-gan-may-a1"
                                                                       data-drupal-link-system-path="node/1">Thi Bằng
                                                                        Lái Xe Máy A1</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/thi-bang-lai-xe-mo-to-a2"
                                                                       data-drupal-link-system-path="node/3">Thi Bằng
                                                                        Lái Xe Mô tô A2</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/thi-bang-lai-xe-a3"
                                                                       data-drupal-link-system-path="node/1388">Thi Bằng
                                                                        Lái Xe A3</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac"
                                                               data-drupal-link-system-path="courses/cate/3">Các Khoá
                                                                Học Khác</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c"
                                                                       data-drupal-link-system-path="node/1389">Học Lái
                                                                        Xe Tải Bằng C</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/cho-thue-xe-tu-lai"
                                                                       data-drupal-link-system-path="node/1390">Cho Thuê
                                                                        Xe Tập Lái</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx"
                                                                       data-drupal-link-system-path="node/2">Nâng Hạng
                                                                        GPLX</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/tai-lieu-hoc-lai-xe-oto"
                                                       data-drupal-link-system-path="tai-lieu-hoc-lai-xe-oto">Tài
                                                        liệu</a>
                                                    <ul class="menu">
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/tai-lieu-hoc-ly-thuyet-lai-xe-oto"
                                                               data-drupal-link-system-path="taxonomy/term/612">Tài Liệu
                                                                Học Lý Thuyết</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/luat-giao-thong-duong-bo-co-ban"
                                                                       data-drupal-link-system-path="node/1138">Luật
                                                                        Giao Thông Đường Bộ</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/450-cau-hoi-thi-sat-hach-ly-thuyet-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/622">600
                                                                        Câu Hỏi Lý Thuyết</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/node/195">Phần Mềm Ôn Thi Lý Thuyết</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/thi-thu-ly-thuyet-online"
                                                                       data-drupal-link-system-path="node/861">Thi Thử
                                                                        Lý Thuyết Online</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/meo-lam-bai-thi-sat-hach-ly-thuyet-lai-xe-2013"
                                                                       data-drupal-link-system-path="node/940">Mẹo Thi
                                                                        Lý Thuyết 600 Câu</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class="menu-item menu-item--mp-expanded dropdown">
                                                            <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto"
                                                               data-drupal-link-system-path="tai-lieu-hoc-thuc-hanh-lai-xe-oto">Tài
                                                                Liệu Học Thực Hành</a>
                                                            <ul class="menu">
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/ky-thuat-lai-xe-oto-co-ban"
                                                                       data-drupal-link-system-path="taxonomy/term/617">Hướng
                                                                        Dẫn Học Lái Xe Cơ Bản</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-lai-xe-so-san"
                                                                       data-drupal-link-system-path="taxonomy/term/618">Hướng
                                                                        Dẫn Học Lái Xe Số Sàn</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-lai-xe-so-tu-dong"
                                                                       data-drupal-link-system-path="taxonomy/term/619">Hướng
                                                                        Dẫn Học Lái Xe Số Tự Động</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/huong-dan-thi-thuc-hanh-sat-hach-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/621">Hướng
                                                                        Dẫn Thi Thực Hành</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/kinh-nghiem-lai-xe-oto"
                                                                       data-drupal-link-system-path="taxonomy/term/620">Kinh
                                                                        Nghiệm Lái Xe</a>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/tin-tuc" data-drupal-link-system-path="tin-tuc">Tin
                                                        tức</a>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="/tin-tuc/tin-tuc-oto"
                                                               data-drupal-link-system-path="taxonomy/term/609">Tin Tức
                                                                Ôtô</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/tin-tuc/tin-tuc-trung-tam"
                                                               data-drupal-link-system-path="taxonomy/term/610">Tin Tức
                                                                Trung Tâm</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/thu-gian"
                                                               data-drupal-link-system-path="taxonomy/term/611">Thư
                                                                giãn</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item menu-item--mp-expanded dropdown">
                                                    <a href="/hoc-phi-cac-khoa-hoc-lai-xe-oto"
                                                       data-drupal-link-system-path="node/1940">Học phí</a>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="/hoc-phi-cac-khoa-hoc-lai-xe-oto"
                                                               data-drupal-link-system-path="node/1940">Học phí</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="/cach-thuc-dang-ky-hoc-lai-xe-oto"
                                                               data-drupal-link-system-path="node/1941">Cách Thức Đăng
                                                                Ký</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScc-YMvd-EQzjigkLZHx3wVDnyfGdL-NRa90oo-BT9DAQYatA/viewform">Đăng
                                                                Ký Online</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item">
                                                    <a href="/lien-he" data-drupal-link-system-path="contact">Liên
                                                        Hệ</a>
                                                </li>
                                            </ul>


                                        </div>
                                    </nav>

                                </div>

                            </div>
                        </nav>
                        <!--End mainmenu-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End header area-->

    <!--Start rev slider wrapper-->


    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="slidingoverlayleft">
                    <img src="img/banner-1.jpg" alt="" width="1920" height="800"
                         data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                    <div class="tp-caption  tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="205"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-start="700">

                    </div>

                </li>


            </ul>
        </div>
    </section>

    <!--End rev slider wrapper-->

    <!--Start section content-->
    <section class="main-content main-content-home">
        <div class="container clearfix">
            <div class="region region-content">
                <div id="block-mp-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                        <h1 class="title page-title">Trang chủ</h1>


                    </div>
                </div>
                <div id="block-homeintrobox"
                     class="block block-block-content block-block-content66e6a919-7b47-4b2d-b831-014565992226">


                    <div class="content">

                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2 class="text-align-center block-title"><strong>Trường dạy lái xe hàng đầu tại Hải
                                    Phòng</strong></h2>

                            <p>Trường Dạy Lái Xe An Toàn trực thuộc Sở LĐ – TBXH và Sở GTVT Tp.Hải Phòng được thành lập
                                theo
                                quyết định số 52/TCĐBVNQLPT&amp;NL của Tổng cục đường bộ VN ký ngày 06/06/2006.<br/>
                                Qua hơn 10 năm kinh nghiệm và dẫn đầu trong đào tạo lái xe, chúng tôi tự hào đã đào tạo
                                hàng ngàn học viên học lái xe tại Hải Phòng và các tỉnh thành lân cận sở hữu bằng lái xe
                                môtô, ôtô, xe máy… chất lượng với chi phí cạnh tranh nhất, cùng kỹ năng lái xe lành
                                nghề, tự tin trên mọi cung đường. Dạy Lái Xe An Toàn – Nơi học lái xe ôtô giá rẻ, chất
                                lượng, uy tín hàng đầu ở TPHCM. Học lái xe ôtô B2 tại Hải Phòng đảm bảo đậu 95% với chi
                                phí
                                trọn gói không phát sinh trong quá trình học.</p>
                        </div>

                    </div>
                </div>
                <div id="block-mp-content" class="block block-system block-system-main-block">


                    <div class="content">

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End section content-->
    <!--Start section Home Statistic-->
    <section class="home-statistic-content">
        <div class="container clearfix">
            <div class="region region-home-statistic">
                <div id="block-homecenterstatistic" class="block block-home block-home-statistic-block">


                    <div class="content">
                        <div class="home-statistic row">
                            <div class="statistic-box statistic-box-first col-md-4">
                                <div class="statistic-large">12+</div>
                                <div class="statistic-sub">NĂM HOẠT ĐỘNG</div>
                            </div>
                            <div class="statistic-box col-md-4">
                                <div class="statistic-large">1200+</div>
                                <div class="statistic-sub">HỌC VIÊN</div>
                            </div>
                            <div class="statistic-box col-md-4">
                                <div class="statistic-large">42</div>
                                <div class="statistic-sub">XE TẬP LÁI</div>
                            </div>
                            <div class="statistic-box col-md-4">
                                <div class="statistic-large">2</div>
                                <div class="statistic-sub">SÂN TẬP</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End section Home Statistic-->
    <!--Start section Home Promotted courses-->
    <section class="home-promotted-content">
        <div class="container clearfix">
            <div class="region region-home-promotted">
                <div id="block-homepromotedcourses" class="block block-home block-home-course-block">


                    <div class="content">
                        <div class="home-courses-promoted">
                            <div class="home-course-promote-title">Các khóa học lái xe (tuyển sinh hàng tháng)</div>

                            <div class="row first-row">
                                <!--Start single blog item-->
                                <div class="col-md-4">
                                    <div class="single-blog-item single-blog-item-1">
                                        <div class="img-holder">
                                            <img src="img/thi-bang-lai-xemay-a1.jpg?itok=eN-Os56h"
                                                 width="370" height="250" alt="" typeof="foaf:Image"
                                                 class="image-style-home-course"/>


                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="/thi-bang-lai-xe-gan-may-a1"><i class="fa fa-link"
                                                                                                 aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <a href="/thi-bang-lai-xe-gan-may-a1">
                                                <h3 class="blog-title">Thi Bằng Lái Xe Máy A1</h3>
                                            </a>
                                            <div class="text">
                                                <p>Dành cho học viên muốn chạy xe mô tô 2 bánh&nbsp;dưới 175cc, hướng
                                                    dẫn đậu 99%<br/>
                                                    Thời gian học: 1 tuần<br/>
                                                    Thực hiện: tập xe miễn phí<br/>
                                                    Khám sức khỏe ngay tại văn phòng<br/>
                                                    Hồ sơ: 01 bản photo CMND + 04 tấm hình</p>

                                                <p>Học phí: 315.000đ</p>

                                            </div>
                                            <div class="register"><a href="/thi-bang-lai-xe-gan-may-a1"
                                                                     class="home-register" data-course-id="1">Đăng
                                                    ký</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                                <div class="col-md-4">
                                    <div class="single-blog-item single-blog-item-3">
                                        <div class="img-holder">
                                            <img src="img/thi-bang-lai-moto-A2.jpg?itok=iM7Gp14k"
                                                 width="370" height="250" alt="" typeof="foaf:Image"
                                                 class="image-style-home-course"/>


                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="/thi-bang-lai-xe-mo-to-a2"><i class="fa fa-link"
                                                                                               aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <a href="/thi-bang-lai-xe-mo-to-a2">
                                                <h3 class="blog-title">Thi Bằng Lái Xe Mô tô A2</h3>
                                            </a>
                                            <div class="text">
                                                <p>Dành cho những học viên chạy xe mô tô 2 bánh&nbsp;trên 175cc và cả&nbsp;hạng
                                                    A1, lịch thi hàng tuần, hướng dẫn đậu 99%.<br/>
                                                    Thời gian học: 1 tuần<br/>
                                                    Thực hành: tập xe miễn phí<br/>
                                                    Khám sức khoẻ&nbsp;đầy&nbsp;đủ&nbsp;đúng quy&nbsp;định.<br/>
                                                    Hồ sơ: 01 bản photo CMND + 04 tấm hình</p>

                                                <p><span class="price">Học Phí: 1.195.000đ</span></p>

                                            </div>
                                            <div class="register"><a href="/thi-bang-lai-xe-mo-to-a2"
                                                                     class="home-register" data-course-id="3">Đăng
                                                    ký</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                                <div class="col-md-4">
                                    <div class="single-blog-item single-blog-item-1388">
                                        <div class="img-holder">
                                            <img src="img/course3_0_0.jpg?itok=iI1L2J4y"
                                                 width="370" height="250" alt="" typeof="foaf:Image"
                                                 class="image-style-home-course"/>


                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="/thi-bang-lai-xe-a3"><i class="fa fa-link"
                                                                                         aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <a href="/thi-bang-lai-xe-a3">
                                                <h3 class="blog-title">Thi Bằng Lái Xe A3</h3>
                                            </a>
                                            <div class="text">
                                                <p>Dành cho những học viên muốn chạy xe ba bánh, xe ba gác máy, lịch thi
                                                    hàng tuần, hỗ trợ&nbsp;đậu 100%.</p>

                                                <p><br/>
                                                    Thời gian học: 2 tuần<br/>
                                                    Thực hành: tập xe miễn phí<br/>
                                                    Khám sức khoẻ ngay tại văn phòng<br/>
                                                    Hồ sơ: 01 bản photo CMND + 04 tấm hình</p>

                                                <p class="price">Học Phí: 2.100.000đ</p>

                                            </div>
                                            <div class="register"><a href="/thi-bang-lai-xe-a3" class="home-register"
                                                                     data-course-id="1388">Đăng ký</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                            </div>
                            <div class="row second-row">
                                <!--Start single blog item-->
                                <div class="col-md-6">
                                    <div class="single-blog-item single-blog-item-4">
                                        <div class="img-holder">
                                            <img src="img/thi-bang-lai-oto-b2.jpg?itok=wRxS-3rU"
                                                 width="600" height="310" alt="" typeof="foaf:Image"
                                                 class="image-style-home-course-big"/>


                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="/hoc-lai-xe-oto-b2-tieu-chuan"><i class="fa fa-link"
                                                                                                   aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <a href="/hoc-lai-xe-oto-b2-tieu-chuan">
                                                <h3 class="blog-title">Khoá Học B2 Tiêu Chuẩn</h3>
                                            </a>
                                            <div class="text">
                                                <p>Dành cho những học viên muốn học lái xe ô tô chở người
                                                    dưới 09 chỗ, đào tạo cơ bản tới nâng cao, chương trình
                                                    học bài bản, thời gian học linh động. Cam kết không phát
                                                    sinh bất kì khoản nào khác.</p>

                                                <p><br/>
                                                    Thời gian học: 08 - 10 tháng<br/>
                                                    Thực hành: 12h giáo viên kèm riêng 01 người/xe<br/>
                                                    Thời gian học linh động: học viên được tự chọn các ngày
                                                    trong tuần. Kể cả T7-CN Hồ sơ: 02 bản photo CMND + 08 tấm
                                                    hình<br/>
                                                    Khám sức khoẻ – phát tài liệu miễn phí</p>

                                                <p><br/>
                                                    <span class="price">Học Phí: 14.400.000đ</span><br/>
                                                    (đóng chia làm 2 lần)<br/>
                                                    Lần 1: 11.500.000 – khi nộp hồ sơ đăng ký.<br/>
                                                    Lần 2: Số còn lại – khi học thực hành.</p>

                                            </div>
                                            <div class="register"><a href="/hoc-lai-xe-oto-b2-tieu-chuan"
                                                                     class="home-register" data-course-id="4">Đăng
                                                    ký</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                                <div class="col-md-6">
                                    <div class="single-blog-item single-blog-item-5">
                                        <div class="img-holder">
                                            <img src="img/thi-bang-lai-xe-oto-B1-so-tu-dong.jpg?itok=3lpMAGM6"
                                                 width="600" height="310" alt="" typeof="foaf:Image"
                                                 class="image-style-home-course-big"/>


                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="/hoc-lai-xe-oto-so-tu-dong"><i class="fa fa-link"
                                                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <a href="/hoc-lai-xe-oto-so-tu-dong">
                                                <h3 class="blog-title">Lái Xe Số Tự Động B11</h3>
                                            </a>
                                            <div class="text">
                                                <p>Dành cho những học viên muốn học lái xe ô tô chở người dưới 09 chỗ
                                                    <strong>số tự động</strong>, đào&nbsp;tạo cơ bản tới nâng cao,
                                                    chương trình học bài bản, thời gian học linh động. Cam kết&nbsp;không
                                                    phát sinh bất kì khoản nào khác.</p>

                                                <p><br/>
                                                    Thời gian học: 06 - 08 tháng<br/>
                                                    Thực hành: 20h giáo viên kèm riêng 1 người/xe<br/>
                                                    Thời gian học linh động: học viên được tự chọn các ngày trong tuần.
                                                    Kể cả T7-CN<br/>
                                                    Hồ sơ: 02 bản photo CMND + 08 tấm hình.<br/>
                                                    Khám sức khoẻ + phát tài liệu miễn phí</p>

                                                <p><br/>
                                                    <span class="price">Học Phí: 13.000.000đ</span><br/>
                                                    (phí đi hồ sơ + lệ phí thi TRỌN GÓI)<br/>
                                                    Lần 1: 13.000.000 – khi nộp hồ sơ đăng ký.<br/>
                                                    Lần 2: Khi học thực hành.</p>

                                            </div>
                                            <div class="register"><a href="/hoc-lai-xe-oto-so-tu-dong"
                                                                     class="home-register" data-course-id="5">Đăng
                                                    ký</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End section Home Promotted courses-->
    <!--Start section Home Statistic-->
    <section class="home-four-boxes-content working-area">
        <div class="container clearfix">
            <div class="region region-home-fourboxes">
                <div id="block-homefourboxes" class="block block-home block-home-fourboxes-block">


                    <div class="content">

                        <div class="sec-title text-center">
                            <h2>Dịch vụ đào tạo lái xe hoàn hảo tại tp.HCM</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-working-item">
                                    <div class="icon-box-mp">
                                        <div class="icon">
                                            <img src="img/logo_daotao.png?itok=i5M9tTca"
                                                 width="200" height="200" alt="" typeof="foaf:Image"
                                                 class="image-style-mp-featured"/>


                                        </div>

                                    </div>
                                    <div class="text-box text-center">
                                        <h3>ĐÀO TẠO CHÍNH QUY</h3>
                                        <p>Trường&nbsp;Dạy Lái Xe An Toàn được thành lập ngày 06/06/2006 bởi
                                            Tổng cục đường bộ VN đã ký quyết định số 52/
                                            TCĐBVN-QLPT&amp;NL..</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-working-item">
                                    <div class="icon-box-mp">
                                        <div class="icon">
                                            <img src="img/logo_giaovien.png?itok=IhKpLUa4"
                                                 width="200" height="200" alt="" typeof="foaf:Image"
                                                 class="image-style-mp-featured"/>


                                        </div>

                                    </div>
                                    <div class="text-box text-center">
                                        <h3>ĐỘI NGŨ GIÁO VIÊN GIỎI</h3>
                                        <p>Kỹ năng lái xe thành thạo, tự tin trên những cung đường là trách
                                            nhiệm của đội ngũ cán bộ, giáo viên giỏi, đầy nhiệt huyết của
                                            Dạy Lái Xe An Toàn</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-working-item">
                                    <div class="icon-box-mp">
                                        <div class="icon">
                                            <img src="img/logo_dangky.png?itok=8ecDAw8w"
                                                 width="200" height="200" alt="" typeof="foaf:Image"
                                                 class="image-style-mp-featured"/>


                                        </div>

                                    </div>
                                    <div class="text-box text-center">
                                        <h3>ĐĂNG KÝ NHANH</h3>
                                        <p>Thủ tục đăng ký online nhanh gọn cùng sự hỗ trợ nhiệt tình của
                                            đội ngũ nhân viên Dạy Lái Xe An Toàn sẽ tiết kiệm được rất nhiều
                                            thời gian cho bạn.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-working-item">
                                    <div class="icon-box-mp">
                                        <div class="icon">
                                            <img src="img/logo_hailong.png?itok=nyfBEtRa"
                                                 width="200" height="200" alt="" typeof="foaf:Image"
                                                 class="image-style-mp-featured"/>


                                        </div>

                                    </div>
                                    <div class="text-box text-center">
                                        <h3>HỌC VIÊN HÀI LÒNG</h3>
                                        <p>Chúng tôi không cam kết “bao đậu”, nhưng sự hài lòng của hàng
                                            trăm học viên mỗi năm là động lực cho toàn thể Trung tâm Dạy Lái
                                            Xe An Toàn..</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End section Home Statistic-->

    <!--Start section Home Testimonial-->
    <section class="home-testimonial-content">
        <div class="container clearfix">
            <div class="region region-home-testimonial">
                <div id="block-hometestimonial" class="block block-home block-home-testimonial-block">


                    <div class="content">
                        <div class="testimonial-promoted">
                            <div class="home-course-promote-title">Đánh giá của học viên</div>

                            <div class="row first-row">
                                <!--Start single blog item-->
                                <div class="col-md-4 col-home-testimonial col-home-testimonial-1">
                                    <div class="single-blog-item single-blog-item-6">
                                        <div class="img-holder image-testimonial-hoder">
                                            <img src="img/DSC_0495%20copy.jpg?itok=CkFAwZKF"
                                                 width="100" height="100" alt="" typeof="foaf:Image"
                                                 class="image-style-home-testimonial"/>


                                        </div>
                                        <div class="text-holder">
                                            <a href="">
                                                <h3 class="blog-title"></h3>
                                            </a>
                                            <div class="text">
                                                <p>Mình thi A2 xong nhờ mấy em ở văn phòng đổi bằng IAA, mới làm 1
                                                    chuyến xuyên xứ sở chuột túi xong, hoàn toàn yên tâm về dịch vụ của
                                                    các em.<br/>
                                                    &nbsp;</p>

                                            </div>
                                            <div class="testi-name">- Thu Thủy -</div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                                <div class="col-md-4 col-home-testimonial col-home-testimonial-2">
                                    <div class="single-blog-item single-blog-item-7">
                                        <div class="img-holder image-testimonial-hoder">
                                            <img src="img/668%20Hung.jpeg"
                                                 width="100" height="100" alt="" typeof="foaf:Image"
                                                 class="image-style-home-testimonial"/>


                                        </div>
                                        <div class="text-holder">
                                            <a href="">
                                                <h3 class="blog-title"></h3>
                                            </a>
                                            <div class="text">
                                                <p>Thành mới thi GPLX hạng A2 bên DLXAT xong, nhờ mr Thắng nhiệt tình hỗ
                                                    trợ nên vượt qua bài thi lý thuyết và thực hành trơn tru ngon lành,
                                                    rất cảm ơn tt đã giúp đỡ mình những bước khởi đầu cho đam mê PKL,
                                                    nhất định sẽ giới thiệu bạn bè tới thi<br/>
                                                    &nbsp;</p>

                                            </div>
                                            <div class="testi-name">- Nguyễn Tấn Thành -</div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                                <div class="col-md-4 col-home-testimonial col-home-testimonial-3">
                                    <div class="single-blog-item single-blog-item-8">
                                        <div class="img-holder image-testimonial-hoder">
                                            <img src="img/day-lai-xe-hoc-vien-trinh.jpg?itok=AzaPbRKh"
                                                 width="100" height="100" alt="" typeof="foaf:Image"
                                                 class="image-style-home-testimonial"/>


                                        </div>
                                        <div class="text-holder">
                                            <a href="">
                                                <h3 class="blog-title"></h3>
                                            </a>
                                            <div class="text">
                                                <p>Dạy Lái Xe An Toàn khá ổn,&nbsp;giáo viên dạy học lái xe ô tô nhiệt
                                                    tình, hiện em vừa thi đậu xong. Chân thành cảm ơn các thầy rất
                                                    nhiều. Chúc trường sẽ phát triển mạnh mẽ để trở thành trung tâm đào
                                                    tạo lái xe hàng đầu tại tphcm<br/>
                                                    &nbsp;</p>

                                            </div>
                                            <div class="testi-name">- Thúy An -</div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single blog item-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="slogan-area home-banner-horizon">
        <div class="container">
            <div class="region region-home-banner">
                <div id="block-homehorizonbanner" class="block block-home block-home-horizonbanner-block">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4 col-xs-0">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <div class="mp-intro-slogan">
                                    <h2>Trung tâm đào tạo lái xe ôtô An Toàn tại Hải Phòng
                                        <br>Không ngừng nỗ lực để khẳng định thương hiệu</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!--End section Home Testimonial-->
    <section class="home-register">
        <div class="container">
            <div class="region region-home-register">
                <div id="block-homeregisterform" class="block block-home block-home-register-block">


                    <div class="content">
                        <div class="row">
                            <div class="home-course-promote-title">Để lại lời nhắn cho chúng tôi</div>
                            <div class="home-register-text">Đăng ký học và để lại thông tin của bạn     ngay hôm nay để được tư vấn những chương trình
                                ưu đãi học phí mới nhất. <br>
                                Trung tâm Dạy Lái Xe An Toàn xin hân hạnh phục vụ quý Học viên.
                            </div>
                            <div class="col-xs-12 col-md-7">
                                <div class="row">
                                    <div class="col-md-7 col-xs-12">
                                        <span class="register-head">DẠY LÁI XE AN TOÀN </span>
                                        <br>484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.
                                        <br>
                                        <srtong>0902.369.171</srtong>
                                        – Mr Thắng
                                        <br>
                                        <srtong>0974.145.171</srtong>
                                        – Thầy Thiêm
                                        <br>info@daylaixeoto.edu.vn
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <span class="register-head">LỊCH LÀM VIỆC</span>
                                        <br>Thứ 2 - Thứ 7:8h30 - 18h
                                        <br>Chủ Nhật, ngày lễ đóng cửa.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="register-head">ĐIỂM ĐƯA ĐÓN</span>
                                        <br>Địa điểm 1: 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.
                                        <br>Địa điểm 2: 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.
                                    </div>

                                </div>
                                <div class="row google-map-render">
                                    <div class="col-md-12 col-md-register-map">
                                        <div class="region region-register-map">
                                            <div class="content">

                                                <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                    <p>
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.8775795983024!2d106.69218831492951!3d20.836649386102778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7a9c2ee478df%3A0x6039ffe1614ede5c!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBIw6BuZyBo4bqjaSBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1602040099348!5m2!1svi!2s"
                                                                width="600" height="340" frameborder="0"
                                                                style="border:0;" allowfullscreen="" aria-hidden="false"
                                                                tabindex="0"></iframe>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <form class="register-course-form" data-drupal-selector="register-course-form"
                                      action="/" method="post" id="register-course-form" accept-charset="UTF-8">
                                    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-fullname form-item-fullname">
                                        <label for="edit-fullname" class="js-form-required form-required">Họ tên</label>
                                        <input placeholder="Họ tên *" data-drupal-selector="edit-fullname" type="text"
                                               id="edit-fullname" name="fullname" value="" size="60" maxlength="128"
                                               class="form-text required" required="required" aria-required="true"/>

                                    </div>
                                    <div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email">
                                        <label for="edit-email" class="js-form-required form-required">Thư điện
                                            tử</label>
                                        <input placeholder="Email *" data-drupal-selector="edit-email" type="email"
                                               id="edit-email" name="email" value="" size="60" maxlength="254"
                                               class="form-email required" required="required" aria-required="true"/>

                                    </div>
                                    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-phone form-item-phone">
                                        <label for="edit-phone" class="js-form-required form-required">Điện
                                            thoại</label>
                                        <input placeholder="Điện thoại *" data-drupal-selector="edit-phone" type="text"
                                               id="edit-phone" name="phone" value="" size="60" maxlength="128"
                                               class="form-text required" required="required" aria-required="true"/>

                                    </div>
                                    <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-course form-item-course">
                                        <label for="edit-course" class="js-form-required form-required">Course</label>
                                        <select placeholder="Course List" data-drupal-selector="edit-course"
                                                id="edit-course" name="course" class="form-select required"
                                                required="required" aria-required="true">
                                            <option value="" selected="selected">- Chọn -</option>
                                            <option value="1">Thi Bằng Lái Xe Máy A1</option>
                                            <option value="2">Nâng Hạng GPLX</option>
                                            <option value="3">Thi Bằng Lái Xe Mô tô A2</option>
                                            <option value="4">Khoá Học B2 Tiêu Chuẩn</option>
                                            <option value="5">Lái Xe Số Tự Động B11</option>
                                            <option value="1386">Khoá Học B2 Đặc Biệt</option>
                                            <option value="1387">B2 Chỉ Thi, Không Học</option>
                                            <option value="1388">Thi Bằng Lái Xe A3</option>
                                            <option value="1389"> Học Lái Xe Tải Bằng C</option>
                                            <option value="1390">Cho Thuê Xe Tập Lái</option>
                                        </select>
                                    </div>
                                    <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message form-item-message">
                                        <label for="edit-message">Thông điệp</label>
                                        <div class="form-textarea-wrapper">
                                            <textarea placeholder="Thông điệp" data-drupal-selector="edit-message"
                                                      id="edit-message" name="message" rows="5" cols="60"
                                                      class="form-textarea resize-vertical"></textarea>
                                        </div>

                                    </div>
                                    <details id="captcha" class="captcha js-form-wrapper form-wrapper" open="open">
                                        <summary role="button" aria-controls="captcha" aria-expanded="true"
                                                 aria-pressed="true">CAPTCHA
                                        </summary>
                                        <div class="details-wrapper">
                                            <div class="details-description">Câu hỏi này dùng để kiểm tra xem bạn là
                                                người hay là chương trình tự động.
                                            </div>
                                            <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-captcha-response form-item-captcha-response">
                                                <label for="edit-captcha-response"
                                                       class="js-form-required form-required">Những mã nào có trong hình
                                                    ảnh?</label>
                                                <div id="edit-captcha-response--description" class="description">
                                                    Nhập các ký tự được hiển thị trên hình ảnh.
                                                </div>
                                            </div>
                                        </div>
                                    </details>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!--Start footer bottom area-->
    <section class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="region region-footer-logo">
                        <div id="block-sitebranding"
                             class="clearfix site-branding block block-system block-system-branding-block">


                            <a href="/" title="Trang chủ" rel="home" class="site-branding__logo">
                                <img src="img/logo.png" alt="Trang chủ"/>
                            </a>
                        </div>

                    </div>

                    <div class="copyright-text">
                        <p>© 2018 Dạy Lái Xe An Toàn
                            <br>Thiết kế & Phát triển bởi <a href="http://prowebmaster.info"
                                                             target="_BLANK">Webmaster</a></p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-teacher-phone">
                            <div class="phone-icon"></div>
                            <div class="region region-footer-contact-phone">
                                <div id="block-footercontactphone"
                                     class="block block-block-content block-block-contentd96ef6b7-d8ce-4eb7-8b37-fba3002a0349">


                                    <div class="content">

                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                            <p><a href="tel:0933427999" style="color:#ffffff">0999.999.999</a> - <a
                                                        href="tel:090239171" style="color:#ffffff">0999.999.999</a> –
                                                Thầy
                                                Hiếu Dạy Lái Xe An Toàn!</p>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row row-center-address">
                        <div class="region region-footer-center-address">
                            <div id="block-footercenteraddress"
                                 class="block block-block-content block-block-contentdaf656ce-c4d2-481f-9b7d-d1f3166e6616">


                                <div class="content">

                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <div class="col-md-4 text-align-right"><span
                                                    class="footer-head">Phòng Ghi Danh</span><br/>
                                            Nhà A4, 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.<br/>
                                        </div>

                                        <div class="col-md-4"><span class="footer-head">Điểm Nhận Xe Tập Lái</span><br/>
                                            Nhà A4, 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng
                                        </div>

                                        <div class="col-md-4"><span class="footer-head">LỊCH LÀM VIỆC</span><br/>
                                            Thứ 2 - Thứ 7: 8h00 - 19h00<br/>
                                            Chủ Nhật:10h-16h. Ngày lễ đóng cửa
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
</div>
</section>
<!--End footer bottom area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- mixit up -->
<script src="js/jquery.mixitup.min.js"></script>
<!--

<script src="js/jquery.easing.min.js"></script>
-->

<!-- video responsive script-->
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.flexslider.js"></script>
<!-- jQuery ui js -->
<script src="js/jquery-ui.js"></script>
<!-- fancy box -->
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.appear.js"></script>

<!-- isotope script-->
<script src="js/isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>

<!-- revolution slider js -->
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution.extension.actions.min.js"></script>
<script src="js/revolution.extension.carousel.min.js"></script>
<script src="js/revolution.extension.kenburn.min.js"></script>
<script src="js/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution.extension.migration.min.js"></script>
<script src="js/revolution.extension.navigation.min.js"></script>
<script src="js/revolution.extension.parallax.min.js"></script>
<script src="js/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution.extension.video.min.js"></script>

<!-- thm custom script -->
<script src="js/custom.js"></script>
</div>
<script src="js/js_QEbGdxdLW3ZRhXDtcn9x8Rmk3TDqSmK5QfW8481bK98.js"></script>


<img height="1" width="1" style="border-style:none;" alt=""
     src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/987500959/?guid=ON&amp;script=0"/>

</body>
</html>







