<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Khoá Học Lái Xe Ôtô B2 Tiêu Chuẩn Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="4" role="article" about="/hoc-lai-xe-oto-b2-tieu-chuan" class="node node--type-course node--promoted node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Bằng lái xe ô tô hạng B2 theo quy định được phép điều khiển xe ô tô du lịch dưới 9 chỗ và xe ô tô tải trọng tải dưới 3,5 tấn; dùng cho mục đích cá nhân và kinh doanh.</p>

<p>Khóa học lái xe ôtô B2 tiêu chuẩn tại Trung Tâm Dạy Lái Xe An Toàn có lớp mới khai giảng hàng tuần. Lịch học linh hoạt, học viên có thể tự chọn thời gian học phù hợp nhất với lịch làm việc và công tác của mình.</p>

<h3>Học phí trọn gói: <strong>14.400.000 VNĐ</strong> CAM KẾT KHÔNG PHÁT SINH THÊM - chia làm 2 lần đóng</h3>

<p><a href="hoc-phi-cac-khoa-hoc-lai-xe-oto"><em> </em><em> </em> Xem Giảm Học Phí Ưu Đãi  <em> </em><em> </em></a></p>

<ul><li>Lần 1: 11.500.000 - khi nộp hồ sơ đăng kí và lấy suất thi với Sở GTVT Tp. Hải Phòng</li>
	<li>Lần 2: Số còn lại - khi muốn tham gia học thực hành.</li>
	<li>Thời gian học: 08 -10 tháng</li>
</ul><p><a href="tin-tuc/tin-tuc-trung-tam/lich-dao-tao-cac-khoa-hoc-lai-xe-o-to-tai-trung-tam-truong-an"><em> </em> Xem Thời Khoá Biểu học lý thuyết và thực hành.</a></p>

<h4>Giai đoạn 1: học lý thuyết</h4>

<p>- Học viên được học luật giao thông đường bộ, quy tắc giao thông cơ bản, được tìm hiểu căn bản về cấu tạo xe và cách sửa chữa xe ô tô, về các cách lái xe an toàn và đạo đức của người ngồi trên vô lăng.</p>

<p>- Trung tâm có các lớp học lý thuyết tập trung vào hầu hết các buổi trong tuần (sáng: 08h30–10h30, chiều: 14h-16h, tối: 18h-20h), học viên tự chọn lịch học phù hợp cho mình.</p>

<h4>Giai đoạn 2: học thực hành</h4>

<p>- Học thực hành 01 học viên/xe.</p>

<p><strong>Danh sách địa điểm đưa đón:</strong></p>

<ul><li>01 - Phố Mới, Tân Dương, Thủy Nguyên, Hải Phòng </li>
    <li>02 - Bạch Đằng, Sở Dầu, Hồng Bàng, Hải Phòng</li>
    <li>03 - Vinh Quang, Vĩnh Bảo, Hải Phòng</li>
    <li>04 - Thôn Câu Trung, Quốc Tuấn, An Lão, Hải Phòng</li>
</ul>
<p> </p>
</ul><p>- Thời gian do học viên sắp xếp từ thứ 2 - Chủ nhật, sáng từ 7h - 11h, chiều từ 13h -17h</p>

<p>- Học viên được học thực hành lái xe đường trường, lái xe trong thành phố và lái xe trong bãi tập sa hình, cụ thể như sau:</p>

<ul><li>01 buổi đầu: Làm quen các thao tác cơ bản, các hệ thống thiết bị của xe, tập số nóng số nguội.</li>
	<li>07 buổi sau đi đường trường tại các tuyến đường giao thông công cộng gần khu vực đưa đón + kết hợp học các kĩ năng nâng cao và thực hiện các bài sa hình riêng lẻ.</li>
	<li>Buổi thứ 09 ôn thi 01 giờ cảm ứng miễn phí tại sân sát hạch với 11 bài sa hình liên hoàn.</li>
</ul><p>- Thời gian học thực hành cho mỗi học viên tối đa 86h (gồm giờ dịch vụ + giờ theo lịch của trường)</p>

<p>- Dạy Lái Xe An Toàn cam kết dạy thực hành cho đến khi học viên có thể lái xe một cách tự tin và thành thạo.</p>

<h4>Giai đoạn 3: ôn và thi sát hạch</h4>

<p>Kết thúc giai đoạn học thực hành lái xe, học viên sẽ được bố trí thi thử nhằm giúp học viên tạo cảm giác tự tin và làm quen với bài thi sát hach.</p>

<p>Đồng thời học viên cũng sẽ được bố trí tập lái trên xe cảm ứng để làm quen với xe và sân thi sát hạch. Xe cảm ứng là loại xe chính thức dùng để thi sát hạch cấp giấy phép lái xe hiện nay.</p>

<p>Sau khi hoàn thành, học viên sẽ được xếp lịch thi tốt nghiệp bao gồm thi lý thuyết lẫn sa hình, kỳ thi nhằm kiểm tra lại khả năng của học viên cũng như cấp chứng chỉ học nghề lái xe cho học viên hoàn thành khoá học.</p>

<p><strong>Thi sát hạch:</strong> sau khi hoàn thành khoá học lái xe ôtô 3 tháng tại trung tâm, tự tin với khả năng lái xe và sự am hiểu lý thuyết luật giao thông đường bộ của mình, đã đến lúc học viên tham gia kỳ thi sát hạch cấp giấy phép lái xe ôtô hạng B2 do Sở GTVT tổ chức</p>

<p>Nếu mọi việc thuận lợi, học viên thành công vượt qua kỳ thi, bằng lái sẽ được Sở cấp cho học viên trong vòng 14-20 ngày sau.</p>

<p>Nếu bạn không vượt qua được kỳ thi, bạn cũng đừng nên quá đau buồn, bạn buồn 1 thì chúng tôi buồn 10 ( vì chúng tôi phải làm thủ tục và nộp lệ phí cho bạn thi lại, ngoài ra còn bị trừ điểm chắt lượng và bị Sở GTVT Tp. Hải Phòng hạ suất thi!). Bạn về nhà ôn tập lại và rút kinh nghiệm đợt thi vừa rồi, chúng tôi sẽ xếp lịch thi lại cho bạn trong vòng 2-3 tuần. Mọi chi phí thi lại chúng tôi chi trả.</p>

<p class="text-align-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLScc-YMvd-EQzjigkLZHx3wVDnyfGdL-NRa90oo-BT9DAQYatA/viewform"><img alt="day lai xe oto truong an" src="/img/dkyngay.gif" /></a></p>

<h5>Hồ sơ đăng ký</h5>

<p>- 02 chứng minh nhân dân photo (không cần công chứng).</p>

<p>- 01 bản photo GPLX thẻ Pet (bắt buộc phải khai báo nếu có)</p>

<p>- 12 tấm hình 3 x 4 đúng quy cách(*)</p>

<p>- 01 Giấy khám sức khoẻ tương ứng hạng cần học.</p>

<h5>Yêu cầu:</h5>

<p>- Học viên phải đủ 18 tuổi trở lên.</p>

<p>- Đủ sức khoẻ lái xe hạng B2 theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…).</p>

<p><em> </em> <strong>Địa điểm học lý thuyết:</strong> Số 484, Lạch Tray, Ngô Quyền, Tp. Hải Phòng.</p>

<p><em> </em> <strong>Địa điểm học thực hành: Đưa đón tại các điểm sau:</strong></p>

<ul><li>01 - Phố Mới, Tân Dương, Thủy Nguyên, Hải Phòng </li>
    <li>02 - Bạch Đằng, Sở Dầu, Hồng Bàng, Hải Phòng</li>
    <li>03 - Vinh Quang, Vĩnh Bảo, Hải Phòng</li>
    <li>04 - Thôn Câu Trung, Quốc Tuấn, An Lão, Hải Phòng</li>
<p> </p>
<h4>(*) Quy định về hình thẻ 3x4:</h4>

<p>Theo quy định mới ban hành của Sở GTVT Tp. Hải Phòng, hình có hiệu lực phải là:</p>

<ul><li>Hình được chụp trong vòng 3 tháng trở lại.</li>
	<li>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</li>
</ul><p><img alt="day lai xe oto truong an" src="/img/hinhmau.jpg" /></p>

<p>Xin học viên lưu ý thực hiện đúng yêu cầu để tránh sự phiền hà, tốn công sức cũng như thời gian để làm lại thủ tục.</p>

<p>Trung tâm Dạy Lái Xe  xin chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào.</p>

<p> </p>

<div class="contacttainfo" id="tacontactinfo">
<h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>

<p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 1172i đường 3 Tháng 2, P.12, Q.11, Tp. Hải Phòng</p>

<h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>

<p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />

</div>

<pre class="text-align-center">

XEM THÊM HƯỚNG DẪN HỌC LÁI XE ÔTÔ QUA VIDEO BỞI DLXAT</pre>

<p style="text-align: center;"><span style="font-size: 12pt;">Video tham khảo</span></p>

<p><object data="https://www.youtube.com/v/5xU2XqZBFSY" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/5xU2XqZBFSY" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object></p>

<h5>Hình ảnh xe tập lái và sân tập của Dạy Lái Xe </h5>

<p><img alt="hoc lai xe oto tai Tp. Hải Phòng" src="/img/ha_hoclaixe1.jpg" /></p>

<p><img alt="hoc lai xe oto gia re tai Tp. Hải Phòng" src="/img/ha_hoclaixe2.jpg" /></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/hoc-lai-xe-bang-b2" hreflang="vi">học lái xe bằng b2</a></li>
          <li><a href="/tag/hoc-lai-xe-oto-b2" hreflang="vi">học lái xe ôtô b2</a></li>
          <li><a href="/tag/day-lai-xe-truong-an" hreflang="vi">dạy lái xe</a></li>
          <li><a href="/tag/hoc-lai-xe-b2" hreflang="vi">học lái xe B2</a></li>
      </ul>
</div>

  </div>
</article>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
    <div class="region region-sidebar-left">
<div id="block-courselistall" class="block block-home block-course-list-block">


<div class="content">
<div class="courses-list-all-right">
<div class="course-list-all-head">CÁC KHOÁ HỌC</div>

<ul class="course-right-lit">
  <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
  <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
  <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
  <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
  <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
  <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
  <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
  <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
  <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
  <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
 
</ul>
</div>
</div>
</div>
<div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


<div class="content">

    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
</div>

</div>
</div>
<div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">


<div class="content">

    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
</div>

</div>
</div>
<div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
  <div class="content">
    
      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
          </div>
</div>

</div>

</div>
      </div>
</div>

</section>