<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>

<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Học Lái Xe Ôtô Tải Bằng C - Dạy Lái Xe Tải Bằng C Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="1389" role="article" about="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c" class="node node--type-course node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/VtS87JCFWH0" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/VtS87JCFWH0" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<div class="event-infor clearfix">
<h2 class="event-intro"><span style="font-size: medium;">Dành cho những học viên có nhu cầu học lái xe tải. Có lớp T7 và CN. Học và thi trong vòng 08-10 tháng.</span></h2>
</div>

<div class="ja-typo-blockct clearfix">
<p><span style="font-size: medium;"><span class="dropcap">B</span>ằng lái xe tải hạng C theo quy định được phép điều khiển xe ô tô tải các loại tải trọng, ô tô du lịch dưới 9 chỗ, dùng cho mục đích cá nhân và kinh doanh.</span></p>
<span style="font-size: medium;">Lớp học lái xe tải bằng C khai giảng khoá mới hàng tháng. </span></div>

<div class="ja-typo-blockct clearfix"><span style="font-size: medium;"> </span></div>

<div class="ja-typo-blockct clearfix"><span style="font-size: medium;"><span style="color: #333333;"> </span></span><strong style="font-size: medium;">Học phí trọn gói</strong><span style="font-size: medium;">: </span><span style="font-size: medium; color: #ff0000;"><strong>12.900.000 </strong></span><span style="font-size: medium;"><span style="color: #ff0000;"><strong>VNĐ</strong></span> <span style="color: #800000;"><strong>CAM KẾT KHÔNG PHÁT SINH - <span style="color: #000000;">chia làm 2 lần:</span></strong></span></span></div>

<div class="ja-typo-blockct clearfix">
<p><span style="margin: 0px; padding: 0px; border: 0px; font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span style="margin: 0px; padding: 0px; border: 0px; line-height: 22.75px;"><strong style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>&gt;&gt;&gt;Xem <a href="https://www.daylaixeoto.edu.vn/hoc-phi-cac-khoa-hoc-lai-xe-oto">Giảm Học Phí Ưu Đãi</a></strong></span></strong></span></span></p>
</div>

<div class="ja-typo-blockct clearfix">
<p><span style="font-size: 12pt; color: #000000;"><strong>Lần 1</strong>: 8.900.000 khi nộp hồ sơ đăng kí và lấy suất thi của Sở</span></p>

<p><span style="font-size: 12pt; color: #000000;"><strong>Lần 2</strong>: 3.000.000</span><span style="font-size: 12pt; color: #000000;"> sau lần đầu 01 tháng.</span></p>

<p><span style="font-size: 12pt; color: #000000;"><strong>Thời gian học 06 tháng</strong></span></p>

<p> </p>
</div>

<div class="ja-typo-blockct clearfix">
<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>&gt;&gt;&gt;Xem <a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/lich-dao-tao-cac-khoa-hoc-lai-xe-o-to-tai-trung-tam-truong-an">Thời khoá biểu học Lý thuyết và Thực hành</a><span style="color: #000000;"> </span></strong></span></p>

<h4>Giai đoạn 1: học lý thuyết</h4>

<p>- Học viên được học luật giao thông đường bộ, được tìm hiểu căn bản về cấu tạo xe và cách sửa chữa xe ô tô, về các cách lái xe an toàn và đạo đức của người ngồi trên vô lăng.</p>

<p>- Trung tâm có lớp học lý thuyết tập trung vào hầu hết các buổi trong tuần ( sáng: 09h00–11h00, chiều: 14h-16h, tối: 18h-20h), học viên tự chọn lịch học phù hợp cho mình.</p>

<h4>Giai đoạn 2: học thực hành</h4>

<p>- Học viên học lái xe tải bằng C học thực hành tại bãi tập sa hình.</p>

<p>- Học viên được học thực hành theo năng lực - phí thuê xe 250.000/1h</p>

<p>- Kết thúc học thực hành lái xe, học viên sẽ được bố trí thi thử nhằm giúp học viên tạo cảm giác tự tin và làm quen với bài thi sát hach. Đồng thời sau đó học viên sẽ được bố trí tập lái trên xe cảm ứng để làm quen với xe và sân thi sát hạch.</p>

<p>- Sau khi hoàn thành, học viên được xếp lịch thi chứng chỉ tốt nghiệp bao gồm thi lý thuyết lẫn xa hình, kỳ thi nhằm kiểm tra lại khả năng của học viên cũng như cấp chứng chỉ học nghề lái xe.</p>

<p>- Thi sát hạch: Học viên sau khi hoàn thành khoá học lái xe tải 06 tháng sẽ được tham gia kỳ thi sát hạch và cấp giấy phép lái xe, kỳ thi do Sở Giao Thông Vận Tải TP HCM tổ chức, bao gồm thi lý thuyết, thi lái xe sa hình và lái xe đường trường.</p>

<p>- Nếu mọi việc thuận lợi, học viên thành công vượt qua kỳ thi, bằng của học viên sẽ được Sở cấp trong vòng 14-20 ngày sau.</p>

<p>- Đối với những học viên thi rớt trong kỳ thi sát hạch, trung tâm sẽ sắp xếp cho bạn thi lại trong thời gian ngắn nhất.</p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; display: inline-block; border-radius: 8px; color: #333; text-shadow: 1px 1px 0 #fff;"><span style="font-size: medium;"><strong>Hồ sơ đăng ký:</strong></span><br /><span style="font-size: medium;">- 02 chứng minh nhân dân photo (không cần công chứng).</span><br /><span style="font-size: medium;">- 12 tấm hình 3 x 4 <strong>đúng quy cách</strong>(*)</span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; display: inline-block; border-radius: 8px; color: #333; text-shadow: 1px 1px 0 #fff;"><span style="font-size: medium;"><strong>Yêu cầu:</strong></span><br /><span style="font-size: medium;">- Học viên phải đủ 21 tuổi trở lên</span><br /><span style="font-size: medium;">- Đủ sức khoẻ lái xe hạng C theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…)</span><br /><span style="font-size: medium;">- Hình 3x4 phải được chụp trong vòng 3 tháng trở lại</span></p>

<blockquote style="border-width: 1px; border-style: solid; border-color: #fbe2b4; font-family: 'roboto slab', sans-serif; font-size: 15px; margin: 1.5rem; padding: 0.9rem; position: relative; color: #404040; background-color: #fff0f0; line-height: 30px; text-align: justify;">
<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; margin-right: 0.3rem; margin-bottom: 0.3rem; margin-left: 0.3rem; list-style: none;">
<h2 style="font-family: inherit; font-size: 25px; font-style: inherit; clear: both; line-height: 1.3;"><span style="font-family: arial, helvetica, sans-serif; font-size: 25px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 25px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><i>Học phí:</i></span></span></h2>

<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><b>- Phí nộp hồ sơ lấy suất thi của Sở GTVT:</b>  11.900.000 VNĐ</span></span></div>

<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><b>- Lệ phí thi:</b> Nhà trường được Sở GTVT uỷ quyền thu hộ, bao gồm phí thi tốt nghiệp và thi sát hạch: 1.000.000 VNĐ</span></span></div>

<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><b>- Lệ phí đào tạo:</b></span></span></div>

<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;">Đặc thù của việc học lái xe tải không thể đưa đón, nên học viên tự chạy xuống sân tập của Dạy Lái Xe An Toàn tại quận Bình Tân hoặc Hóc Môn  để tập lái, chi phí đào tạo 250.000/h.</span></span></div>

<div style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;">Với dịch vụ đào tạo 1 kèm 1, cùng với kỹ năng sư phạm khoa học, đảm bảo chỉ sau 12h-16h tập lái, bạn chắc chắn đủ kĩ năng thi đậu và thành thạo chạy xe thực tế.</span></span></div>
<span style="font-family: arial, helvetica, sans-serif; font-size: 15px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit; color: #444444;"><b><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;">- Lệ phí xe cảm ứng</span></b>:</span><span style="font-family: inherit; font-size: 15px; font-style: inherit; font-weight: inherit;"> Các sân sát hạch bán lẻ từng giờ với chi phí 500.000 vnđ/h - có giáo viên của trường hướng dẫn, tuỳ theo nhu cầu của học viên muốn tập bao nhiêu tính bấy nhiêu.</span></span></span></div>
</blockquote>

<blockquote style="border-width: 1px; border-style: solid; border-color: #fbe2b4; font-family: 'Roboto Slab', sans-serif; font-size: medium; margin: 1.5rem; padding: 0.9rem; position: relative; background-color: #fff0f0; color: black; text-align: justify;">
<div style="font-family: inherit; font-size: 16px; font-style: inherit; font-weight: inherit; margin-right: 0.3rem; margin-bottom: 0.3rem; margin-left: 0.3rem; list-style: none;">
<h2 style="font-family: inherit; font-size: 25px; font-style: inherit; clear: both; line-height: 1.3;"><span style="font-family: arial, helvetica, sans-serif; font-size: 25px; font-style: inherit; font-weight: inherit; color: #cc0000;"><span style="font-family: inherit; font-size: 25px; font-style: inherit; font-weight: inherit; line-height: 22.5px;"><i>Như vậy: Phí đi hồ sơ lấy suất thi<b> + Lệ phí thi:</b></i></span></span></h2>

<h3 style="font-family: inherit; font-size: 20px; font-style: inherit; clear: both; line-height: 1.3; text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 20px; font-style: inherit; font-weight: inherit;"><span style="font-family: inherit; font-size: 20px; font-style: inherit; font-weight: inherit; line-height: 22.5px;">          11,9tr + 1.000.000 = </span></span><strong style="font-family: inherit; font-size: 18.6667px; font-style: inherit; color: red; line-height: 22.5px;">12.900.000 VNĐ</strong></h3>
</div>
</blockquote>

<p> </p>

<div data-blogger-escaped-style="border-image-outset: initial; border-image-repeat: initial; border-image-slice: initial; border-image-source: initial; border-image-width: initial; border: 0px; box-sizing: border-box; color: #666666; font-family: 'open sans', sans-serif; font-size: 14px; font-style: inherit; font-weight: inherit; height: auto; line-height: 27px; margin: 0px; outline: 0px; padding: 5px 10px; text-align: justify; vertical-align: baseline; width: auto;" style="font-style: inherit; font-weight: inherit; color: #666666; font-family: 'open sans', sans-serif; font-size: 14px; height: auto; line-height: 27px; padding: 5px 10px; text-align: justify; width: auto;">
<div data-blogger-escaped-style="background: rgb(240, 255, 255); border: 6px dashed rgb(222, 158, 63); box-sizing: border-box; color: black; font-family: inherit; font-style: inherit; font-weight: inherit; height: auto; margin: auto; outline: 0px; padding: 10px; vertical-align: baseline; width: auto;" id="lich khai giang" style="background-color: #f0ffff; border-width: 6px; border-style: dashed; border-color: #de9e3f; color: black; font-family: inherit; font-style: inherit; font-weight: inherit; height: auto; margin: auto; padding: 10px; width: auto;">
<div data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit; font-weight: inherit;">
<p style="text-align: center;"><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: #ff6600; font-family: inherit; font-size: 20px; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; text-align: justify; vertical-align: baseline;" style="color: #ff6600; font-family: inherit; font-size: 20px; font-style: inherit; text-align: justify;">ĐĂNG KÝ NGAY HÔM NAY</strong></p>
</div>

<div data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px 0px 9px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit; font-weight: inherit; margin-bottom: 9px; text-align: center;">
<p><span data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: #ff6600; font-family: inherit; font-size: 20px; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-size: 20px; font-style: inherit; font-weight: inherit; color: #ff6600; font-family: inherit;"><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;">ĐỂ NHẬN ƯU ĐÃI <strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;">GIẢM </strong>HỌC PHÍ </strong></span></p>
</div>

<div data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px 0px 9px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit; font-weight: inherit; margin-bottom: 9px;">
<p style="text-align: center;"><span data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: purple; font-family: inherit; font-size: 24px; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-size: 24px; font-style: inherit; font-weight: inherit; color: #800080; font-family: inherit;"><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;">200.000 VNĐ</strong></span></p>
</div>

<div data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px 0px 9px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit; font-weight: inherit; margin-bottom: 9px;">
<p><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJ0ONAXgYbwQgS4DdTzpf6NJ--6Fw7As60zt7HpS1KW3m4Hg/viewform"><img alt="dangkyhocngay Người Bán Hàng Thực Tiễn" class="aligncenter" data-blogger-escaped-data-lazy-loaded="true" data-blogger-escaped-style="border: 0px; box-sizing: border-box; clear: both; display: block; height: auto; margin: 0px auto; max-width: 100%; vertical-align: middle;" data-orig-src="http://cuocsongdungnghia.com/wp-content/uploads/2012/09/dangkyhocngay.jpg" height="68" src="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2Fcuocsongdungnghia.com%2Fwp-content%2Fuploads%2F2012%2F09%2Fdangkyhocngay.jpg&amp;container=blogger&amp;gadget=a&amp;rewriteMime=image%2F*" style="cursor: move; clear: both; display: block; height: 59px; margin-right: auto; margin-left: auto; max-width: 100%; vertical-align: middle;" title="dangkyhocngay" width="274" /></a></strong></p>

<p class="text-align-center"><span data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: #ff6600; font-family: inherit; font-size: 20px; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-size: 20px; font-style: inherit; font-weight: inherit; color: #ff6600; font-family: inherit;"><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;">CHỈ CÒN 13 SUẤT CẤP TỐC CHỈ 4 THÁNG THI</strong></span></p>
</div>

<div data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px 0px 9px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit; font-weight: inherit; margin-bottom: 9px;">
<h3 data-blogger-escaped-style="border: 0px; box-sizing: border-box; clear: both; font-family: inherit; font-size: 20px; font-style: inherit; line-height: 1.3; margin: 0px; outline: 0px; padding: 0px; text-rendering: optimizelegibility; vertical-align: baseline;" style="clear: both; font-family: inherit; font-size: 20px; font-style: inherit; line-height: 1.3; text-align: center;"><strong data-blogger-escaped-style="border: 0px; box-sizing: border-box; font-family: inherit; font-style: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-family: inherit; font-style: inherit;"><span data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: green; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-style: inherit; font-weight: inherit; color: #008000; font-family: inherit;">ĐĂNG KÝ NHẬP HỌC CHỈ CẦN ĐÓNG <span data-blogger-escaped-style="border: 0px; box-sizing: border-box; color: red; font-family: inherit; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;" style="font-style: inherit; font-weight: inherit; color: #ff0000; font-family: inherit;">8.900.000 VNĐ</span></span></strong></h3>
</div>
</div>
</div>

<p><span style="font-size: medium; color: #000000;"><strong>Địa điểm học lý thuyết:</strong> Số 484, Lạch Tray, Ngô Quyền, Hải Phòng.</span></p>

<p><span style="font-size: medium; color: #000000;"><strong>Địa điểm học thực hành:Sân C10 trường Đại học Hàng Hải Việt Nam</strong></span></p>

<h4>(*) Quy định về hình thẻ 3x4:</h4>

<p>Theo quy định mới ban hành của Sở GTVT TPHCM, hình có hiệu lực phải là:</p>

<ul><li>Hình được chụp trong vòng 3 tháng trở lại.</li>
	<li>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</li>
</ul><p style="text-align: left;"><img alt="day lai xe oto truong an" src="/img/hinhmau.jpg" /></p>

<p>Xin học viên lưu ý thực hiện đúng yêu cầu để tránh sự phiền hà, tốn công sức cũng như thời gian để làm lại thủ tục.</p>

<p>Trung tâm Dạy Lái Xe An Toàn xin chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào.</p>
<a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="c6230014-65b7-495a-83e1-b3f0d74ba70d" height="65" src="/sites/default/files/inline-images/thi-thu-ly-thuyet-bang-lai-xe-b2_6.gif" width="922" class="align-center" /></a>

<div class="contacttainfo" id="tacontactinfo">
    <h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>
    
    <p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>
    
    <h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>
    
    <p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />
    
    </div>


<pre>
<h4>Buổi đào tạo lái xe tải hạng C của TRUNG TÂM DẠY LÁI XE AN TOÀN</h4>

<p style="text-align: center;"><span style="font-size: 12pt; text-align: center;">Video tham khảo:</span></p>
</div>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/E9nACtoxnfM?version=3?version=3" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/E9nACtoxnfM?version=3?version=3" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/Zerc0-4GlNA" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/Zerc0-4GlNA" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/hoc-lai-xe-oto" hreflang="vi">học lái xe ôtô</a></li>
          <li><a href="/tag/day-lai-xe-oto" hreflang="vi">dạy lái xe ôtô</a></li>
          <li><a href="/tag/trung-tam-truong-an" hreflang="vi">trung tâm trường an</a></li>
          <li><a href="/tag/hoc-lai-xe-tai-tphcm" hreflang="vi">hoc lai xe tai tphcm</a></li>
          <li><a href="/tag/hoc-lai-xe-o-to" hreflang="vi">hoc lai xe o to</a></li>
          <li><a href="/tag/meo-hoc-lai-xe-hang-c" hreflang="und">meo hoc lai xe hang c</a></li>
          <li><a href="/tag/hoc-lai-xe-bang-c-mat-bao-lau" hreflang="und">học lái xe bằng c mất bao lâu</a></li>
          <li><a href="/tag/hoc-bang-lai-xe-hang-c-bao-nhieu-tien" hreflang="und">học bằng lái xe hạng c bao nhiêu tiền</a></li>
          <li><a href="/tag/hoc-bang-lai-xe-hang-c-o-tphcm" hreflang="und">học bằng lái xe hạng c ở tphcm</a></li>
          <li><a href="/tag/hoc-luat-lai-xe-hang-c" hreflang="und">hoc luat lai xe hang c</a></li>
          <li><a href="/tag/ky-nang-hoc-lai-xe-hang-c" hreflang="und">ky nang hoc lai xe hang c</a></li>
          <li><a href="/tag/video-sat-hach-lai-xe-hang-c" hreflang="und">video sat hach lai xe hang c</a></li>
      </ul>
</div>

  </div>
</article>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
    </div>
  </div>
  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>