<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner6.jpg" ></p>
</div>
      
    </div>
  </div>

  </div>

</section>      
<!--Start section content-->
<section id="blog-area" class="blog-single-area">
<div class="container">
<div class="row">
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
      <div class="region region-content">
<div id="block-mp-page-title" class="block block-core block-page-title-block">
</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title" style="font-size: 50px">Liên hệ</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      <form class="contact-site-form" data-drupal-selector="contact-site-form" action="/lien-he" method="post" id="contact-site-form" accept-charset="UTF-8">
  <div class="row"><div class="col-md-6 col-sm-6 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-fullname form-item-fullname">
      <label for="edit-fullname" class="js-form-required form-required">Họ tên</label>
        <input placeholder="Họ tên *" data-drupal-selector="edit-fullname" type="text" id="edit-fullname" name="fullname" value="" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" />

        </div>
</div><div class="col-md-6 col-sm-6 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email">
      <label for="edit-email" class="js-form-required form-required">Thư điện tử</label>
        <input placeholder="Email *" data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true" />

        </div>
</div><div class="col-md-6 col-sm-6 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-phone form-item-phone">
      <label for="edit-phone" class="js-form-required form-required">Điện thoại</label>
        <input placeholder="Điện thoại *" data-drupal-selector="edit-phone" type="text" id="edit-phone" name="phone" value="" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" />

        </div>
</div><div class="col-md-6 col-sm-6 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-request form-item-request">
      <label for="edit-request" class="js-form-required form-required">Nhu cầu</label>
        <select placeholder="Course List" data-drupal-selector="edit-request" id="edit-request" name="request" class="form-select required" required="required" aria-required="true"><option value="" selected="selected">- Chọn -</option><option value="1">Thi Bằng Lái Xe Máy A1</option><option value="2">Nâng Hạng GPLX</option><option value="3">Thi Bằng Lái Xe Mô tô A2</option><option value="4">Khoá Học B2 Tiêu Chuẩn</option><option value="5">Lái Xe Số Tự Động B11</option><option value="1386">Khoá Học B2 Đặc Biệt</option><option value="1387">B2 Chỉ Thi, Không Học</option><option value="1388">Thi Bằng Lái Xe A3</option><option value="1389"> Học Lái Xe Tải Bằng C</option><option value="1390">Cho Thuê Xe Tập Lái </option></select>
        </div>
</div><div class="col-md-12 col-sm-12 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject form-item-subject">
      <label for="edit-subject" class="js-form-required form-required">Tiêu đề</label>
        <input placeholder="Điện thoại *" data-drupal-selector="edit-subject" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" />

        </div>
</div><div class="col-md-12 col-sm-12 col-xs-12 contact-element-wrapper"><div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message form-item-message">
      <label for="edit-message">Thông điệp</label>
        <div class="form-textarea-wrapper">
  <textarea data-drupal-selector="edit-message" id="edit-message" name="message" rows="5" cols="60" class="form-textarea resize-vertical"></textarea>
</div>

        </div>
</div>  <details id="captcha" class="captcha js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-controls="captcha" aria-expanded="true" aria-pressed="true">CAPTCHA</summary><div class="details-wrapper">
    <div class="details-description">Câu hỏi này dùng để kiểm tra xem bạn là người hay là chương trình tự động.</div><input data-drupal-selector="edit-captcha-sid" type="hidden" name="captcha_sid" value="181011" />
<input data-drupal-selector="edit-captcha-token" type="hidden" name="captcha_token" value="c0078ad743fcad8948b37b3abbb118a0" />
<img data-drupal-selector="edit-captcha-image" src="/img/captcha.jpg" width="180" height="60" alt="Image CAPTCHA" title="Image CAPTCHA" typeof="foaf:Image" />
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-captcha-response form-item-captcha-response">
      <label for="edit-captcha-response" class="js-form-required form-required">Những mã nào có trong hình ảnh?</label>
        <input autocomplete="off" data-drupal-selector="edit-captcha-response" aria-describedby="edit-captcha-response--description" type="text" id="edit-captcha-response" name="captcha_response" value="" size="15" maxlength="128" class="form-text required" required="required" aria-required="true" />

            <div id="edit-captcha-response--description" class="description">
      Nhập các ký tự được hiển thị trên hình ảnh.
    </div>
  </div>

<div class="reload-captcha-wrapper">
    <a href="/image-captcha-refresh/contact_site_form" class="reload-captcha">Get new captcha!</a>
</div>
</div>
</details>

<div class="col-md-12 col-sm-12 col-xs-12 contact-element-wrapper contact-element-submit"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Gửi" class="button js-form-submit form-submit" />
</div></div><input autocomplete="off" data-drupal-selector="form-brcpqj5ah2izcchi83cya5pjfibb6szinmccsidjorm" type="hidden" name="form_build_id" value="form-BRCPqJ5ah2IzcchI83cYa5PJFIbb6SzInmCCsidjorM" />
<input data-drupal-selector="edit-contact-site-form" type="hidden" name="form_id" value="contact_site_form" />

</form>

    </div>
  </div>

  </div>

        </div>
      </div>
  </div>
</section>
<section id="content-bottom-full-width"  class="content-bottom-full-width">
    <div class="region region-content-bottom-width">
    <div id="block-mapfullwidth" class="block block-block-content block-block-content6d807343-ac80-4e61-85d6-d8c1a83bb729">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
</div>
      
    </div>
  </div>

  </div>

</section>