<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

  <section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
<div class="course-cate-title">Các khóa học khác</div>
<div class="row row-list-course-of-category">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="single-blog-item single-blog-item-course-main single-blog-item-1390">
          <div class="img-holder">
              <img src="/img/taplai.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


              <div class="overlay">
                  <div class="box">
                      <div class="content">
                          <a href="/cho-thue-xe-tu-lai"><i class="fa fa-link" aria-hidden="true"></i></a> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="text-holder text-course-blue">
            <a href="/cho-thue-xe-tu-lai">
                <div class="course-title">Cho Thuê Xe Tập Lái </div>
            </a>
          </div>    
      </div> 
      <div class="top-desc"><p><strong>Lệ phí các loại xe cho thuê tập lái</strong><br />
- Xe số sàn (Xe Toyota Vios, Cruze, Gentra, Lacetti): 220.000đ/1 giờ</p>

<p>- Xe số tự động (Xe Avante, Ertiga): 280.000đ/1 giờ</p>

<p>Đã bao gồm:Phí thuê xe, giáo viên, xăng xe, xe đưa đón tại địa điểm gần nhà học viên</p>
</div>  
</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="single-blog-item single-blog-item-course-main single-blog-item-1389">
          <div class="img-holder">
              <img src="/img/xetaiC.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


              <div class="overlay">
                  <div class="box">
                      <div class="content">
                          <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c"><i class="fa fa-link" aria-hidden="true"></i></a> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="text-holder text-course-blue">
            <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c">
                <div class="course-title"> Học Lái Xe Tải Bằng C</div>
            </a>
          </div>    
      </div> 
      <div class="top-desc"><p><strong>Học phí chia làm 2 lần đóng</strong><br />
- Lần 1: 8.900.000 khi nộp hồ sơ đăng kí và lấy suất thi của Sở GTVT Tp. Hải Phòng.</p>

<p>- Lần 2: 3.000.000 sau lần đầu 01 tháng.</p>
</div>  
</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="single-blog-item single-blog-item-course-main single-blog-item-2">
          <div class="img-holder">
              <img src="/img/nang.jpg" width="370" height="250" alt="" typeof="foaf:Image" class="image-style-home-course" />


              <div class="overlay">
                  <div class="box">
                      <div class="content">
                          <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx"><i class="fa fa-link" aria-hidden="true"></i></a> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="text-holder text-course-blue">
            <a href="/cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/nang-hang-gplx">
                <div class="course-title">Nâng Hạng GPLX</div>
            </a>
          </div>    
      </div> 
      <div class="top-desc"><p><strong>Dạy Lái Xe An Toàn&nbsp;nhận hồ sơ nâng hạng GPLX các loại sau</strong><br />
- Từ B2 - C hoặc từ C - D, D - E: 7.000.000 - Đậu 99%</p>

<p>- Từ B2 - D hoặc từ C - E: 8.000.000 - Đậu 99%</p>

<p>Lưu ý: bắt đầu từ hạng D, E-&nbsp;yêu cầu trình độ văn hóa bắt buộc tối thiểu từ cấp 2 trở lên.</p>
</div>  
</div>
      </div>

</div>
</div>

</div>

    </div>
          </div>
</div>
</section>