<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner5.jpg" ></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title">Tin Tức Ô tô</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      <div class="views-element-container"><div class="view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-27217f73d0b4a5065a400bd7172353309979e5bfbabad799ee6dc8473dc980dc">
  
    
      <div class="view-header">
      <div about="/tin-tuc/tin-tuc-oto" id="taxonomy-term-609" class="taxonomy-term vocabulary-article-category">
  
    
  <div class="content">
    
  </div>
</div>

    </div>
      
      <div class="view-content">
          <div class="views-row">
<article data-history-node-id="1947" role="article" about="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/kinh-nghiem-lai-xe-oto/sai-cau-diem-liet" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/kinh-nghiem-lai-xe-oto/sai-cau-diem-liet" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Sai câu điểm liệt, trượt luôn lý thuyết thi lấy bằng lái ôtô</span>
</a>
      </h2>
          <span property="schema:name" content="Sai câu điểm liệt, trượt luôn lý thuyết thi lấy bằng lái ôtô" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/tai-lieu-hoc-thuc-hanh-lai-xe-oto/kinh-nghiem-lai-xe-oto/sai-cau-diem-liet" hreflang="und"><img property="schema:image" src="/img/600cauhoithi.png" width="240" height="140" alt="" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Bên cạnh việc tăng số câu hỏi từ 450 lên 600 câu, phần thi lý thuyết sát hạch giấy phép lái ôtô còn có câu hỏi điểm liệt. Thí sinh chỉ cần sai duy nhất câu này cũng bị đánh rớt
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/tai-lieu-hoc-lai-xe-oto" property="schema:about" hreflang="vi">tài liệu học lái xe ôtô</a></li>
          <li><a href="/tag/tai-lieu-ly-thuyet" property="schema:about" hreflang="vi">tài liệu lý thuyết</a></li>
          <li><a href="/tag/600-cau-hoi-thi-gplx" property="schema:about" hreflang="und">600 cau hoi thi gplx</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1939" role="article" about="/kawasaki-z300-dau-tien-cap-ben-viet-nam" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/kawasaki-z300-dau-tien-cap-ben-viet-nam" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Kawasaki Z300 Đầu Tiên Cập Bến Việt Nam - Đẹp Và Rẻ</span>
</a>
      </h2>
          <span property="schema:name" content="Kawasaki Z300 Đầu Tiên Cập Bến Việt Nam - Đẹp Và Rẻ" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <a href="/kawasaki-z300-dau-tien-cap-ben-viet-nam" hreflang="und"><img property="schema:image" src="/img/moto1.jpg" width="240" height="140" alt="&quot;&quot;" typeof="foaf:Image" class="image-style-content-teaser-thumb" />

</a>
</div>
      
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Kawasaki Z300 Cập Bến Việt Nam - Xe Đẹp Giá Rẻ

Mẫu xe côn tay nam tính được thiết kế liền lạc, trang bị động cơ 300 phân khối mới được đưa về Việt Nam.
Z300 trình làng tại triển lãm môtô EICMA, Italy năm 2014, bổ sung vào loạt sản phẩm đặc trưng của Kawasaki. Kết hợp phong cách Z và hiệu suất Ninja. Hãng xe Nhật Bản định vị Z300 thuộc sản phẩm tầm trung ở các thị trường mới nổi.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/kawasaki-z300-do" property="schema:about" hreflang="vi">kawasaki z300 độ</a></li>
          <li><a href="/tag/kawasaki-ninja-z300" property="schema:about" hreflang="vi">kawasaki ninja z300</a></li>
          <li><a href="/tag/kawasaki-z300-cu" property="schema:about" hreflang="vi">kawasaki z300 cũ</a></li>
          <li><a href="/tag/kawasaki-z300-2017" property="schema:about" hreflang="vi">kawasaki z300 2017</a></li>
          <li><a href="/tag/kawasaki-z300-abs-2017" property="schema:about" hreflang="vi">kawasaki z300 abs 2017</a></li>
          <li><a href="/tag/kawasaki-z300-abs-2018" property="schema:about" hreflang="vi">kawasaki z300 abs 2018</a></li>
          <li><a href="/tag/danh-gia-z300-2018" property="schema:about" hreflang="vi">danh gia z300 2018</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1938" role="article" about="/tin-tuc/tin-tuc-oto/10-cach-chong-say-xe-hieu-qua" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tin-tuc/tin-tuc-oto/10-cach-chong-say-xe-hieu-qua" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">10 Cách Chống Say Xe Hiệu Quả</span>
</a>
      </h2>
          <span property="schema:name" content="10 Cách Chống Say Xe Hiệu Quả" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Cách Chống Say Xe Hiệu Quả
Triệu chứng này là do sự "bất đồng" giữa mắt và tai trong. Tai trong "nói" với não rằng cơ thể đang di chuyển, nhưng đôi mắt "nói" rằng cơ thể bất động. Mâu thuẫn này dẫn đến nhiều triệu chứng của bệnh <em><strong>say tàu xe</strong></em> ở nhiều người.
Mặc dù không có phương pháp chữa trị cụ thể, chúng ta vẫn có một số cách để hạn chế và giúp bạn bớt khó chịu hơn cho chuyến đi xa bằng xe hơi.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/muc-phat-nong-do-con-moi-nhat" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn mới nhất</a></li>
          <li><a href="/tag/muc-phat-nong-do-con" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-o-to" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn ô tô</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-xe-may" property="schema:about" hreflang="vi">mức phạt nồng độ cồn xe máy</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1937" role="article" about="/tin-tuc/tin-tuc-oto/uong-may-lon-bia-thi-bi-phat-loi-nong-do-con" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tin-tuc/tin-tuc-oto/uong-may-lon-bia-thi-bi-phat-loi-nong-do-con" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Uống Mấy Lon Bia Thì Bị Phạt Lỗi Nồng Độ Cồn</span>
</a>
      </h2>
          <span property="schema:name" content="Uống Mấy Lon Bia Thì Bị Phạt Lỗi Nồng Độ Cồn" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Uống Mấy Lon Bia Thì Bị Phạt Lỗi Nồng Độ Cồn&nbsp;- Lỗi vi phạm về nồng&nbsp;độ cồn khi tham gia giao thông
Rượu bia là một tác nhân hàng đầu gây ra các vụ tai nạn giao thông nghiêm trọng, ảnh hưởng tới tình hình an ninh trật tự nói chung và an toàn giao thông nói riêng. Nhưng hiển nhiên không ai tự xách theo máy&nbsp;đo nồng&nbsp;độ cồn khi&nbsp;đi nhậu, vậy&nbsp;ước lượng <em><strong>uống bao nhiêu sẽ bị phạt</strong></em> lỗi nồng&nbsp;độ cồn?
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/muc-phat-nong-do-con-xe-may" property="schema:about" hreflang="vi">mức phạt nồng độ cồn xe máy</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-o-to" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn ô tô</a></li>
          <li><a href="/tag/muc-phat-nong-do-con" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-moi-nhat" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn mới nhất</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1936" role="article" about="/tin-tuc/tin-tuc-oto/muc-phat-nong-do-con-moi-nhat" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tin-tuc/tin-tuc-oto/muc-phat-nong-do-con-moi-nhat" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Mức Phạt Nồng Độ Cồn Mới Nhất</span>
</a>
      </h2>
          <span property="schema:name" content="Mức Phạt Nồng Độ Cồn Mới Nhất" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Mức phạt nồng độ cồn mới nhất - Lỗi vi phạm về nồng&nbsp;độ cồn khi tham gia giao thông
Rượu bia là một tác nhân hàng đầu gây ra các vụ tai nạn giao thông nghiêm trọng, ảnh hưởng tới tình hình an ninh trật tự nói chung và an toàn giao thông nói riêng.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/muc-phat-nong-do-con-moi-nhat" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn mới nhất</a></li>
          <li><a href="/tag/muc-phat-nong-do-con" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-o-to" property="schema:about" hreflang="vi">Mức phạt nồng độ cồn ô tô</a></li>
          <li><a href="/tag/muc-phat-nong-do-con-xe-may" property="schema:about" hreflang="vi">mức phạt nồng độ cồn xe máy</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1935" role="article" about="/vu-tai-nan-nghiem-trong-o-deo-prenn" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/vu-tai-nan-nghiem-trong-o-deo-prenn" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Nhìn lại sau vụ tai nạn nghiêm trọng ở đèo Prenn</span>
</a>
      </h2>
          <span property="schema:name" content="Nhìn lại sau vụ tai nạn nghiêm trọng ở đèo Prenn" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Vừa qua, 11h 19/6 trên tuyến đường đi TPHCM về Đà Lạt xảy ra một vụ tai nạn nghiêm trọng làm ít nhất 7 người chết và 1 người bị mất não. Nguyên nhân xảy ra vụ tai nạn được xác định từ nhiều khía cạnh khác nhau.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/tai-nan-o-deo-prenn" property="schema:about" hreflang="vi">tai nan o deo Prenn</a></li>
          <li><a href="/tag/tai-nan-chet-nguoi-o-deo-prenn" property="schema:about" hreflang="vi">tai nan chet nguoi o deo Prenn</a></li>
          <li><a href="/tag/tai-nan-giao-thong-o-deo-prenn" property="schema:about" hreflang="vi">tai nan giao thong o deo Prenn</a></li>
          <li><a href="/tag/deo-prenn-xay-ra-tai-nan" property="schema:about" hreflang="vi">deo Prenn xay ra tai nan</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1934" role="article" about="/muc-phat-cac-loi-vi-pham-giao-thong-doi-voi-o-to-moi-nhat" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/muc-phat-cac-loi-vi-pham-giao-thong-doi-voi-o-to-moi-nhat" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Mức Phạt Các Lỗi Vi Phạm Giao Thông Đối Với Ô Tô Mới Nhất</span>
</a>
      </h2>
          <span property="schema:name" content="Mức Phạt Các Lỗi Vi Phạm Giao Thông Đối Với Ô Tô Mới Nhất" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Nghị định 46/2016 quy&nbsp;định xử phạt vi phạm hành chính trong lĩnh vực giao thông đường bộ và đường sắt, thay thế Nghị định số 171/2013 và Nghị định số 107/2014. Theo đó, điểm đáng chú ý nhất của nghị định mới là những<strong> mức phạt cho tài xế ôtô vi phạm giao thông</strong> sẽ tăng cao
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/tin-tuc-oto" property="schema:about" hreflang="vi">tin tức ôtô</a></li>
          <li><a href="/tag/muc-phat-loi-oto" property="schema:about" hreflang="vi">muc phạt lỗi oto</a></li>
          <li><a href="/tag/muc-phat-vi-pham-giao-thong-duong-bo-doi-voi-oto" property="schema:about" hreflang="vi">mức phạt vi phạm giao thông đường bộ doi voi oto</a></li>
          <li><a href="/tag/muc-phat-cac-loi-vi-pham-o-to" property="schema:about" hreflang="vi">mức phạt các lỗi vi phạm ô tô</a></li>
          <li><a href="/tag/muc-phat-vi-pham-giao-thong-2016" property="schema:about" hreflang="vi">mức phạt vi phạm giao thông 2016</a></li>
          <li><a href="/tag/muc-phat-vi-pham-giao-thong-vuot-qua-toc-do" property="schema:about" hreflang="vi">mức phạt vi phạm giao thông vượt quá tốc độ</a></li>
          <li><a href="/tag/bang-gia-phat-vi-pham-giao-thong" property="schema:about" hreflang="vi">bảng giá phạt vi phạm giao thông</a></li>
          <li><a href="/tag/muc-phat-xe-o-to-chay-qua-toc-do" property="schema:about" hreflang="vi">mức phạt xe ô tô chạy quá tốc độ</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1933" role="article" about="/muc-phat-giao-thong-pho-bien-doi-voi-xe-may-moi-nhat" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/muc-phat-giao-thong-pho-bien-doi-voi-xe-may-moi-nhat" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Mức Phạt Giao Thông Phổ Biến Đối Với Xe Máy Mới Nhất</span>
</a>
      </h2>
          <span property="schema:name" content="Mức Phạt Giao Thông Phổ Biến Đối Với Xe Máy Mới Nhất" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Việc <strong>xử phạt các lỗi vi phạm luật giao thông xe máy</strong>&nbsp;sau 01/08/2016 sẽ&nbsp;áp dụng theo Nghị&nbsp;định&nbsp;46/2016/NĐ-CP, thay thế cho nghị định 171 trước&nbsp;đây, với &nbsp;hình phạt tăng nặng&nbsp;ở hầu hết các lỗi vi phạm, hi vọng với chế tài cứng rắn này sẽ&nbsp;đẩy lùi&nbsp;được tình trạng mất an toàn giao thông hiện tại.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/muc-phat-xe-may-2016" property="schema:about" hreflang="vi">muc phat xe may 2016</a></li>
          <li><a href="/tag/muc-phat-vi-pham-giao-thong-2016" property="schema:about" hreflang="vi">mức phạt vi phạm giao thông 2016</a></li>
          <li><a href="/tag/muc-phat-xe-may-lan-tuyen" property="schema:about" hreflang="vi">muc phat xe may lan tuyen</a></li>
          <li><a href="/tag/muc-xu-phat-xe-may" property="schema:about" hreflang="vi">muc xu phat xe may</a></li>
          <li><a href="/tag/muc-phat-xe-may-qua-toc-do" property="schema:about" hreflang="vi">muc phat xe may qua toc do</a></li>
          <li><a href="/tag/muc-phat-doi-voi-xe-may" property="schema:about" hreflang="vi">muc phat doi voi xe may</a></li>
          <li><a href="/tag/muc-phat-xe-may-di-qua-toc-do" property="schema:about" hreflang="vi">muc phat xe may di qua toc do</a></li>
          <li><a href="/tag/muc-phat-xe-moto" property="schema:about" hreflang="vi">muc phat xe moto</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1932" role="article" about="/tin-tuc/tin-tuc-oto/phi-le-phi-ma-o-to-viet-dang-phai-oan-lung-ganh" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tin-tuc/tin-tuc-oto/phi-le-phi-ma-o-to-viet-dang-phai-oan-lung-ganh" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Phí, Lệ Phí mà ô tô Việt Đang Phải Oằn Lưng Gánh</span>
</a>
      </h2>
          <span property="schema:name" content="Phí, Lệ Phí mà ô tô Việt Đang Phải Oằn Lưng Gánh" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Sau hơn 3 tháng <strong><a href="cac-khoa-hoc-lai-xe-oto" target="_blank">học lái xe oto</a></strong>, mừng rỡ lên mạng tim một tình yêu nhỏ bé để che mưa, che nắng cho vợ chồng con cái và mới phát hiện ra không ở đâu trên thế giới này, người tiêu dùng lại phải đóng nhiều loại thuế và phí đến thế khi mua và sử dụng một chiếc ôtô như ở Việt Nam.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/tin-tuc-oto" property="schema:about" hreflang="vi">tin tức ôtô</a></li>
      </ul>
</div>

  </div>
</article>
</div>
    <div class="views-row">
<article data-history-node-id="1931" role="article" about="/tin-tuc/tin-tuc-oto/dao-duc-cua-nguoi-lai-xe-nhin-tu-vu-tai-nan-giao-thong-tham-khoc-o-tra-vinh" typeof="schema:Article" class="node node--type-article node--view-mode-teaser clearfix">
  <header>
    
          <h2 class="node__title">
        <a href="/tin-tuc/tin-tuc-oto/dao-duc-cua-nguoi-lai-xe-nhin-tu-vu-tai-nan-giao-thong-tham-khoc-o-tra-vinh" rel="bookmark"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Đạo Đức Của Người Lái Xe Nhìn Từ Vụ Tai Nạn Giao Thông Thảm Khốc Ở Trà Vinh</span>
</a>
      </h2>
          <span property="schema:name" content="Đạo Đức Của Người Lái Xe Nhìn Từ Vụ Tai Nạn Giao Thông Thảm Khốc Ở Trà Vinh" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-field-desc field--type-text-long field--label-hidden field__item">Tóm tắt diễn biến của vụ tai nạn giao thông (TNGT) thảm khốc tại Trà Vinh sáng ngày 07-05-2015 và nhìn nhận&nbsp;Đạo Đức Của Người Lái Xe.
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Thẻ</h3>
    <ul class="links field__items">
          <li><a href="/tag/tin-tuc-oto" property="schema:about" hreflang="vi">tin tức ôtô</a></li>
          <li><a href="/tag/luat-giao-thong-duong-bo" property="schema:about" hreflang="vi">luật giao thông đường bộ</a></li>
          <li><a href="/tag/hoc-lai-xe-oto" property="schema:about" hreflang="vi">học lái xe ôtô</a></li>
          <li><a href="/tag/hoc-lai-xe-bang-b2" property="schema:about" hreflang="vi">học lái xe bằng b2</a></li>
      </ul>
</div>

  </div>
</article>
</div>

    </div>

              <div class="feed-icons">
      <a href="https://daylaixeoto.edu.vn/taxonomy/term/609/feed" class="feed-icon">
  Subscribe to Tin Tức Ô tô
</a>

    </div>
  </div>
</div>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//tin-tuc/tin-tuc-oto" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
</div>
</div>
<div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


<div class="content">

      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
</div>

</div>
</div>
<div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">


<div class="content">

      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>

<p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
</div>

</div>
</div>
<div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
    <div class="content">
      
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
            </div>
</div>

</div>

  </div>
        </div>
</div>          
</section>