<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>

<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Học Lái Xe Ôtô Số Tự Động Hạng B11 Năm 2020 tại Tp. Hải Phòng</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="5" role="article" about="/hoc-lai-xe-oto-so-tu-dong" class="node node--type-course node--promoted node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><span style="font-size: 12pt;">Khoá</span><strong><span style="font-size: 12pt;"> học lái xe ô tô số tự động – </span></strong><span style="font-size: 12pt;">đào tạo cấp</span><strong><span style="font-size: 12pt;"> bằng lái xe  ô tô số tự động.</span></strong></p>

<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><span style="font-size: 16px;">Tổng cục Đường bộ Việt Nam vừa có văn bản yêu cầu các Sở GTVT thực hiện việc đào tạo, cấp <em><strong>giấy phép lái xe số tự động hạng B11</strong></em> từ 01-01-2016.</span></span></p>

<p><span style="font-size: 12pt;">Là một trong những đơn vị đào tạo lái xe hàng đầu tại Tp. Hải Phòng, trường Dạy Lái Xe An Toàn vinh dự mang tới cho quý học viên khoá <strong><a href="hoc-lai-xe-oto-so-tu-dong" target="_blank">học lái xe ô tô số tự động</a> </strong>hạng B11 - đào tạo, dạy <em><strong>học lái xe oto b11 tại Tp. Hải Phòng</strong></em> riêng biệt điều khiển dòng xe <em><strong>số tự động</strong></em>.</span></p>

<p><span style="font-size: 12pt;">Thời gian khoá học: - Kéo dài 06 - 08 tháng.</span></p>

<p><span style="color: #800000;"><strong><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;">Nội dung đào tạo:</span></strong></span></p>

<p><span style="font-size: 12pt;"> </span><span style="font-size: medium;"><strong>Giai đoạn 1: học lý thuyết</strong></span></p>

<p><span style="font-size: medium;"> </span><span style="font-size: 12pt;">Trong 1,5 tháng đầu tiên sau khi nhập học.</span></p>

<p><span style="font-size: 12pt;">Vẫn giữ nguyên như chương trình đào tạo GPLX hạng B2, C bao gồm các học phần về Luật GTĐB, các phương pháp giải sa hình, biển báo hiệu GTĐB, cấu tạo, sửa chữa bảo dưỡng.</span></p>

<ul style="list-style-type: circle;"><li><span style="font-size: 12pt;"> </span><span style="font-size: medium;">Học viên được học luật giao thông đường bộ, quy tắc giao thông cơ bản, được tìm hiểu căn bản về cấu tạo xe và cách sửa chữa xe ô tô, về các cách lái xe an toàn và đạo đức của người ngồi trên vô lăng.</span></li>
</ul><ul style="list-style-type: circle;"><li class="ja-typo-blockct clearfix"><span style="font-size: medium;">Trung tâm có các lớp học lý thuyết tập trung vào hầu hết các buổi trong tuần (sáng: 08h30–10h30, chiều: 14h-16h, tối: 18h-20h), học viên tự chọn lịch học phù hợp cho mình.</span></li>
	<li class="ja-typo-blockct clearfix"><span style="font-size: medium;">Đối với những học viên không thể tham gia lớp lý thuyết tập trung, chúng tôi có hỗ trợ giáo viên đến dạy tận nhà cho học viên phụ phí 500.000/khóa học.</span></li>
</ul><div class="ja-typo-blockct clearfix">
<p class="_mce_tagged_br"><span style="font-size: 12pt;"> </span><strong style="font-size: medium;">Giai đoạn 2: học thực hành - <span style="font-size: 16px;">Sau khi hoàn thành khoá học Lý Thuyết.</span></strong></p>

<ul style="list-style-type: circle;"><li class="_mce_tagged_br"><span style="font-size: 16px;">Đào tạo hoàn toàn trên dòng xe số tự động Huyndai Avante 4 chỗ hoặc Innova 7 chỗ với hình thức 1 giáo viên kèm 1 học viên trong toàn khoá học.</span></li>
	<li><span style="font-size: medium;">Thời gian do học viên sắp xếp từ thứ 2 - Chủ nhật, sáng từ 7h - 11h, chiều từ 13h -17h</span></li>
	<li><span style="font-size: medium;">Học viên khoá <em><strong>học lái xe oto b11</strong></em> được học thực hành lái xe đường trường, lái xe trong thành phố và lái xe trong bãi tập sa hình.</span></li>
	<li><span style="font-size: 12pt;">Thời gian học thực hành linh động do học viên sắp xếp, mỗi học viên có tối thiểu 10 buổi học thực hành dịch vụ (2h/buổi học). Thời lượng 2 buổi/ tuần.</span><span style="font-size: 12pt;"> </span></li>
</ul><p><span style="font-size: 12pt;">Sau khoá học nếu học viên có nhu cầu bổ túc thêm tay lái, nhà trường tính phí thuê xe ưu đãi có giáo viên đi kèm ( giảm 20%).</span></p>

<p><span style="font-size: 12pt;">Những điểm mới trong khoá</span><strong><span style="font-size: 12pt;"><em> học lái xe ô tô số tự động</em>:</span></strong></p>

<ul><li><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;">Trong học phần đào tạo thực hành, có một số bài truyền thống như Dừng xe ngang dốc hoặc xử lý tình huống xe chết máy và tăng giảm số cũng được loại bỏ.</span></li>
	<li><span style="font-size: 12pt;">Tuy nhiên, để đảm bảo chất lượng và các kỹ năng lái xe, chương trình tăng thêm bài ghép ngang vào nơi đỗ (lùi xe) để đảm bảo phù hợp với thực tế đa số <em>xe số tự động</em> hoạt động tại các thành phố, nên việc ghép xe vào giữa hai xe rất cần nâng cao kỹ năng. Vì thế, nội dung sát hạch lái xe số tự động <em><strong>học lái xe oto b1</strong></em> sẽ tăng thêm một bài thi so với xe số sàn (từ 10 bài lên 11 bài).</span></li>
	<li><span style="font-size: 12pt;">Mức lệ phí thi, lệ phí sát hạch không có nhiều thay đổi tuy nhiên mức phí đào tạo cần có sự tương xứng với mức đầu tư của xe tập lái dòng số tự động nên chắc chắn tổng học phí sẽ có xu hướng tăng.</span></li>
	<li><span style="font-size: 12pt;">Về tính pháp lý khi ban hành loại GPLX số tự động, ngoài GPLX B1 bình thường sẽ bổ sung loại B1 dùng cho xe số tự động. Trên GPLX sẽ vẫn như cũ, chỉ mở ngoặc thêm là GPLX để điều khiển xe số tự động. Khi đó, người có bằng lái xe số tự động sẽ chỉ được lái xe số tự động mà không được lái các loại xe khác. Còn người có GPLX B2 vẫn được sử dụng bình thường để điều khiển cả xe số sàn và xe số tự động, vì vậy anh chị học viên cần cân nhắc kĩ trước khi tham gia khoá học.</span></li>
	<li><span style="font-size: 12pt;">Thời gian khoá học rút ngắn chỉ còn 73 ngày – khá thuận lợi cho các anh chị cần bằng gấp.</span></li>
</ul><p><span style="color: #800000;"><strong><span style="font-size: 12pt;">Học phí học lái xe ô tô số tự động - </span><span style="font-size: 12pt; color: #800000;">Cam kết không phát sinh.</span></strong></span></p>

<p><span style="font-size: 12pt;">- Phí đi hồ sơ + lệ phí thi – 13.000.000 VNĐ.</span></p>

<p><span style="font-size: 12pt;">Học phí được chia làm 02 lần: </span></p>

<p><span style="font-size: 12pt;">Lần 1:  đóng 13.000.000 vnđ  khi n<span style="font-size: 16px;">h</span><span style="font-size: 16px;">ập h</span><span style="font-size: 16px;">ọc.</span></span></p>

<p><span style="font-size: 12pt;"><span style="font-size: 16px;">Lần 2: Khi đi học thực hành học viên tính thời giờ - chi phí 1 giờ đào tạo 1 kèm 1 phí tập lái 250.000VND/giờ - 1 kèm 1- nên học từ 10-20h.</span></span></p>

<p><span style="font-size: 12pt;">Mức phí trên <span style="color: #333333;"><strong>đã bao gồm tất cả các chi phí</strong></span>: học phí, lệ phí thi, lệ phí cấp phát bằng, trong suốt quá trình học anh chị học viên không phải đóng thêm bất kì một khoản phí nào khác.</span></p>

<p><span style="margin: 0px; padding: 0px; border: 0px; font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span style="margin: 0px; padding: 0px; border: 0px; line-height: 22.75px;"><strong style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>&gt;&gt;&gt;Xem <a href="tin-tuc/tin-tuc-trung-tam/lich-dao-tao-cac-khoa-hoc-lai-xe-o-to-tai-trung-tam-truong-an" target="_blank">Thời Khoá Biểu học lý thuyết và thực hành.</a></strong></span></strong></span></span></p>

<p><span style="font-size: medium;"> </span></p>

<p class="text-align-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJ0ONAXgYbwQgS4DdTzpf6NJ--6Fw7As60zt7HpS1KW3m4Hg/viewform"><img alt="day lai xe oto truong an" src="/img/dkyngay.gif" /></a></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Hồ sơ đăng ký:</strong></span><br /><span style="font-size: medium;">- 02 chứng minh nhân dân photo (không cần công chứng).</span><br /><span style="font-size: medium;">- 12 tấm hình 3 x 4 <strong>đúng quy cách</strong>(*)</span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Yêu cầu:</strong></span><br /><span style="font-size: medium;">- Học viên phải đủ 18 tuổi trở lên.</span><br /><span style="font-size: medium;">- Đủ sức khoẻ lái xe hạng B11 theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…).</span></p>

<p><em> </em> <strong>Địa điểm học lý thuyết:</strong> Số 484, Lạch Tray, Ngô Quyền, Tp. Hải Phòng.</p>

<p><em> </em> <strong>Địa điểm học thực hành: Đưa đón tại các điểm sau:</strong></p>

<ul><li>01 - Phố Mới, Tân Dương, Thủy Nguyên, Hải Phòng </li>
    <li>02 - Bạch Đằng, Sở Dầu, Hồng Bàng, Hải Phòng</li>
    <li>03 - Vinh Quang, Vĩnh Bảo, Hải Phòng</li>
    <li>04 - Thôn Câu Trung, Quốc Tuấn, An Lão, Hải Phòng</li>
<p> </p>
<h4>(*) Quy định về hình thẻ 3x4:</h4>

<p>Theo quy định mới ban hành của Sở GTVT Tp. Hải Phòng, hình có hiệu lực phải là:</p>

<ul><li>Hình được chụp trong vòng 3 tháng trở lại.</li>
	<li>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</li>
</ul><p><img alt="day lai xe oto truong an" src="/img/hinhmau.jpg" /></p>

<p>Xin học viên lưu ý thực hiện đúng yêu cầu để tránh sự phiền hà, tốn công sức cũng như thời gian để làm lại thủ tục.</p>

<p>Trung tâm Dạy Lái Xe  xin chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào.</p>

<p> </p>

<div class="contacttainfo" id="tacontactinfo">
<h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>

<p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>

<h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>

<p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />

</div>

<pre class="text-align-center">

XEM THÊM HƯỚNG DẪN HỌC LÁI XE ÔTÔ QUA VIDEO BỞI DLXAT</pre>

<p style="text-align: center;"><span style="font-size: 12pt;">Video tham khảo</span></p>

<p><object data="https://www.youtube.com/v/XaNQOVouQiw" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/XaNQOVouQiw" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object></p>

<p><span style="color: #000000; font-size: medium;"> Và đây là thành quả của khoá <em><strong>học bằng lái xe số tự động B11</strong></em> đầu tiên của nhà trường.</span></p>

<p><span style="color: #000000; font-size: medium;"><img alt="hoc-lai-xe-so-tu-dong-1" height="354" src="/img/kquatudong1.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="555" /></span></p>

<p> </p>

<p><img alt="hoc-lai-xe-so-tu-dong-2" height="346" src="/img/kquatudong2.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="532" /></p>

<p><img alt="hoc-lai-xe-oto-tai-Tp. Hải Phòng-phi-ngoc-anh" height="417" src="/img/kquatudong3.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="556" /></p>


<p> </p>

</div>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/4TrNJvD-iuM" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/4TrNJvD-iuM" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/hoc-lai-xe-b2" hreflang="vi">học lái xe B2</a></li>
          <li><a href="/tag/day-lai-xe-truong-an" hreflang="vi">dạy lái xe trường an</a></li>
          <li><a href="/tag/hoc-lai-xe-oto-b2" hreflang="vi">học lái xe ôtô b2</a></li>
          <li><a href="/tag/hoc-lai-xe-bang-b2" hreflang="vi">học lái xe bằng b2</a></li>
          <li><a href="/tag/hoc-lai-xe-oto-so-tu-dong-o-Tp. Hải Phòng" hreflang="vi">hoc lai xe oto so tu dong o Tp. Hải Phòng</a></li>
          <li><a href="/tag/hoc-lai-xe-so-tu-dong-b1" hreflang="vi">hoc lai xe so tu dong b1</a></li>
          <li><a href="/tag/hoc-lai-xe-so-tu-dong-o-dau" hreflang="vi">hoc lai xe so tu dong o dau</a></li>
          <li><a href="/tag/hoc-lai-xe-so-tu-dong" hreflang="vi">hoc lai xe so tu dong</a></li>
      </ul>
</div>

  </div>
</article>


    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//hoc-lai-xe-oto-so-tu-dong" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
    </div>
  </div>
  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>