<div class="sidebar" data-color="rose" data-background-color="black" data-image="img/sidebar-1.jpg">
    <div class="logo" style="text-align: center;">
      <div>
        <img src="img/logo.png" style = "width: 30%;" />
      </div>
    </div>
    <div class="sidebar-wrapper" style="overflow: hidden">
      <div class="user">
        <div class="photo">
          <img src="img/faces/avatar.png" />
        </div>
        <div class="user-info">
          <a data-toggle="collapse" href="#collapseExample" class="username">
            <span style="font-weight: bold">
              Lã Đắc Hiếu
              <b class="caret"></b>
            </span>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> TT </span>
                  <span class="sidebar-normal"> Thông tin tài khoản </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> CS </span>
                  <span class="sidebar-normal"> Chỉnh sửa thông tin </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> CD </span>
                  <span class="sidebar-normal"> Cài đặt </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">
        <li class="nav-item active ">
          <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p> Trang chủ </p>
          </a>
        </li>
        <li class="nav-item" id="hv">
          <a class="nav-link" data-toggle="collapse" href="#hocvien">
            <i class="material-icons">content_paste</i>
            <p> Hồ sơ học viên
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="hocvien">
            <ul class="nav">
              <li class="nav-item " id="hshv">
                <a class="nav-link" href="/hocvien">
                  <span class="sidebar-mini"> HSHV </span>
                  <span class="sidebar-normal"> Hồ sơ học viên </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/extended.html">
                  <span class="sidebar-mini"> ĐCXD </span>
                  <span class="sidebar-normal"> Đang chờ xét duyệt </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="../examples/calendar.html">
            <i class="material-icons">rate_review</i>
            <p> Lịch hẹn hôm nay </p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="../examples/calendar.html">
            <i class="material-icons">date_range</i>
            <p> Lịch học </p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#Baocaothongke">
            <i class="material-icons">timeline</i>
            <p> Báo cáo thống kê
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="Baocaothongke">
            <ul class="nav">
              <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> RF </span>
                  <span class="sidebar-normal"> Regular Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/extended.html">
                  <span class="sidebar-mini"> EF </span>
                  <span class="sidebar-normal"> Extended Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/validation.html">
                  <span class="sidebar-mini"> VF </span>
                  <span class="sidebar-normal"> Validation Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/wizard.html">
                  <span class="sidebar-mini"> W </span>
                  <span class="sidebar-normal"> Wizard </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#Baocaothongke">
            <i class="material-icons">account_box</i>
            <p> Quản lý user
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="Baocaothongke">
            <ul class="nav">
              <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> RF </span>
                  <span class="sidebar-normal"> Regular Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/extended.html">
                  <span class="sidebar-mini"> EF </span>
                  <span class="sidebar-normal"> Extended Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/validation.html">
                  <span class="sidebar-mini"> VF </span>
                  <span class="sidebar-normal"> Validation Forms </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="../examples/forms/wizard.html">
                  <span class="sidebar-mini"> W </span>
                  <span class="sidebar-normal"> Wizard </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="ml-auto mr-auto">
              <span class="badge filter badge-black active" data-background-color="black"></span>
              <span class="badge filter badge-white" data-background-color="white"></span>
              <span class="badge filter badge-red" data-background-color="red"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Sidebar Mini</p>
            <label class="ml-auto">
              <div class="togglebutton switch-sidebar-mini">
                <label>
                  <input type="checkbox">
                  <span class="toggle"></span>
                </label>
              </div>
            </label>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Sidebar Images</p>
            <label class="switch-mini ml-auto">
              <div class="togglebutton switch-sidebar-image">
                <label>
                  <input type="checkbox" checked="">
                  <span class="toggle"></span>
                </label>
              </div>
            </label>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="img/sidebar-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="img/sidebar-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="img/sidebar-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="img/sidebar-4.jpg" alt="">
          </a>
        </li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
        </li>
      </ul>
    </div>
  </div>