<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Thi Bằng Lái Xe Mô tô A2 - Thi bằng lái A2 Tại TP. Hải Phòng Đậu 99% Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="3" role="article" about="/thi-bang-lai-xe-mo-to-a2" class="node node--type-course node--promoted node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div style="background-color: #e1eef2; border: 0px; box-sizing: border-box; line-height: 22.005px; margin: 0px; outline: 0px; padding: 25px; text-align: justify; vertical-align: baseline; width: auto;">
<div style="border: 0px; box-sizing: border-box; line-height: 1.2; margin: 0px 0px 25px; outline: 0px; padding: 0px; text-align: center; text-shadow: #ffffff -1px 0px, #ffffff 0px 1px, #ffffff 1px 0px, #ffffff 0px -1px, #000000 1px 1px 3px; vertical-align: baseline;">
<div style="color: #333333; font-family: inherit; font-size: 28px; font-style: inherit; font-weight: bold;">
<p style="display: inline !important;">THÔNG BÁO TUYỂN SINH KHOÁ THI BẰNG A2 MỚI NHẤT</p>
</div>

<div style="color: #333333; font-family: inherit; font-style: inherit; font-weight: bold;">
<p><span style="font-size: 14pt;">Lịch sát hạch: <span style="background-color: #ffff00; color: #ff0000;">13h30 ngày 02 + 04 tháng 11.</span></span></p>

<p><span style="font-size: 12pt;">Chúc quý học viên</span><span style="font-size: 14pt; font-family: inherit; font-style: inherit;"> thi bằng lái a2 tại TP. Hải Phòng </span><span style="font-size: 12pt;">đạt kết quả cao nhất.</span></p>

<p><span style="font-size: 14pt;"><span style="font-size: 12pt;">Lịch tập xe cảm ứng</span> thi bằng a2 tại TP. Hải Phòng:<span style="font-size: 12pt;"> 16h30 thứ 6 hàng tuần.</span></span></p>
</div>
</div>
</div>

<p style="text-align: left;"><span style="color: #800000;"><span style="font-size: 12pt; color: #333333;"><span style="font-size: 12pt;"><span style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;">&gt;&gt;&gt;Xem<strong> <span style="color: #000000; font-size: 16px; text-align: justify;">Lịch </span><em style="font-size: 16px; text-align: justify;"><strong>thi bằng lái A2 tại TP. Hải Phòng </strong></em></strong><span style="text-align: justify;">năm 2020 <strong><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/lich-thi-mo-to-a2">tại đây</a></strong></span></span></span></span></span></span></p>

<p style="text-align: left;"><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"><strong><img alt="thi-bang-lai-xe-may-tai-TP. Hải Phòng-thong-bao-moi" height="35" src="/img/new.gif" width="50" /> GPLX A2</strong> <strong>- <span style="font-size: 14pt;"><span style="background-color: #ffff00; color: #ff0000;">28/09</span> </span></strong>đã có (đối với các trường hợp <strong>chưa có</strong> bằng lái thẻ Pet -  còn trường hợp đã có bằng lái xe thẻ Pet xem <span style="background-color: #ffff00;"><a href="co-bang-a2-co-can-bang-a1-khong"><span style="background-color: #ffff00;">tại đây</span></a></span>). Học viên mang theo CMND và biên lai để nhận GPLX. Trường hợp nhận giùm mang CMND người nhận và người chủ bằng.</span></p>

<p><span style="font-size: 12pt;">Từ 01/03/2014</span><a href="thi-bang-lai-xe-mo-to-a2" style="font-size: 12pt;"><strong> bằng lái xe mô tô A2</strong></a><span style="font-size: 12pt;"> dành cho người điều khiển mô tô hai bánh có dung tích động cơ trên 175 phân khối được cấp rộng rãi cho tất cả các đối tượng từ 18 tuổi trở lên.</span></p>

<p><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;">Việc bãi bỏ quy định đối tượng được phép thi và cấp bằng lái xe A2 theo thông tư cũ chính thức có hiệu lực từ 01/03/2014, mọi người dân sẽ được tham gia thi cấp <em><strong>bằng lái A2</strong></em> như đối với các bằng lái A1, B1, B2... với thủ tục và quy chế đơn giản, dễ dàng.</span></p>

<p> </p>

<p><span style="font-size: 12pt;"> </span><strong><span style="font-size: 12pt; color: #800000;">1. Lệ phí thi bằng a2  trọn gói bao gồm:</span></strong></p>

<p><strong><span style="font-size: 12pt; color: #800000;"> </span></strong><span style="font-size: 12pt;">- Học phí <strong>thi bằng lái xe a2</strong> : 1.195.000 Vnđ</span></p>

<p><span style="font-size: 12pt;">- Lệ phí thi 290.000 Vnđ - đã bao gồm.</span></p>

<p><span style="font-size: 12pt;">- Lệ phí sát hạch (Sở GTVT): 140.000 Vnđ - đã bao gồm</span></p>

<p><span style="font-size: 12pt;">- Lệ phí cấp bằng PET (uỷ quyền thu của Sở GTVT) : 135.000 Vnđ (bằng thẻ nhựa PET) - đã bao gồm</span></p>

<p><span style="font-size: 12pt;">- Lệ phí chụp ảnh thẻ 3×4: (miễn phí chụp tại văn phòng theo đúng chuẩn của Sở GTVT)</span></p>

<p><span style="font-size: 12pt;">- Tài liệu sách đĩa Lý Thuyết: (miễn phí sách 365 câu hỏi + phần mềm ôn thi trên máy tính + điện thoại)</span><span style="color: #800000;"><strong><span style="font-size: 12pt;"> </span></strong></span></p>

<ul><li><span style="color: #800000;"><span style="color: #333333;"><span style="font-size: 12pt;">Tổng chi phí cho khoá <a href="thi-bang-lai-xe-mo-to-a2" target="_blank"><em><strong>thi bằng a2 tại TP. Hải Phòng</strong></em></a> chỉ <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">1.750.000</span></strong></span> VN</span><span style="font-size: 12pt;">Đ.</span></span><strong><span style="font-size: 12pt;"> </span></strong></span></li>
	<li><span style="font-size: 12pt;">Về giấy Khám sức khỏe: Học viên có 2 lựa chọn - Tự đi khám tại các bệnh viện cấp quận trở lên (phí tầm 350.000 + mất thời gian hoặc tham gia buổi khám tập trung theo lịch nhà trường (phí chỉ 400.000 )</span></li>
</ul><p style="text-align: left;"><strong style="color: #800000; font-size: 1.5em;"><span style="font-size: 12pt;">2. Quy trình đào tạo <em>thi bằng a2</em>:</span></strong></p>

<ul><li><span style="font-size: 12pt; color: #800000;"> Lý thuyết:</span></li>
</ul><p><span style="font-size: 12pt;">- Học viên được cung cấp miễn phí tài liệu học lý thuyết và app phần mềm học Luật GTĐB.</span><br /><span style="font-size: 12pt;">- Trung tâm tổ chức lớp học lý thuyết vào tối T5 hàng tuần dưới sự giảng dạy của các giáo viên nhiều kinh nghiệm đào tạo<strong> thi bằng a2</strong>.</span><br /><span style="font-size: 12pt;">- Ngoài ra học viên nên tự học thêm qua các tài liệu nhà trường phát.</span><br /><span style="font-size: 12pt;">- Khi đi học <strong>thi bằng lái xe mô tô a2</strong>, học viên nên mang theo "sờ mát phôn" để được hướng dẫn tải app học cực kì hiệu quả khi khi <strong>thi bằng lái a2 ở TP. Hải Phòng</strong></span></p>

<ul><li><span style="font-size: 12pt; color: #800000;">Thực hành:</span></li>
</ul><p><span style="font-size: 12pt;">- Sau khi đăng ký học, trung tâm sẽ thông báo học viên ngày khai giảng để giáo viên đào tạo và hướng dẫn thực hành.</span></p>

<p><span style="font-size: 12pt;">- Học viên được học với hình thức : 1 người / 1 xe / 1 giáo viên hướng dẫn.</span></p>

<p><span style="font-size: 12pt;">- Thời gian<strong> </strong><em>thi bằng lái xe a2</em> : Linh hoạt do học viên sắp xếp.</span></p>

<p><span style="color: #800000;"><strong><span style="font-size: 12pt;">3. Thi sát hạch:</span></strong></span><br /><span style="font-size: 12pt;">- Phần thi gồm : thi lý thuyết luật GTĐB trên máy tính và thi thực hành khóa <strong>thi bằng a2</strong>.</span><br /><span style="font-size: 12pt;">- Sau khi thi đạt Phần thi Lý thuyết (đạt trên 18/20 câu) thì học viên sẽ thi sát hạch trong Sa Hình ( đạt 80/100 điểm)</span><br /><span style="font-size: 12pt;">- Nếu thi đạt hết các phần thi, sau 21 ngày (không tính T7-CN) học viên sẽ được <strong>cấp bằng lái xe A2</strong></span> </p>

<p> </p>

<div class="contacttainfo" id="tacontactinfo">
  <h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>
  
  <p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>
  
  <h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>
  
  <p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />
  
  </div>

<p><span style="color: #800000;"><strong><span style="font-size: 12pt;">4. Lưu ý:</span></strong></span></p>

<p style="text-align: justify;"><span style="font-size: 12pt;">• Từ 01/07/2013, mọi GPLX đều được gia công trên chất liệu PET nhằm chống làm giả và bền bỉ trước các tác động bên ngoài, đồng thời thuận lợi cho công tác tra cứu, lưu trữ điện tử, chi phí gia công 135.000 làm cho mức lệ phí bị tăng theo, các học viên cập nhật thông tin mới các khóa <em><strong>thi bằng lái xe mô tô a2</strong></em> .</span><br /><span style="font-size: 12pt;">• GPLX bằng thẻ PET được <em><span style="background-color: #ffff00;"><a href="tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><span style="background-color: #ffff00;">tra cứu trực tiếp</span></a></span></em> trên trang Thông tin GPLX của Tổng cục đường bộ Việt Nam nên <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">KHÔNG THỂ</span></strong></span> <a href="https://www.daylaixeoto.edu.vn/lam-bang-lai-xe-a2"><strong>lam bang lai a2 khong can thi</strong></a>.</span></p>

<h3> <span style="color: #800000;"><span style="font-size: medium;"> </span><span style="font-size: medium;"><strong>Hồ sơ đăng ký thi bằng lái xe a2:</strong></span></span></h3>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;">- 02 chứng minh nhân dân photo (không cần công chứng)</span><br /><span style="font-size: medium;">- 04 tấm hình 3 x 4 nền xanh (vp hỗ trợ chụp miễn phí tuy nhiên không đẹp bằng ngoài tiệm :d)</span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium; color: #800000;"><strong>Yêu cầu:</strong></span><br /><span style="font-size: medium;">- Học viên phải đủ 18 tuổi trở lên (tính theo ngày tháng năm sinh)</span><br /><span style="font-size: medium;">- Đủ sức khoẻ lái xe hạng A2 theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…)</span></p>

<h2><span style="color: #000000; font-size: medium;">(*) Quy định về hình thẻ 3x4:</span></h2>

<p><span style="font-size: medium;"><span style="color: #000000;">Theo quy định mới ban hành của Sở GTVT TP. Hải Phòng, hình có hiệu lực phải là:</span><span style="color: #000000;"> </span></span></p>

<ul class="ja-typo-list list-check"><li><span style="font-size: medium;"><span class="icon"> </span>Hình được chụp trong vòng 3 tháng trở lại.</span></li>
	<li><span style="font-size: medium;"><span class="icon"> </span>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</span></li>
    <li><span style="font-size: medium;">Trong hình, học viên không được mặc trang phục của các lực lượng vũ trang, không đội nón.
        <p></p> <img alt="" data-entity-type="file" data-entity-uuid="4f01551d-a685-42e0-b1b4-b47ae3814904" height="74" src="/img/hinhmau.jpg" width="83" class="align-right" /></span></li>
</ul><p><span style="color: #000000; font-size: medium;"> </span></p>
<p><span style="color: #000000; font-size: medium;">Trung tâm <em><a href="cac-khoa-hoc-lai-xe-oto" target="_blank">dạy lái xe oto</a></em> Dạy Lái Xe An Toàn xin chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục <em>thi bằng lái xe a2</em> một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào cần <strong>thi bằng lái xe mô tô a2</strong>.</span></p>

<p><a href="phan-mem-on-thi-ly-thuyet-bang-lai-a2-365-cau"><span style="color: #000000; font-size: medium;"><span style="margin: 0px; padding: 0px; border: 0px; color: #333333;"><span style="margin: 0px; padding: 0px; border: 0px;"> </span></span></span></a></p>
<a href="http://hoclaixeoto.vn/thi-bang-lai-xe-a2-online/"><img alt="" data-entity-type="file" data-entity-uuid="89dfad41-3b53-4c43-b27a-4bd29a151f2a" height="145" src="/img/bodeA2.jpg" width="870" class="align-center" /></a>

<p> </p>

<p><span style="font-size: medium;">Một vài hình ảnh khóa học <em><strong>thi bằng a2</strong></em>:</span></p>

<p><span style="font-size: medium;"><img alt="xe-thi-a2-la-250" height="223" src="/img/ha_moto1.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="373" /><span style="font-size: 11px;"> </span></span><img alt="thi-bang-lai-a2-rerbel" height="243" src="/img/ha_moto2.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="375" /></p>

<p> </p>

<p style="text-align: center;"> <span style="font-size: 12pt; text-align: center;">Video tham khảo: </span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/jwOl2ojdwF4" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/jwOl2ojdwF4" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p style="text-align: center;"> <span style="font-size: 12pt; text-align: center;">Video tham khảo:</span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/C5QycOQPlG4" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/C5QycOQPlG4" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p><span style="font-size: 12pt;"> </span></p>

<p><span style="font-size: 12pt;">Thành quả sau bao ngày mong ngóng - 1 tấm<strong> GPLX mô tô hạng A2 -  </strong>xin chúc mừng các học viên của nhà trường đã <strong>thi bằng a2</strong> thành công.</span></p>

<p>Xem thêm các khóa học khác:<a href="thi-bang-lai-xe-gan-may-a1"> thi bằng lái xe máy a1</a>, <a href="cac-khoa-hoc-lai-xe-oto">khóa học lái xe ô tô b2 tại TP. Hải Phòng</a>, <a href="cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c">khoá học lái xe tải hạng C</a></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-mo-to-a2" hreflang="vi">Thi bằng lái xe mô tô a2</a></li>
          <li><a href="/tag/thi-bang-a2" hreflang="vi">thi bằng a2</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a2" hreflang="vi">thi bằng lái xe a2</a></li>
          <li><a href="/tag/thi-bang-mo-to-a2" hreflang="vi">thi bang mo to a2</a></li>
          <li><a href="/tag/thi-a2" hreflang="vi">thi a2</a></li>
          <li><a href="/tag/thi-bang-lai-a2-o-TP. Hải Phòng" hreflang="vi">thi bang lai a2 o TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-lai-a2" hreflang="vi">thi bằng lái a2</a></li>
          <li><a href="/tag/thi-bang-lai-a2-o-dau-0" hreflang="vi">thi bằng lái a2 ở đâu</a></li>
          <li><a href="/tag/thi-bang-lai-a2-gia-bao-nhieu" hreflang="vi">thi bang lai a2 gia bao nhieu</a></li>
          <li><a href="/tag/thi-bang-lai-a2-o-dau" hreflang="vi">thi bang lai a2 o dau</a></li>
          <li><a href="/tag/thi-bang-a2-co-kho-khong" hreflang="vi">thi bang a2 co kho khong</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-a2-tai-sai-gon" hreflang="vi">thi bằng lái xe máy a2 tại Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-lai-a2-TP. Hải Phòng" hreflang="vi">thi bằng lái a2 TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-lai-a2-tai-TP. Hải Phòng" hreflang="vi">thi bang lai a2 tai TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a2-o-TP. Hải Phòng" hreflang="vi">thi bang lai xe a2 o TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-a2-o-TP. Hải Phòng" hreflang="vi">thi bằng a2 ở TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-a2-tai-TP. Hải Phòng" hreflang="vi">thi bang a2 tai TP. Hải Phòng</a></li>
      </ul>
</div>

  </div>
</article>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//thi-bang-lai-xe-mo-to-a2" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
     
</div>
    </div>
  </div>
<div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/sites/default/files/inline-images/banner3_support.png" class="align-center" /><p> </p>
</div>
      
    </div>
  </div>
  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>