<section id="subpage-banner" class="">
    <div class="region region-subpage-banner">
    <div id="block-bannerinsubpages" class="block block-block-content block-block-contentc766ff17-9b11-4070-9ecf-5ba0ddcc7183">
  
    
      <div class="content">
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img alt="Banner" data-entity-type="file" data-entity-uuid="be625ba7-9b00-4b4f-a792-9266ffe2d23e" src="/img/banner3.jpg"></p>
</div>
      
    </div>
  </div>

  </div>

</section>
<section id="blog-area" class="blog-single-area">
    <div class="container">
      <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="region region-content">
    <div id="block-mp-page-title" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Thi Bằng Lái Xe Máy A1 Tại TP. Hải Phòng Đậu 99% - Thi Bằng Lái Xe Máy Ở Tp. Hải Phòng Năm 2020</span>
</h1>


    </div>
  </div>
<div id="block-mp-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="1" role="article" about="/thi-bang-lai-xe-gan-may-a1" class="node node--type-course node--promoted node--view-mode-full clearfix">
  <header>
    
        
      </header>
  <div class="node__content clearfix">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div style="background-color: #e1eef2; border: 0px; box-sizing: border-box; line-height: 22.005px; margin: 0px; outline: 0px; padding: 25px; text-align: justify; vertical-align: baseline; width: auto;">
<div style="border: 0px; box-sizing: border-box; line-height: 1.2; margin: 0px 0px 25px; outline: 0px; padding: 0px; text-align: center; text-shadow: #ffffff -1px 0px, #ffffff 0px 1px, #ffffff 1px 0px, #ffffff 0px -1px, #000000 1px 1px 3px; vertical-align: baseline;">
<div style="color: #333333; font-family: inherit; font-size: 28px; font-style: inherit; font-weight: bold;"><span style="font-size: 28px; font-family: inherit; font-style: inherit;">THI BẰNG LÁI XE MÁY A1 Tại TP. Hải Phòng Năm 2020</span></div>

<div style="color: #333333; font-family: inherit; font-size: 28px; font-style: inherit; font-weight: bold;">
<h3><span style="font-size: 14pt;">KHÓA THI </span></h3>

<h3><span style="font-size: 14pt;"><span style="background-color: #ffff99; color: #ff0000;">7h30 - 24/10 và 13h30 ngày 25/10/2020</span></span></h3>

<p><span style="font-size: 14pt;"><span style="background-color: #ffff99; color: #ff0000;">HẠN CHÓT NHẬN HỒ SƠ: 17h thứ 6 tuần tới.</span></span></p>

<p><span style="font-size: 12pt;">Hỗ trợ tập xe cảm ứng miễn phí khi <span style="font-size: 14pt;">đ<em><strong>ăng ký thi bằng lái xe máy a1 tại TP. Hải Phòng</strong></em></span></span><br /><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;">Chúc học viên đặt kết quả tốt và luôn lái xe an toàn.</span></p>
</div>
</div>
</div>

<div style="border: 0px; box-sizing: border-box; color: #333333; font-family: 'helvetica neue', helvetica, arial, sans-serif; font-size: 16px; font-style: inherit; font-weight: inherit; line-height: 22.005px; margin: 0px 0px 1.467em; outline: 0px; padding: 0px 0px 0px 25px; text-align: justify; vertical-align: baseline;"><span style="font-size: 16px; font-style: inherit; font-weight: inherit;"> <img alt="" data-entity-type="file" data-entity-uuid="e7e0ac4d-9b8d-401f-8c3e-20c87f2f6cb1" height="32" src="/img/new.gif" width="45" /></span><em style="color: #000000; font-size: 12pt; text-align: left;">GPLX khóa thi A1 <span style="color: #ff0000; background-color: #ffff00;"><strong>ngày 27/09</strong></span> đã có, mời quý học viên tới văn phòng ghi danh nhận bằng. Khi đi mang theo CMND bản gốc và biên lai, trường hợp nhận giùm thì mang thêm CMND của người nhận.</em></div>

<div style="border: 0px; box-sizing: border-box; color: #333333; font-family: 'helvetica neue', helvetica, arial, sans-serif; font-size: 16px; font-style: inherit; font-weight: inherit; line-height: 22.005px; margin: 0px 0px 1.467em; outline: 0px; padding: 0px 0px 0px 25px; text-align: justify; vertical-align: baseline;"> </div>

<p style="text-align: justify;"><span style="color: #333333;"><span style="font-size: 12pt;">Học viên khi ghi danh sẽ </span></span><span style="font-size: 12pt;">được nhận "bí kíp thượng thừa" - <em><strong>thi bằng lái xe máy A1 tại TP. Hải Phòng</strong></em> đảm bảo đậu 99%.</span></p>

<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;">&gt;&gt;&gt;Xem <a href="tin-tuc/tin-tuc-trung-tam/lich-thi-bang-lai-xe-may-a1" target="_blank">Lịch</a><a href="tin-tuc/tin-tuc-trung-tam/lich-thi-bang-lai-xe-may-a1" target="_blank"> Thi Bằng Lái Xe Máy A1 năm 2020 </a><span style="background-color: #ffff00;"><a href="tin-tuc/tin-tuc-trung-tam/lich-thi-bang-lai-xe-may-a1" target="_blank"><span style="background-color: #ffff00;">tại đâ</span></a>y</span></span></p>

<p><span style="font-size: 16px;">Xã hội ngày càng phát triển, số lượng phương tiện giao thông là xe gắn máy, mô tô tăng lên nhanh chóng. Để sắm cho mình một chiếc xe mô tô gắn máy thì không phải là vấn đề lớn nữa. Nhưng quan trọng nhất  là phải có Giấy Phép Lái Xe (GPLX). Trên thực tế, khi tham gia lưu thông nếu bạn không có GPLX thì bạn sẽ rất thiệt thòi vì nếu khi lỡ gặp tai nạn giao thông hay bị các chiễn sĩ cảnh sát giao thông kiểm tra giấy tờ thì rất bất lợi. Để có được GPLX cũng không phải là chuyện lớn lao nhưng nó làm bạn mất nhiều thời gian. Câu hỏi "</span><a href="https://www.daylaixeoto.edu.vn/dang-ky-thi-bang-lai-xe-may-o-TP. Hải Phòng">thi bằng lái xe máy TP. Hải Phòng ở đâu</a><span style="font-size: 16px;">" chất lượng được khá nhiều người đặt ra và phân vân. Nhằm đáp ứng nhu cầu <strong>thi </strong></span><strong style="font-size: 16px;">bằng lái xe máy A1 tại TP. Hải Phòng</strong><span style="font-size: 16px;">, Trung tâm Dạy Lái Xe An Toàn gửi tới quý học viên </span><em style="font-size: 16px;">dịch vụ thi bằng lái xe máy A1</em><span style="font-size: 16px;"> nhanh nhất, uy tín nhất với chi phí hợp lí nhất <strong>tại TP. Hải Phòng</strong></span></p>

<ul><li style="text-align: justify;"><span style="font-size: 14pt;">Điều kiện <em><strong>thi bằng lái xe máy a1</strong></em>:</span></li>
</ul><p><span style="font-size: 12pt;"> - Mọi công dân Việt Nam đủ 18 tuổi ( tính theo đủ ngày, tháng, năm sinh- các trường hợp chỉ có năm sinh thì mặc nhiên được lựa chọn là 01.01 tương ứng với năm sinh)</span><br /><span style="font-size: 12pt;"> - Đảm bảo đủ yêu cầu sức khỏe tối thiểu để điều khiển phương tiện giao thông: không thiếu chi, không có dị tật về mắt, thần kinh ổn định</span></p>

<h2><span style="text-align: justify;"><span style="font-size: 12pt;"><span style="color: #333333;">1. </span>Lệ phí trọn gói</span></span> thi bằng lái xe máy tại Tp. Hải Phòng:</h2>

<p><span style="text-align: justify; font-size: 12pt;">- Học phí: 160.000</span><br style="text-align: justify;" /><span style="text-align: justify; font-size: 12pt;">- Lệ phí thi: 295.000</span><br style="text-align: justify;" /><span style="text-align: justify; font-size: 12pt;">- Lệ phí cấp phát bằng – thẻ PET: 135.000</span><br style="text-align: justify;" /><span style="text-align: justify; font-size: 12pt;">Trọn gói<span style="font-size: 18pt;"> <span style="color: #ff0000;"><strong>590.000/1 hồ sơ</strong>:</span></span> bao gồm tất cả các chi phí từ khi nộp cho tới khi lấy bằng lái.</span><br style="text-align: justify;" /><span style="text-align: justify; font-size: 12pt;">- Trường hợp học viên chưa có Giấy khám sức khỏe - <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">muốn được hỗ trợ KHÁM NHANH tại trường - chỉ tốn 160.000 </span></strong></span>đỡ mất công <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">(</span></strong></span>các bạn có thể <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">tự đi khám</span></strong></span> tại cơ sở y tế cấp quận trở lên - chi phí khoảng<span style="color: #ff0000;"><strong><span style="font-size: 14pt;"> 300.000VND</span></strong></span> - và <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">mất thời gian)</span></strong></span>.</span></p>

<p><span style="text-align: justify; font-size: 12pt;">- Văn phòng có ưu đãi học phí cho các bạn đăng kí nhóm trên 05 người.</span><span style="font-size: 12pt; text-align: justify;"> </span></p>

<div class="ja-typo-blockct clearfix"><span style="font-size: 12pt; text-align: justify;">* Nhà trường hỗ trợ <span style="color: #ff0000;"><strong><span style="font-size: 14pt;">chụp hình miễn phí</span></strong></span> ngay tại văn phòng khi <em><strong>đăng ký thi bằng lái xe a1</strong></em></span></div>

<div class="ja-typo-blockct clearfix"> </div>

<div class="ja-typo-blockct clearfix">
<p><span style="color: #333333;"><span style="font-size: 12pt;"><strong><span style="text-align: justify;"> </span></strong></span><span style="font-size: 12pt;"><strong>2.</strong></span><span style="font-size: 12pt;"> <strong>Địa điểm học và thi bằng lái xe máy ở TP. Hải Phòng:</strong></span></span></p>

<p><span style="font-size: 12pt;">- Lớp Lý thuyết mở 1 buổi cố định vào tối T7 hàng tuần tại nhà A4 Trường Đại học Hàng Hải Việt Nam.</span><br /><span style="font-size: 12pt;">- Học viên có thể tham gia theo học thực hành tại sân tập C10 hoặc Số 514 Trần Nhân Tông, Nam Sơn, Kiến An, Hải Phòng</span><br /><span style="font-size: 12pt;">- Trường hợp bận rộn học viên sẽ được nhận file <strong><em><a href="https://www.daylaixeoto.edu.vn/tai-lieu-hoc-ly-thuyet-lai-xe-oto/meo-thi-bang-lai-xe-may-a1">mẹo thi Lý Thuyết A1</a></em></strong> và tự học ở nhà.</span></p>

<p><span style="color: #333333;"><strong><span style="font-size: 12pt;">3. </span><span style="font-size: 12pt;">Lịch học và lịch thi bằng lái xe máy:</span></strong></span></p>

<p><span style="font-size: 12pt;">Mỗi tháng sẽ có từ 5 -&gt; 7 đợt thi tổ chức theo lịch do Sở GTVT Tp. Hải Phòng duyệt.</span><br /><span style="font-size: 12pt;">Thi vào T7, Cn nên rất thuận lợi cho học viên, trường hợp bận công chuyện không tham gia thi được đúng lịch sẽ được bảo lưu hồ sơ và được sắp xếp thi vào khoá sau.</span></p>

<p><span style="color: #333333;"><strong><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;">4. Thời gian thi và nhận bằng lái xe máy a1:</span></strong></span></p>

<p><span style="color: #333333;"><span style="font-size: 12pt;">- Sau khi đăng kí từ 5-7 ngày sẽ có lịch thi, thi đậu 10-15 ngày làm việc có bằng trường sẽ thông báo qua tin nhắn và thông báo trên </span><span style="font-size: 12pt;">website, các bạn liên tục cập nhật nhé.</span></span> </p>

<div class="contacttainfo" id="tacontactinfo">
    <h4><i aria-hidden="true" class="fa fa-car"> </i> TRƯỜNG DẠY LÁI XE </h4>
    
    <p><i aria-hidden="true" class="fa fa-map-marker"> </i> Số 484, Lạch Tray,Ngô Quyền, Tp. Hải Phòng</p>
    
    <h4><i aria-hidden="true" class="fa fa-hand-o-down"> </i> Cần tư vấn? Xin nhấn để gọi trực tiếp cho chúng tôi nhé! </h4>
    
    <p><i aria-hidden="true" class="fa fa-phone"> </i><a href="tel:0999.999.999 - 0999.999.999 " onclick="ga('send', 'event', 'Phone Call Tracking', 'Click/Touch', 'Call by Phone')"><span>0999.999.999</span></a> –  Thầy Hiếu Dạy Lái Xe An Toàn!<br />
    
    </div>

<p style="text-align: justify;"><span style="font-size: 12pt; color: #000000;">• Từ 01/07/2013, mọi GPLX đều được gia công trên chất liệu PET nhằm chống làm giả và bền bỉ trước các tác động bên ngoài, đồng thời thuận lợi cho công tác tra cứu, lưu trữ điện tử, chi phí gia công 135.000 làm cho mức lệ phí bị tăng theo, các học viên cập nhật thông tin mới.</span><br /><span style="color: #000000;"><span style="font-size: 12pt;">• GPLX bằng thẻ PET được <a href="tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia">tra cứu tại đây</a> trên trang Thông tin GPLX của Tổng cục đường bộ Việt Nam nên <span style="color: #333333;"><strong><span style="font-size: 18pt; color: #ff0000; background-color: #ffff00;">không thể làm giả</span>.</strong></span></span><span style="color: #333333;"><strong><span style="font-size: medium;"> </span></strong></span></span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Hồ sơ đăng ký:</strong></span><br /><span style="font-size: medium;">- 02 chứng minh nhân dân photo (không cần công chứng)</span><br /><span style="font-size: medium;">- 04 tấm hình 3 x 4 nền xanh (vp hỗ trợ chụp miễn phí tuy không đẹp bằng ngoài tiệm :d)</span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><span style="font-size: 12pt;">- Đơn đề nghị học, sát hạch (phát miễn phí khi tới văn phòng đăng kí)</span><br /><span style="font-size: 12pt;">- Giấy khám sức khoẻ:.</span></span></p>

<p style="background-color: #ffffcc; border: 1px solid #f0cb96; padding: 3px 8px; border-radius: 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>Yêu cầu:</strong></span><br /><span style="font-size: medium;">- Học viên phải đủ 18 tuổi trở lên<strong> (</strong>Xem quy định<strong> <a href="tuoi-thi-bang-lai-xe-may-a1" target="_blank">tuổi thi bằng lái xe máy a1</a>)</strong></span><br /><span style="font-size: medium;">- Đủ sức khoẻ lái xe hạng A1 theo luật qui định (không bị teo cơ, bị thừa hoặc thiếu ngón tay…)</span></p>

<h2><span style="color: #000000; font-size: medium;">(*) Quy định về hình thẻ 3x4:</span></h2>

<p><span style="font-size: medium;"><span style="color: #000000;">Theo quy định mới ban hành của Sở GTVT TP. Hải Phòng, hình có hiệu lực phải là:</span><span style="color: #000000;"> </span></span></p>

<ul class="ja-typo-list list-check"><li><span style="font-size: medium;"><span class="icon"> </span>Hình được chụp trong vòng 3 tháng trở lại.</span></li>
	<li><span style="font-size: medium;"><span class="icon"> </span>Hình có màu nền là màu xanh đậm (bắt buộc phải là màu xanh đậm, hồ sơ nộp lên Sở sẽ bị trả lại nếu có hình với màu nền là màu xanh lợt hoặc màu khác màu xanh) như minh họa bên dưới.</span></li>
    <li><span style="font-size: medium;">Trong hình, học viên không được mặc trang phục của các lực lượng vũ trang, không đội nón.
        <p></p> <img alt="" data-entity-type="file" data-entity-uuid="4f01551d-a685-42e0-b1b4-b47ae3814904" height="74" src="/img/hinhmau.jpg" width="83" class="align-right" /></span></li>
</ul><p><span style="color: #000000; font-size: medium;"> </span></p>

<p><span style="color: #000000; font-size: medium;">Xin học viên lưu ý thực hiện đúng yêu cầu để tránh sự phiền hà, tốn công sức cũng như thời gian để làm lại thủ tục.</span></p>

<p><span style="color: #800000;"><strong><span style="font-size: medium;"> </span></strong></span></p>

<p><span style="color: #333333;"><span style="font-size: 12pt;">Nhà trường có nhiều <strong>địa điểm thi bằng lái xe máy</strong> trên khắp thành phố với 3 sân trải đều tại <strong>C10</strong>, <strong>Số 514</strong> để cho học viên lựa chọn, rất thích hợp cho các học viên muốn <strong>thi bằng lái xe máy trong <strong>thành phố </strong>, </span><span style="font-size: 12pt;"><strong>Hải Phòng</strong>,</span><span style="font-size: 12pt;"></span>

<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;">Theo điều 56 Luật GTĐB, người có giấy phép lái xe A2 được điều khiển phương tiên 2 bánh có dung tích xi lanh trên 175 phân khối và cả hạng A1. Hiểu đơn giản thì <strong>bằng lái A2 sẽ bao gồm luôn cả bằng A1</strong> nên nếu bạn nào có ý định rõ ràng về việc sau này chạy xe phân khối lớn thì nên <a href="thi-bang-lai-xe-mo-to-a2" target="_blank">đăng ký thi bằng a2</a> khỏi cần <em><strong>đăng ký thi bằng lái A1</strong></em>.</span></p>

<p style="background-color: #f3ea82; border: 1px solid #FF9600; padding: 3px 8px; display: inline-block; text-shadow: #ffffff 1px 1px 0px;"><span style="font-size: medium;"><strong>&gt;&gt;&gt;</strong>Xem thông tin về khoá<strong><a href="thi-bang-lai-xe-mo-to-a2" target="_blank"> thi bằng a2 tại TP. Hải Phòng</a> </strong><span style="background-color: #ffff99;"><a href="thi-bang-lai-xe-mo-to-a2" target="_blank"><span style="background-color: #ffff99;">tại đây</span></a></span></span></p>

<p><span style="color: #333333;"><span style="font-size: medium;">Trung tâm Dạy Lái Xe An Toàn chân thành cảm ơn sự hợp tác của toàn thể các học viên. Chúc các bạn có thể hoàn tất hồ sơ, thủ tục một cách dễ dàng. Hi vọng học viên luôn có được sự trải nghiệm tốt nhất trong quá trình học và thi tại trung tâm. Nếu có bất kỳ khó khăn, thắc mắc hoặc đóng góp xin đừng ngần ngại liên hệ với chúng tôi, chúng tôi luôn luôn lắng nghe ý kiến đóng góp của học viên và sẵn sàng hỗ trợ bất cứ khi nào.</span></span></p>
<a href="http://hoclaixeoto.vn/de-thi-thu-bang-lai-xe-may-a1-online/"><img alt="" data-entity-type="file" data-entity-uuid="52232d52-e264-4421-910f-4922a2b07353" height="145" src="/sites/default/files/inline-images/bn-on-thi-gplx-a1.jpg" width="865" class="align-center" /></a> 

<p class="text-align-center"><span style="font-size: 12pt;">Cách học <strong><a href="tai-lieu-hoc-ly-thuyet-lai-xe-oto/meo-thi-bang-lai-xe-may-a1">mẹo thi bằng lái xe máy A1</a></strong> dễ hiểu  - </span><span style="font-size: 12pt; text-align: center;">Video tham khảo:</span></p>
</div>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/cpjdIDPi_NU" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/cpjdIDPi_NU" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p><span style="font-size: 12pt;"><object data="https://www.youtube.com/v/VvvPzGbALOA" height="450" style="display: block; margin-left: auto; margin-right: auto;" type="application/x-shockwave-flash" width="100%"><param name="movie" value="https://www.youtube.com/v/VvvPzGbALOA" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /></object> </span></p>

<p><span style="font-size: 12pt;"><span style="font-size: medium;"> </span></span><span style="font-size: 12pt;"><span style="font-size: medium;">Xem thêm các khóa học khác: </span><a href="cac-khoa-hoc-lai-xe-oto" style="font-size: medium;">khóa học lái xe ô tô tại TP. Hải Phòng</a><span style="font-size: medium;">, </span><a href="cac-khoa-hoc-lai-xe-oto/cac-khoa-hoc-khac/hoc-lai-xe-oto-tai-bang-c" style="font-size: medium;">Học Lái Xe Ôtô Tải Bằng C</a></span></p>
</div>
      <div class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/tag/thi-bang-lai-xe-may-a1" hreflang="vi">thi bằng lái xe máy a1</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-tai-TP. Hải Phòng" hreflang="vi">thi bằng lái xe máy tại TP. Hải Phòng</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-TP. Hải Phòng-o-dau" hreflang="vi">thi bằng lái xe máy TP. Hải Phòng ở đâu</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may" hreflang="vi">thi bằng lái xe máy</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a1-gia-bao-nhieu" hreflang="vi">thi bang lai xe a1 gia bao nhieu</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a1-co-kho-khong" hreflang="vi">thi bang lai xe a1 co kho khong</a></li>
          <li><a href="/tag/thi-bang-lai-xe-a1-thuc-hanh" hreflang="vi">thi bang lai xe a1 thuc hanh</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-o-quan-thu-duc" hreflang="vi">thi bằng lái xe máy ở quận Lê Chân</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-o-go-vap" hreflang="vi">thi bằng lái xe máy ở gò vấp</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-o-binh-thanh" hreflang="vi">thi bằng lái xe máy ở An Lão</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-bao-nhieu-tien" hreflang="vi">thi bằng lái xe máy bao nhiêu tiền</a></li>
          <li><a href="/tag/thi-bang-lai-xe-may-o-dau" hreflang="vi">thi bang lai xe may o dau</a></li>
      </ul>
</div>

  </div>
</article>

    </div>
  </div>

  </div>

          <div class="fb-comments" data-href="https://daylaixeoto.edu.vn//thi-bang-lai-xe-gan-may-a1" data-width="100%" data-numposts="5"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="region region-sidebar-left">
    <div id="block-courselistall" class="block block-home block-course-list-block">
  
    
      <div class="content">
      <div class="courses-list-all-right">
   <div class="course-list-all-head">CÁC KHOÁ HỌC</div>
    
   <ul class="course-right-lit">
    <li><a href="/laixeA1">Thi Bằng Lái Xe Máy A1</a></li>
    <li><a href="/nanghang">Nâng Hạng GPLX</a></li>
    <li><a href="/motoA2">Thi Bằng Lái Xe Mô tô A2</a></li>
    <li><a href="/B2tieuchuan">Khoá Học B2 Tiêu Chuẩn</a></li>
    <li><a href="/xesotudongB11">Lái Xe Số Tự Động B11</a></li>
    <li><a href="/B2dacbiet">Khoá Học B2 Đặc Biệt</a></li>
    <li><a href="/B2chithi">B2 Chỉ Thi, Không Học</a></li>
    <li><a href="/laixeA3">Thi Bằng Lái Xe A3</a></li>
    <li><a href="/xetaiC"> Học Lái Xe Tải Bằng C</a></li>
    <li><a href="/thuexe">Cho Thuê Xe Tập Lái </a></li>
   
</ul>
</div>
    </div>
  </div>
  <div id="block-bannerrighthotro" class="block block-block-content block-block-content6438c62c-a886-4bde-a3d0-9f06f30f2f2b">


    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><img alt="" data-entity-type="file" data-entity-uuid="ca5930aa-c894-41c4-a9e4-b7e531ec798f" src="/img/hotro.png" class="align-center" /><p> </p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrighthoclaixe" class="block block-block-content block-block-content3fbaa9e7-3d75-4922-8cfd-612373b5fcf4">
    
    
    <div class="content">
    
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://vtv.vn/chuyen-dong-24h/hoat-dong-bat-thuong-cua-trung-tam-nghi-lua-dao-hang-tram-hoc-vien-lai-xe-20181114111424666.htm"><img alt="" data-entity-type="file" data-entity-uuid="7bdcaab7-b103-440d-a753-74fb3dde7471" height="187" src="/img/canhbao.jpg" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/hoc-lai-xe-oto-so-tu-dong"><img alt="" data-entity-type="file" data-entity-uuid="688f444a-d9d0-4537-a446-09bb5f30eac8" height="342" src="/img/sotudong.png" width="450" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/tin-tuc/tin-tuc-trung-tam/tra-cuu-giay-phep-lai-xe-kiem-tra-bang-that-bang-gia"><img alt="" data-entity-type="file" data-entity-uuid="509a9f47-a735-4683-8a43-78ef50985167" height="307" src="/img/tracuu.jpg" width="448" /></a></p>
    
    <p><a href="https://www.daylaixeoto.edu.vn/thi-thu-ly-thuyet-online"><img alt="" data-entity-type="file" data-entity-uuid="10bed6b1-4f20-458b-ac29-b61e917f3864" height="90" src="/img/thithu.jpg" width="448" /></a></p>
    </div>
    
    </div>
    </div>
    <div id="block-bannerrightchuyendoibangquocte" class="block block-block-content block-block-contentd656baed-1682-422c-9840-3b79732c1a1a">
      <div class="content">
        
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.daylaixeoto.edu.vn/doi-bang-lai-xe-quoc-te"><img alt="" data-entity-type="file" data-entity-uuid="a1d9d785-af58-41ec-a8fc-4ca2ca1154fc" src="/img/chuyendoi.png" /></a></p>
              </div>
    </div>
    
    </div>
    
    </div>
          </div>
    </div>
    
    </section>