<!-- dropzone css -->
<link
  href="assets\libs\dropzone\min\dropzone.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="\assets\libs\toastr\build\toastr.min.css"
/>
<script src="\assets\libs\toastr\build\toastr.min.js"></script>

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Tạo tài khoản</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Admin</a>
            </li>
            <li class="breadcrumb-item active">Tạo tài khoản</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Tài khoản người dùng</h4>
          <form>
            <div class="form-group row mb-4">
              <label for="name" class="col-form-label col-lg-2"
                >Chủ sở hữu</label
              >
              <div class="col-lg-10">
                <input
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                  placeholder="Nhập tên chủ sở hữu..."
                  required
                />
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2"
                >Tên đăng nhập</label
              >
              <div class="col-lg-10">
                <input
                  id="email"
                  name="email"
                  type="text"
                  class="form-control"
                  placeholder="Nhập tên đăng nhập..."
                  required
                />
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="password" class="col-form-label col-lg-2"
                >Mật khẩu</label
              >
              <div class="col-lg-10">
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Nhập mật khẩu..."
                  required
                />
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="re-password" class="col-form-label col-lg-2"
                >Nhập lại mật khẩu</label
              >
              <div class="col-lg-10">
                <input
                  id="re-password"
                  name="passwordConfirm"
                  type="password"
                  class="form-control"
                  placeholder="Nhập lại mật khẩu..."
                  required
                />
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="role" class="col-form-label col-lg-2"
                >Authencation</label
              >
              <div class="col-md-10">
                <select id="role" class="form-control" name="role" required>
                  <option value="" selected disabled hidden>
                    -- Cấp quyền --</option
                  >
                  <% for (item of role) { %> 
                  <option value="<%= item.role%>"><%= item.name %></option>
                  <% } %> 
                </select>
              </div>
            </div>
          </form>
          <div class="row mb-4">
            <label class="col-form-label col-lg-2">Avata</label>
            <div class="col-lg-10">
              <form action="/" method="post" class="dropzone">
                <div class="fallback">
                  <input name="file" type="file" multiple="" />
                </div>

                <div class="dz-message needsclick">
                  <div class="mb-3">
                    <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                  </div>

                  <h4>Drop files here or click to upload.</h4>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-lg-10">
              <button id="submit" class="btn btn-primary">
                Tạo tài khoản
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->

<!-- bootstrap datepicker -->
<script src="assets\libs\bootstrap-datepicker\js\bootstrap-datepicker.min.js"></script>

<!-- dropzone plugin -->
<script src="assets\libs\dropzone\min\dropzone.min.js"></script>

<script>
  $(document).ready(() => {
    toastr.options = {
      closeButton: false,
      debug: false,
      newestOnTop: false,
      progressBar: false,
      positionClass: 'toast-bottom-right',
      preventDuplicates: false,
      onclick: null,
      showDuration: 300,
      hideDuration: 1000,
      timeOut: 5000,
      extendedTimeOut: 1000,
      showEasing: 'swing',
      hideEasing: 'linear',
      showMethod: 'fadeIn',
      hideMethod: 'fadeOut'
    };
    $('#email').focusout(function() {
      $.ajax({
        type: 'POST',
        url: '/api/v1/users/checkuser',
        data: {
          email: $('#email').val()
        },
        success: function(data) {
          if (data['status'] === 'false') {
            toastr['error']('Tài khoản này đã tồn tại', 'Thất bại!');
            $('#email').val('');
            $('#email').focus();
          }
        }
      });
    });
    $('#password').focusout(function() {
      if ($('#password').val().length < 8) {
        toastr['error'](
          'Mật khẩu quá ngắn, vui lòng nhập nhiều hơn 8 ký tự !',
          'Cảnh báo!'
        );
        $('#password').val('');
      }
    });
    $('#re-password').focusout(function() {
      if ($('#password').val() !== $('#re-password').val()) {
        toastr['error'](
          'Mật khẩu không trùng nhau, vui lòng kiểm tra lại !',
          'Cảnh báo!'
        );
        $('#re-password').val('');
      }
    });
    $('#submit').on('click', () => {
      $.ajax({
        url: '/api/v1/users/signup2',
        type: 'POST',
        data: {
          name: $('#name').val(),
          email: $('#email').val(),
          password: $('#password').val(),
          passwordConfirm: $('#re-password').val(),
          role: $('#role').val()
        },
        success: function(data) {
          if (data['status'] === 'true') {
            toastr['success']('Yub! Tạo tài khoản thành công !', 'Thành công!');
          } else {
            toastr['error'](
              'Tạo tài khoản thất bại, vui lòng kiểm tra lại !',
              'Cảnh báo!'
            );
          }
          $('#name').val('');
          $('#email').val('');
          $('#password').val('');
          $('#re-password').val('');
          $('#username').focus();
        }
      });
    });
  });
</script>
